{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/errorpage.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
	<section class="error">
		<div class="error__mess d-flex flex-column justify-content-center align-items-center">
			<div class="description w-100">
				<p>404</p>
				<button onclick="location='/'">Вернутся на сайт</button>
			</div>

		</div>
	</section>
</body>
</html>