{% load cache %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index,follow">
    <title>{{ product.seo_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ product.seo_description }}" >
    <meta name="keywords" content="{{ product.seo_keywords }}" >
    {% cache 500000 header4 %}
        <link rel="SHORTCUT ICON" type="image/x-icon" href="{% static 'libs/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_400_500_700_900.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_Condensed.css' %}">
    <!--icons-->
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free-5.4.2-web/css/all.min.css' %}">
    <!--slick slider-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui.totop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/drop down.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bxslider-4-4.2.12/dist/jquery.bxslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media_detail_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_media.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% endcache %}
</head>
<body>
{% include 'startpage/modal-cart.html' %}
{% include 'startpage/modal-feedback.html' %}
{% include 'startpage/modal-login.html' %}
{% include 'startpage/header.html' %}

<div class="box-top box">
    <div class="top-row d-flex">
        <!--button open categories-->
        <button id="nav-link"></button>
        <!--main drop-->
        <nav id="main">
            <ul class="menu">
                <!--just header-->
                <li class="head" id="drop"><span>Категории</span>
                    <!--first level drop-->
                    <ul class="sub-menu">
                        {% for category in categories %}
                            <li><a id="but-i" class="cat_head" href="{{ category.get_absolute_url }}"
                                   class="c-menu-link">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <!--/first level drop-->
                </li>
            </ul>
        </nav>
        <!--/main drop-->
        <!--just breadcrums-->
        <div class="crumb d-flex">
            <ul class="breadcrumb">
                <li><a style="color: #E49168" href="/">Главная</a></li>
                <li><a style="color: #E47C48" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                </li>
                <li><a style="color: #D3642C" id="js-action-title">{{ product.title }}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="bottom-box box">
    <div class="view-photo">
        <div class="main-block ">
            <div class="left-photo">
                <a class="variable-photo" data-img-src="{{ product.image.url }}"><img src="{{ product.image.url }}"
                                                                                      alt=""></a>
                {% if product.image2 != None and product.image2 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image2.url }}"><img
                            src="{{ product.image2.url }}" alt=""></a>
                {% endif %}
                {% if product.image3 != None and product.image3 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image3.url }}"><img
                            src="{{ product.image3.url }}" alt=""></a>
                {% endif %}
                {% if product.image4 != None and product.image4 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image4.url }}"><img
                            src="{{ product.image4.url }}" alt=""></a>
                {% endif %}
                {% if product.image5 != None and product.image5 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image5.url }}"><img
                            src="{{ product.image5.url }}" alt=""></a>
                {% endif %}
                {% if product.image6 != None and product.image6 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image6.url }}"><img
                            src="{{ product.image6.url }}" alt=""></a>
                {% endif %}
                {% if product.image7 != None and product.image7 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image7.url }}"><img
                            src="{{ product.image7.url }}" alt=""></a>
                {% endif %}
                {% if product.image8 != None and product.image8 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image8.url }}"><img
                            src="{{ product.image8.url }}" alt=""></a>
                {% endif %}
                {% if product.image9 != None and product.image9 != "" %}
                    <a class="variable-photo" data-img-src="{{ product.image9.url }}"><img
                            src="{{ product.image9.url }}" alt=""></a>
                {% endif %}
            </div>

            <div class="main-photo">
                <div class="gola">
						<span class="zoom" id="ex3">
							<img class="zoom_m" id="js-action-img" src="{{ product.image.url }}"/>
						</span>
                </div>
            </div>
        </div>
        <div class="info-pay">
            <div class="top-info">
                <div class="code-tovar" id="js-action-id" data-id="{{ product.id }}">
                    <span>Код -</span> <span class="code">{{ product.code_product }}</span>
                </div>
                <div class="name-tovar">
                    {{ product.category }} | {{ product.title }}
                </div>
            </div>
            <div class="bottom-info">
                <div class="price_tovar">
                    <span>Цена:</span>
                    <span class="price" id="js-action-price">{{ product.price|floatformat }} <sub>грн</sub> </span>
                </div>
                {% if product.id in cart_id_items %}
                    <button class="btn add_to_cart add_to_cart-{{ product.id }}" data-slug="{{ product.slug }}"
                            style="background: rgba(223, 208, 239, 0.46); color: rgb(6, 217, 6);">
                        <i class="far fa-check-circle"></i>
                        <small>Товар в корзине</small>
                    </button>
                {% else %}
                    <button class="btn add_to_cart add_to_cart-{{ product.id }}" data-slug='{{ product.slug }}'>
                        Купить
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!------------box reviews------------>
<div class="box">

    <!--Block with description of product and slider-->
    <div class="left_block">
        <div class="description-product">
            <h3>Описание товара</h3>
            <p>{{ product.description }}</p>
        </div>
        <!-- slider -->
        <div class="viewed-products">
            <h3>Просмотренные товары</h3>
            <div class="slider js-action-session">
            </div>
        </div>
    </div>
    <!-- block with reviews -->
    <div class="reviews right_block">
        <div class="reviews_header">
            <div>
                <h3>Отзывы</h3>
            </div>
            <div class="rating">
                <div class="rating-mark" id="count-start" data-count-stars="{{ product.stars }}">
                </div>
                <script type="text/javascript">
                    var str = "";
                    for (var i = 0; i < parseInt($('#count-start').attr('data-count-stars')); i++) {
                        str += '<i class="fas fa-star"></i>';
                    }
                    $("#count-start").html(str);
                </script>
                <div class="rating-count">
                    <span></span>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <div class="text">
                <input type="hidden" data-id="{{ product.id }}" id="product-id">
                <textarea class="reviews" name="" id="product-comment" cols="30" rows="10" maxlength="350"></textarea>
                <button class="reset"><i class="far fa-times-circle"></i></button>
                <button id="sent-product-comment">Отправить отзыв</button>
            </div>
        {% else %}
            <hr>
            <p class="text">Чтоб оставлять отзывы, нужно <strong><a style="background: deepskyblue; color: #fff; border:none;" href="#" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    data-target="#Open">
                зарегестрироваться</a></strong>
            </p>
            <hr>
        {% endif %}
        <script>
            $("#sent-product-comment").on("click", function () {
                if ($("#product-comment").val() == "" || $("#product-comment").val() == undefined) {
                    console.log('-');
                } else {
                    data = {
                        product_id: $("#product-id").attr('data-id'),
                        product_comment: $("#product-comment").val()
                    };
                    $.ajax({
                        type: "GET",
                        url: '{% url "add_comment" %}',
                        data: data,
                        success: function (data) {
                            window.location.href = document.location.href;
                        }
                    })
                }
            });
        </script>
        <div class="left_reviews">
            {% for commentar in comments %}
                <div class="commented-i">
                    <div class="left_header d-flex justify-content-between">
                        <div class="name_lefter">
                            {{ commentar.author }}
                        </div>
                        <div class="rating d-flex align-items-center">
                            <div class="left_data">
                                <span>{{ commentar.data_time }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="left_comentar">
                        <p>{{ commentar.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'startpage/footer.html' %}
<script>
    // Checkout localstorage
    $(document).ready(function () {
        if (localStorage.length === 0) {
            console.log(localStorage.length);
            setTimeout("$('.bx-wrapper').css('display', 'none');", 700);
        }
    });
</script>
{% block localstorage %}
    {# ajax for cart in detail page #}
    {% include 'startpage/ajax-cart-modal-js.html' %}
{% endblock localstorage %}

{% cache 500000 footer4 %}
<!-- drop-down -->
<script src="{% static 'js/slick/slick.min.js' %}"></script>
<!-- 	<script src="js/script.js"></script> -->
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static  'js/fontawesome.js' %}"></script>
<script src="{% static 'libs/bxslider-4-4.2.12/dist/jquery.bxslider.js' %}"></script>
<script src="{% static 'js/datail_page_script.js' %}"></script>

<!--Modal window-->
<script src="{% static 'js/poper1.14.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap4.1.1.min.js' %}"></script>
<!--to top-->
<script src="{% static 'js/btn-to-top/easing.js' %}"></script>
<script src="{% static 'js/btn-to-top/jquery.ui.totop.min.js' %}"></script>

<script>
    $('#nav-link').click(function () {
        $('.left-panel').toggleClass('left-panel__active');
    });
    $('#close-l').click(function () {
        $('.left-panel').removeClass('left-panel__active')
    });
</script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script>
    $(function () {
        //2. Получить элемент, к которому необходимо добавить маску
        $("#phone").mask("+38(999) 999-9999");
    });
</script>
{% endcache %}
</body>
</html>