{% load cache %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index,follow">
	<title>{{ category.seo_title }}</title>
	<link rel="canonical" href="{{  request.build_absolute_uri }}">
	<meta name="description" content="{{ category.seo_description }}" >
	<meta name="keywords" content="{{ category.seo_keywords }}" >
	{% cache 500000 header3 %}
	    <link rel="SHORTCUT ICON" type="image/x-icon" href="{% static 'libs/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
	<!--fonts-->
	<link rel="stylesheet" href="{% static 'fonts/Roboto_400_500_700_900.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_Condensed.css' %}">
    <!--icons-->
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free-5.4.2-web/css/all.min.css' %}">
    <!--slick slider-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}">
	<!--move to top-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/ui.totop.css' %}">
	<!--drop down menu-->
   <link rel="stylesheet" type="text/css" href="{% static 'css/drop down.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/category-page.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media_style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all_media.css' %}">
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	{% endcache %}
</head>
<body>
	{% include 'startpage/modal-cart.html' %}
	{% include 'startpage/modal-feedback.html' %}
	{% include 'startpage/modal-login.html' %}
	{% include 'startpage/header.html' %}
	<!--row with categories and breadcrumbs-->
	<div class="box">
		<div class="top-row d-flex">
			<!--button open categories-->
			<button id="nav-link"></button>
			<!--main drop-->
			<div class="block">
				<nav id="main">
					<ul class="menu">
						<!--just header-->
						<li class="head" id="drop"><span>Категории</span>
							<!--first level drop-->
							<ul class="sub-menu">
								{% for category in categories %}
								<li><a id="but-i" class="cat_head" href="{{ category.get_absolute_url }}" class="c-menu-link">{{ category.name }}</a></li>
								{% endfor %}
							</ul>
							<!--/first level drop-->
						</li>
					</ul>
				</nav>
				<div class="crumb d-flex">
					<ul class="breadcrumb">
						<li><a style="color: #E49168" href="/">Главная</a></li>
						<li><a style="color: #D3642C" href="{{ category.get_absolute_url }}">{{ category }}</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="bottom-row d-flex">
			<div class="left-panel">
				<button id="close-l" style="background: none; border:none;text-align:right;width: 100%;cursor: pointer;font-size: 20px;
				border-bottom: 1px solid #ccc;	color:#0077CE"><i class="far fa-times-circle"></i></button>
				<div class="price">
					<div class="title" style="border-top: none;">
						<h6 style="padding:0px;">Цена</h6>
					</div>
					<div  class="d-flex">
						<label for="from"> От</label>
						<input type="text" id="from" value="{% if type_from != None %}{{ type_from }}{% endif %}" name="from" class="ajax-from"/>
						<label for="to"> До</label>
						<input type="text" id="to" name="to" value="{% if type_to != None %}{{ type_to }}{% endif %}" class="ajax-to"/>
						<button class="js-action-sort-ui" style="
						height: 26px;
						color: #fff;
						width: 63px;
						border-radius: 1rem;
						background: #E4601E;
						border: none;
						margin-left: 10px;
						font-size: 12px;
						cursor: pointer;">Искать</button>
					</div>
				</div>
				<div class="maker">
					<div class="title">
					</div>
					<form class="maker">
						<label>
							<input class="js-sort-action " type="checkbox" name="check" data-sort="asc">
							<span class="label-text">От дешевых к дорогим</span>
						</label>
						<label>
							<input class="js-sort-action" type="checkbox" name="check" data-sort="desc">
							<span class="label-text">От дорогих к дешевым</span>
						</label>
					</form>
				</div>
				<div class="color">
					<div class="title">
						<h6>Бренды</h6>
					</div>
					<form class="color d-flex flex-column">
						{% for brand in brands %}
						<label>
							<input class="js-sort-action" type="checkbox" name="check" data-sort="{{ brand.brand.name }}">
							<span class="label-text">{{ brand.brand.name }}</span>
						</label>
						{% endfor %}
					</form>
				</div>

			</div>
			<div class="right-panel">
				{% block content %}

				{% endblock content %}
			</div>
		</div>
	</div>
</div>

{% include 'startpage/footer.html' %}
{% block ajax_script %}
{% include 'startpage/ajax-cart-modal-category-js.html' %}
{% endblock ajax_script %}
	{% cache 500000 footer3 %}
<!--slick slider-->
<script src="{% static 'js/slick/slick.js' %}"></script>
<!-- UItoTop plugin -->
<!--to top-->
<script src="{% static 'js/btn-to-top/easing.js' %}"></script>
<script src="{% static 'js/btn-to-top/jquery.ui.totop.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script>

</script>

<!--Modal window-->
<script src="{% static 'js/poper1.14.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap4.1.1.min.js' %}"></script>

<script src="{% static 'js/detail_category.js' %}"></script>
<script>
	$('#nav-link').click(function(){
		$('.left-panel').toggleClass('left-panel__active');
	});
	$('#close-l').click(function(){
		$('.left-panel').removeClass('left-panel__active')
	});
</script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script>$(function () {
    $("#phone").mask("+38(999) 999-9999");
});</script>
{% endcache %}
</body>
</html>