{% extends 'ecomapp/base_category.html' %}
{% load static %}
{% block content %}
    <div class="cards d-flex flex-wrap">
        {% for product in products_of_category %}
            <div class="card-i" id="product-{{ product.id }}">
                <!--******************top side of card******************-->
                <div class="top-card">
                    <!--button add product to package-->
                    <a href="" class="add-product">

                        {% if product.id in cart_id_items %}
                            <i class="fas fa-cart-plus add_to_cart_icon" data-slug='{{ product.slug }}'
                               style="color: rgb(6, 178, 6)"></i>
                        {% else %}
                            <i class="fas fa-cart-plus add_to_cart_icon" data-slug='{{ product.slug }}'></i>
                        {% endif %}

                    </a>
                    <!---just image-->
                    <a href="{{ product.get_absolute_url }}" class="img"><img
                            src="{{ product.image.url }}" alt="{{ product.title }}"
                            title="{{ product.title }}"></a>
                    <!--variable colors-->
<!--                     <ul class="colorfull">
    <li class="variable-color-i"></li>
    <li class="variable-color-i"></li>
</ul> -->
                </div>
                <!--******************Bottom side of card******************-->
                <div class="bottom-card">
                    <!--title of tovar-->
                    <h2 class="title-phone">
                        <a href="{{ product.get_absolute_url }}">{{ product.title }} Код
                            - {{ product.code_product }}</a>
                    </h2>
                    <p class="description">
                        3-32 / Qualcomm 625 / 5.99
                    </p>
                    <!--Price and rating of product-->
                    <div class="price-rating d-flex justify-content-between align-items-center">
                        <!--just price-->
                        <div class="price">
                            <span class="price">{{ product.price|floatformat }} </span><span
                                class="f">грн</span>
                        </div>
                        <!--just rating-->
                        <div class="rating">
                            <div class="rating-mark">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
<!--                             <div class="rating-count">
    <span class="count_o">132</span>
    <span>отзывов</span>
</div> -->
                        </div>
                    </div>
                    <!--Btn make a sale-->
                    {% if product.id in cart_id_items %}
                        <button class="btn add_to_cart" data-slug="{{ product.slug }}"
                                style="background: rgba(223, 208, 239, 0.46); color: rgb(6, 217, 6);">
                            <i class="far fa-check-circle"></i>
                            <small>Товар в корзине</small>
                        </button>
                    {% else %}
                        <button class="btn add_to_cart" data-slug='{{ product.slug }}'>
                            Купить
                        </button>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
    <nav class="list-group-pagination">
        <ul class="pagination d-flex justify-content-center">
            {% if products_of_category.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="/{{ category_slug }}/{{ products_of_category.previous_page_number }}/{% if sort_url != None %}{{ sort_url }}{% endif %}">
                    <span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="page-item disabled"><a style="color: grey;" class="page-link" href=""><span
                        aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for page in products_of_category.paginator.page_range %}
                {% if page == products_of_category.number %}
                    <li class="page-item"><a class="page-link active" href="/{{ category_slug }}/{{ page }}/{% if sort_url != None %}{{ sort_url }}{% endif %}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/{{ category_slug }}/{{ page }}/{% if sort_url != None %}{{ sort_url }}{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products_of_category.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="/{{ category_slug }}/{{ products_of_category.next_page_number }}/{% if sort_url != None %}{{ sort_url }}{% endif %}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a style="color: grey;" class="page-link" href="">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>


    <script type="text/javascript">
        // Сортування чекбоксів
        $('.js-sort-action').on('click', function () {
            var getParam = $(this).attr('data-sort');
            document.location.href = {{ category.get_absolute_url }}+"?sort=" + getParam;
        });
        // Сортування від і до
        $('.js-action-sort-ui').on('click', function () {
            var getFrom = $('#from').val();
            var getTo = $('#to').val();
            var getParam = "";
            if (getFrom != "") {
                getParam += ("from=" + getFrom + "&");
            }
            if (getTo != "") {
                getParam += ("to=" + getTo + "&");
            }
            document.location.href = {{ category.get_absolute_url }}+"?" + getParam;
        });
    </script>
{% endblock content %}
