{% extends 'ecomapp/base_product.html' %}
{% load static %}
{% block localstorage %}
<script type="application/javascript">
    var str = '';
    for (let i = 0; i < localStorage.length; i++) {
            let index = localStorage.key(i);
            var item = JSON.parse(localStorage.getItem(index));
            str +=  "<div class=\"card-i\"><div class=\"top-card\">\n" +
                "<a href=\""+item.href+"\">\n" +
                "<img src='"+item.img+"' alt=\"\">\n" +
                "</a>\n" +
                "</div>\n" +
                "<div class=\"bottom-card\">\n" +
                "<div class=\"name_product\">\n" +
                "<a href='"+item.href+"'>\n" +
                ""+item.title+""+
                "</a>" +
                "</div>" +
                "<div class=\"price_tovar\">" +
                "<span>"+item.price+"</span>" +
                "</div>" +
                "<div class=\"reviews\">" +
                "<hr>" +
                "</div>" +
                "</div></div></div>"
        }

        $('.js-action-session').empty().append(str);
        $(document).ready(function () {
        var title = $("#js-action-title").text();
        var price = $("#js-action-price").text();
        var img = $("#js-action-img").attr('src');
        var id = $("#js-action-id").attr('data-id');

        strJSON = '{"title":"' + title + '","price":"' + price + '","img":"' + img + '","href":"' + document.location.href + '"}';
        localStorage.setItem(id, strJSON);
    });
</script>
<!-- /session -->

<!-------------------------AJAX----------------------------->
<script>
    // Redirect to cart
    $('.redirect-cart').on('click', function () {
        window.location.href = '{% url 'cart' %}';
    });
</script>
<script>
    $(document).ready(function(){$('.add_to_cart').on('click',function(e){e.preventDefault();$(this).css('background','rgba(223, 208, 239, 0.46)');$(this).html('<i class="far fa-check-circle"></i>'+'<small>Товар в корзине</small>').css('color','#06d906');var icons=$(this).parent().parent().find('.add_to_cart_icon');icons.css('color','#06b206');product_slug=$(this).attr('data-slug');data={'product_slug':product_slug};$.ajax({type:"GET",url:'{% url "add_to_cart" %}',data:data,success:function(data){$("#cart_count").html(data.cart_total);$('#cart-total-price').html(data.cart_total_price+'<small> <sub>грн</sub> </small>');$.ajax({type:"GET",url:'{% url 'format_html_for_cart' %}',data:{},success:function(data){$('.card-item').detach();$('.card-items-header').after(data)}})}})});$('body').on('click','.cart-item-qty',function(){qty=$(this).val();item_id=$(this).attr('data-id');data={'qty':qty,'item_id':item_id};$.ajax({type:"GET",url:'{% url "change_item_qty" %}',data:data,success:function(data){$("#cart_count").html(data.cart_total);$('#cart-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#cart-total-price').html('<span class="d-flex" id="cart-total-price">'+parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small></span>')}})});$('.cart-empty').css('display','none');$('body').on('click','.remove_from_cart',function(e){e.preventDefault();product_slug=$(this).attr('data-slug');item_product_id=$(this).attr('data-id');data={product_slug:product_slug};$.ajax({type:"GET",url:'{% url "remove_from_cart" %}',data:data,success:function(data){$("#cart_count").html(data.cart_total);$('#field-id-'+item_product_id).detach();$('.cart-item-'+item_product_id).css('display','none');$('#cart-total-price').html(parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small>');if($(".add_to_cart-"+data.product_id).length>0){$(".add_to_cart").text('КУПИТЬ');$(".add_to_cart").css('background','#E4601E');$(".add_to_cart").css('color','#fff')}}})})})
</script>
{% endblock localstorage %}