@media screen and (max-width: 578px){
    .modal .modal-dialog .modal-footer .amount{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .block-slider{
        padding: 5px;
    }
}