    .top-row{
      padding: 10px 0px;
    }
    ul{
      margin: 0px;
      padding: 0px;
    }
    #main{
      z-index: 1;
      position: relative;
      font-family: "Roboto Condensed";
      color: #fff;
      width: 250px;

    }
    #main .menu {
      width: 100%;
      height: 100%;
 
    }
    #main .menu .head{
      width: 100%;
      height: 100%;
    }
    #main span{
      padding: 7px 10px ;
      display: block;
      height: 44px!important;
      width: 100%;
      font-size: 21px;
      background: deepskyblue;
      position: relative;
    }
    #main span::after{
      content: '\f0d7';
      font-family: "FontAwesome";
      font-size: 28px;
      position: absolute;
      right: 19px;
      top: -2px;
    }
    .sub-menu{
      overflow-y: scroll;
      width: 100%;  
      height: 305px;
      display: none;
      position: absolute;
      border: 1px solid #ccc;
      background: #fff;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    }
    .sub-menu li a.cat_head{
      display: block;
      margin: 0px;
      padding: 10px;
      background: #fff;

      font-size: 16px 
      ;color: #ccc;
      border-bottom: 1px solid #ccc;
      position: relative;
    }
        .sub-menu li a.cat_head:hover{
          background: deepskyblue;
          color: #fff;
          opacity: .6;
          text-decoration: none;;
    }
/*     .sub-menu li a.cat_head:after{
  content: '\f0d7';
  position: absolute;
  right: 19px;
  font-family: "FontAwesome";
} */
    li > a:after { 
  content: '\f0d7';
  position: absolute;
  right: 19px;
  font-family: "FontAwesome";
       }
    li > a:only-child:after {
     content: ''; 
   }
    .sub-menu li{
      border-bottom: 1px solid #fff;
    }
    .sub-menu li ul {
      display: none;
    }
    .sub-menu li ul li{
      list-style-type: square;
      width: 100%!important;
      background: #fff;
      color: #fff;
      display: block;
      margin: 0px;
      border-bottom: 1px solid #E47C48;
    }
        .sub-menu li ul li a::before{
          content: '\f0a3';
          margin-right: 10px;
          font-size: 10px;
          font-family: "fontAwesome";
        }
    .sub-menu li ul li a{
      color: #E47C48;
      display: block;
      padding: 10px 10px 10px 40px;
      text-decoration: none;
    }

    .sub-menu li ul li a:hover{
      background: #70a1ff;
      cursor: pointer;
      color: #fff;
    }
        .sub-menu li ul li a:hover{
      color: #fff;
    }
