body {
  background: #E4601E; }

ul li {
  list-style-type: none; }

.error {
  width: 100%;
  background: url(../img/error.jpg) center center/cover;
  height: 100vh; }
  .error .error__mess {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .error .error__mess .description {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .error .error__mess .description p {
        font-size: 300px;
        color: #fff;
        font-weight: 900; }
      .error .error__mess .description button {
        margin-top: -75px;
        background: #E4601E;
        border: none;
        color: #fff;
        padding: 14px 35px;
        border-radius: 0.3rem;
        cursor: pointer;
        font-family: "Roboto";
        font-size: 15.5px;
        transition: all 0.4s ease;
        max-width: 200px; }
        .error .error__mess .description button:hover {
          opacity: 0.8; }

@media screen and (max-width: 576px) {
  .error .error__mess .description p:nth-child(1) {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    font-size: 10em !important;
    height: 210px; }
  .error .error__mess .description p:nth-child(2) {
    font-weight: 400;
    font-size: 18px; }
  .error .error__mess .description button {
    margin-top: 0px; } }

/*# sourceMappingURL=errorpage.css.map */
