@media screen and (max-width: 992px) {
  .card-item .adapt-f {
    width: 100% !important; }
  .card-item .adapt-s {
    width: 100% !important; }
    .card-item .adapt-s .card-item-column:nth-child(2) {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center !important;
      width: 40% !important; }

  .all-info-for-user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }

  .table__info_owner {
    max-width: 100%; }
    .table__info_owner .personal-info {
      border-right: none;
      padding-right: 0px; } }
@media screen and (max-width: 768px) {
  .persona-area {
    padding: 10px; }
    .persona-area .table__info_ordering, .persona-area .table__info_owner {
      padding: 10px; }
      .persona-area .table__info_ordering .ordering__header, .persona-area .table__info_ordering .ordering__info, .persona-area .table__info_owner .ordering__header, .persona-area .table__info_owner .ordering__info {
        width: 100%; }
        .persona-area .table__info_ordering .ordering__header .number__order, .persona-area .table__info_ordering .ordering__info .number__order, .persona-area .table__info_owner .ordering__header .number__order, .persona-area .table__info_owner .ordering__info .number__order {
          width: 200px; }
        .persona-area .table__info_ordering .ordering__header .data__order, .persona-area .table__info_ordering .ordering__info .data__order, .persona-area .table__info_owner .ordering__header .data__order, .persona-area .table__info_owner .ordering__info .data__order {
          width: 100px; }
        .persona-area .table__info_ordering .ordering__header .type__order, .persona-area .table__info_ordering .ordering__info .type__order, .persona-area .table__info_owner .ordering__header .type__order, .persona-area .table__info_owner .ordering__info .type__order {
          width: 150px; }
        .persona-area .table__info_ordering .ordering__header .status__order, .persona-area .table__info_ordering .ordering__info .status__order, .persona-area .table__info_owner .ordering__header .status__order, .persona-area .table__info_owner .ordering__info .status__order {
          width: 250px; }
        .persona-area .table__info_ordering .ordering__header .detail__order, .persona-area .table__info_ordering .ordering__info .detail__order, .persona-area .table__info_owner .ordering__header .detail__order, .persona-area .table__info_owner .ordering__info .detail__order {
          width: 200px; } }
@media screen and (max-width: 576px) {
  .persona-area {
    padding: 2px !important; }
    .persona-area .main-title h3 {
      font-size: 20px; }
    .persona-area .description-area h4 {
      font-size: 17px;
      text-align: center; }
    .persona-area .table__info_ordering, .persona-area .table__info_owner {
      padding: 2px; }
      .persona-area .table__info_ordering .ordering__header, .persona-area .table__info_owner .ordering__header {
        font-size: 13px; }
      .persona-area .table__info_ordering .ordering__info div span, .persona-area .table__info_owner .ordering__info div span {
        font-size: 12px; }
      .persona-area .table__info_ordering .ordering__info .detail__order button, .persona-area .table__info_owner .ordering__info .detail__order button {
        padding: 2px;
        margin: 0px 2px 0px 1px; }
      .persona-area .table__info_ordering .ordering__header, .persona-area .table__info_ordering .ordering__info, .persona-area .table__info_owner .ordering__header, .persona-area .table__info_owner .ordering__info {
        width: 100%; }

  .adapt-s .card-item-column:nth-child(2) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center !important; }

  .table__info_owner .owner__header {
    font-size: 13px; }
  .table__info_owner .owner__info {
    font-size: 13px;
    color: #4C4C4C;
    font-family: "Roboto";
    font-weight: 400; } }

/*# sourceMappingURL=media_account.css.map */
