@media screen and (max-width: 1274px) {
  .box .reviews .reviews_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
  .box .reviews .left_reviews .rating {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; } }
@media screen and (max-width: 992px) {
  .box {
    width: 80%; }

  header .header_content .search_box form input[type="text"] {
    width: 400px; }

  .bottom-box .view-photo {
    display: block !important; }

  .box {
    display: block; }
    .box .reviews .reviews_header {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: row; }
    .box .reviews .left_reviews .rating {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; } }
@media screen and (max-width: 768px) {
  header {
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    header .logo {
      text-align: center;
      width: 100%; }
    header .header_content {
      width: 100%;
      display: block; }
      header .header_content .phones {
        margin-top: 15px; }
        header .header_content .phones .g_phones {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex; }
          header .header_content .phones .g_phones .header_phone__i {
            margin-right: 14px; }
        header .header_content .phones .out_call {
          background: #0077CF;
          color: #fff;
          border-bottom: none;
          padding: 14px 7px;
          display: flex;
          align-items: center;
          justify-content: center; }
      header .header_content .search_box {
        width: 100%;
        display: block; }
        header .header_content .search_box form {
          margin-top: 11px; }
          header .header_content .search_box form input[type="text"] {
            width: 100%; }
    header .header_content_user {
      width: 100%;
      margin-top: 10px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; } }
@media screen and (max-width: 576px) {
  .header .phones {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    .header .phones .g_phones {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }

  .box-top .top-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }

  .bottom-box .view-photo .main-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    .bottom-box .view-photo .main-block .left-photo {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: flex-end !important;
      width: 100%;
      overflow: hidden;
      height: inherit;
      z-index: 0; }
      .bottom-box .view-photo .main-block .left-photo .variable-photo {
        width: 80px; }
    .bottom-box .view-photo .main-block .main-photo {
      width: auto;
      height: auto; }
  .bottom-box .view-photo .info-pay .top-info .code-tovar {
    font-size: 15px; }
  .bottom-box .view-photo .info-pay .top-info .name-tovar {
    font-size: 15px !important; }
  .bottom-box .view-photo .info-pay .bottom-info .price_tovar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .bottom-box .view-photo .info-pay .bottom-info .price_tovar span {
      font-size: 1rem; }
      .bottom-box .view-photo .info-pay .bottom-info .price_tovar span.price {
        font-size: 1.3rem !important; }

  .reviews .reviews_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column !important; }
  .reviews .text button:nth-child(3) {
    width: 100%; }
  .reviews .left_reviews .left_comentar p {
    font-size: 13px; }
  .reviews .left_reviews .rating {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; } }

/*# sourceMappingURL=media_detail_page.css.map */
