@charset "UTF-8";
@media screen and (max-width: 992px) {
  header .header_content .search_box form input[type="text"] {
    width: 400px; }

  .block-c .f-screen {
    display: block; }
    .block-c .f-screen .category {
      width: 100%;
      margin-bottom: 1%;
      position: relative; }
      .block-c .f-screen .category .category_header {
        width: 100%; }
        .block-c .f-screen .category .category_header:before {
          font-size: 24px;
          content: "";
          font-family: "FontAwesome"; }
      .block-c .f-screen .category .c-menu {
        display: block;
        overflow-y: scroll;
        position: absolute;
        z-index: 999;
        width: 100%;
        display: none;
        background: #fff;
        border: 1px solid #adadad; }
    .block-c .f-screen .wrappererd {
      margin: 0px; }
    .block-c .f-screen .main {
      margin: 0px auto; }

  .wrappererd .main .slick-list .slick-slide {
    margin: 0px 5px; }
    .wrappererd .main .slick-list .slick-slide .card-i {
      height: 415px; }
      .wrappererd .main .slick-list .slick-slide .card-i .bottom-card .price-rating .price {
        font-size: 23px; }
      .wrappererd .main .slick-list .slick-slide .card-i .bottom-card .title-phone {
        font-size: 14px; } }
@media screen and (max-width: 768px) {
  header .block-a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 0px 50px; }
  header .header_content {
    width: 100%;
    display: block; }
    header .header_content .phones {
      margin-top: 15px; }
      header .header_content .phones .g_phones {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        header .header_content .phones .g_phones .header_phone__i {
          margin-right: 14px; }
      header .header_content .phones .out_call {
        background: #0077CF;
        color: #fff;
        border-bottom: none;
        padding: 14px 7px;
        display: flex;
        align-items: center;
        justify-content: center; }
    header .header_content .search_box {
      width: 100%;
      display: block; }
      header .header_content .search_box form {
        margin-top: 11px; }
        header .header_content .search_box form input[type="text"] {
          width: 100%; }
  header .header_content_user {
    width: 100%;
    margin-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }

  .wrappererd .main .slick-list .slick-slide {
    margin: 0px 4px; }
    .wrappererd .main .slick-list .slick-slide .card-i {
      height: 390px;
      border: 1px solid #E4601E; }
      .wrappererd .main .slick-list .slick-slide .card-i .top-card a {
        height: 145px; }
      .wrappererd .main .slick-list .slick-slide .card-i .top-card .category a {
        height: auto; }
      .wrappererd .main .slick-list .slick-slide .card-i .bottom-card .price-rating .price {
        font-size: 23px; }
      .wrappererd .main .slick-list .slick-slide .card-i .bottom-card .title-phone {
        font-size: 14px; }
      .wrappererd .main .slick-list .slick-slide .card-i .bottom-card .btn {
        font-size: 13px; }

  /*modal registration and enter */
  .signin .modal-dialog .modal-content .modal-body {
    text-align: center; }
    .signin .modal-dialog .modal-content .modal-body form .auth-in .kostyl input {
      height: 29px !important;
      margin: 0px;
      width: 82%; }
    .signin .modal-dialog .modal-content .modal-body form .modal-footer {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
    .signin .modal-dialog .modal-content .modal-body input[type="submit"] {
      width: 90% !important; }
    .signin .modal-dialog .modal-content .modal-body input[type="submit"]:nth-child(2) {
      margin-top: 17px; }
    .signin .modal-dialog .modal-content .modal-body .modal-footer > :not(:first-child) {
      margin-left: 0rem; } }
@media screen and (max-width: 576px) {
  .wrappererd {
    margin: 0px; }

  .section-3 .main, .section-4 .main, .section-5 .main {
    padding: 0px; }

  .header .phones {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    font-size: 14px; }
    .header .phones .g {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
      .header .phones .g .header_phone__i {
        font-size: 14px;
        margin: 0px !important; }

  .block-c {
    padding: 0px; } }
/**********MEDIA CATEGORY PAGE******************************************************************************* */
@media screen and (max-width: 1000px) {
  .right-panel .card-i {
    width: 33%; } }
@media screen and (max-width: 768px) {
  body {
    position: relative; }

  .top-row #nav-link {
    display: block; }
  .top-row #main {
    width: 100%; }
  .top-row .block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
  .top-row nav {
    width: 30%; }
    .top-row nav .menu li.head {
      width: 100%; }
      .top-row nav .menu li.head a.head {
        width: 100%; }

  .box {
    padding: 0px; }
    .box .bottom-row .left-panel {
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      background: #fff;
      position: absolute;
      transform: translateX(-100%);
      transition: all 0.3s ease; }
      .box .bottom-row .left-panel #close-l {
        display: block; }
      .box .bottom-row .left-panel__active {
        transition: all 0.3s ease;
        transform: translateX(0%); }
    .box .bottom-row .right-panel .card-i {
      width: 50%;
      border: none;
      border-bottom: 1px solid #ccc; }
      .box .bottom-row .right-panel .card-i:nth-child(odd) {
        border-right: 1px solid #ccc; } }
@media screen and (max-width: 576px) {
  body {
    position: relative; }

  .top-row #nav-link {
    display: block; }
  .top-row #main {
    width: 100%; }
  .top-row nav {
    width: 30%; }
    .top-row nav .menu li.head {
      width: 100%; }
      .top-row nav .menu li.head a.head {
        width: 100%; }

  .box {
    padding: 0px; }
    .box .bottom-row .left-panel {
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      background: #fff;
      position: absolute;
      transform: translateX(-100%);
      transition: all 0.3s ease; }
      .box .bottom-row .left-panel #close-l {
        display: block; }
      .box .bottom-row .left-panel__active {
        transition: all 0.3s ease;
        transform: translateX(0%); }
    .box .bottom-row .right-panel .card-i {
      width: 50%;
      border: none;
      border-bottom: 1px solid #ccc; } }

/*# sourceMappingURL=media_style.css.map */
