@media screen and (max-width: 568px) {
  .section-slider .wrapper {
    width: 100%; }

  .section-goods .wrapper, .section-goods .section-goods {
    width: 100% !important; }
    .section-goods .wrapper .goods-slider .card-i, .section-goods .section-goods .goods-slider .card-i {
      padding: 10px;
      height: 400px; }
      .section-goods .wrapper .goods-slider .card-i .top-card a, .section-goods .section-goods .goods-slider .card-i .top-card a {
        height: 150px; }
      .section-goods .wrapper .goods-slider .card-i .bottom-card .title-phone, .section-goods .section-goods .goods-slider .card-i .bottom-card .title-phone {
        font-size: 14px; }
      .section-goods .wrapper .goods-slider .card-i .bottom-card .price-rating .price, .section-goods .section-goods .goods-slider .card-i .bottom-card .price-rating .price {
        font-size: 25px; }
    .section-goods .wrapper .goods-slider .slick-slide, .section-goods .section-goods .goods-slider .slick-slide {
      margin-right: 2.5px !important;
      margin-left: 2.5px !important; } }

/*# sourceMappingURL=media_landing.css.map */
