@charset "UTF-8";
ul {
  padding: 0px;
  margin: 0px; }

header {
  border-bottom: 1px solid #ccc;
  font-family: "Roboto", Arial, sans-serif;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 7px 0px; }
  header .block-a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px; }
    header .block-a .central-info .logo img {
      width: 160px; }
  header .header_content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    header .header_content .phones {
      color: #5b5b5b;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; }
      header .header_content .phones h3 {
        font-size: 20px;
        font-weight: 400; }
      header .header_content .phones .g {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center; }
        header .header_content .phones .g .header_phone__i {
          font-size: 17px;
          margin-right: 2px;
          font-weight: 400;
          font-family: "Roboto";
          color: rgba(0, 0, 0, 0.7); }
          header .header_content .phones .g .header_phone__i:first-child {
            margin-right: 13px; }
      header .header_content .phones .btn {
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
        background: transparent;
        text-decoration: none;
        margin-left: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        padding: 0px;
        border-radius: 0px; }
        header .header_content .phones .btn i {
          margin-left: 3px; }
      header .header_content .phones .btn-primary {
        border: none; }
      header .header_content .phones .btn-primary:not(:disabled):not(.disabled):active {
        border: none;
        background: transparent;
        color: #E4601E;
        margin-top: 1px; }
      header .header_content .phones .btn-primary:not(:disabled):not(.disabled):focus {
        box-shadow: none; }
  header .central-info .logo {
    text-align: center; }
    header .central-info .logo img {
      width: 430px; }
  header .search_box {
    margin-top: 8px; }
    header .search_box form {
      position: relative; }
      header .search_box form img {
        position: absolute;
        left: 9px;
        top: 7px;
        width: 19px; }
      header .search_box form input[type="text"] {
        padding-left: 30px;
        height: 34px;
        border-radius: 2rem;
        width: 520px;
        font-size: 14px;
        outline: none;
        border: none;
        color: #80868B;
        background: #F1F3F4; }
      header .search_box form a {
        position: absolute;
        background: #E4601E;
        color: #fff;
        right: 0px;
        height: inherit;
        top: 0px;
        padding: 6px 15px;
        font-size: 15px;
        text-decoration: none;
        /* border-radius: 1rem; */
        border-top-right: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem; }
  header .header_content_user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
    header .header_content_user button {
      width: 60px; }
      header .header_content_user button:hover {
        color: #fff; }
        header .header_content_user button:hover i {
          color: #fff; }
      header .header_content_user button .fas {
        font-size: 27px;
        color: #80868B; }
    header .header_content_user img {
      display: block;
      width: 52px;
      text-align: center;
      align-self: center; }
    header .header_content_user .singin button.btn-primary:hover {
      background: #E4601E; }
    header .header_content_user .singin button.btn-primary:active {
      background: #F6B24D; }
    header .header_content_user button {
      outline: none;
      background: none;
      border: none;
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #5b5b5b;
      cursor: pointer;
      font-size: 13px;
      background: transparent;
      transition: all 0.4s ease;
      border-radius: 0.3rem;
      padding: 6px 5px;
      margin-right: 10px; }
      header .header_content_user button:nth-child(2) {
        margin: 0px; }
      header .header_content_user button .count_purches {
        position: absolute;
        right: 6px;
        top: -3px;
        background: #E4601E;
        padding: 2px 4px;
        font-size: 13px;
        color: #fff; }
    header .header_content_user button.btn-primary:not(:disabled):not(.disabled):active {
      background: #F6B24D; }
    header .header_content_user button.btn-primary:hover {
      background: #E4601E; }

/* drop-list */
.search_box form {
  position: relative; }
  .search_box form .drop-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 20px; }
    .search_box form .drop-list li {
      width: 100%;
      border-bottom: 1px solid #ccc; }
      .search_box form .drop-list li:last-child {
        border-bottom: none; }
        .search_box form .drop-list li:last-child:hover {
          background: #E47C48;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px; }
      .search_box form .drop-list li:first-child:hover {
        background: #E47C48;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px; }
      .search_box form .drop-list li:hover {
        background: #E47C48; }
        .search_box form .drop-list li:hover a {
          color: #fff; }
      .search_box form .drop-list li a {
        background: transparent;
        box-shadow: none;
        width: 100%;
        padding: 8px 23px;
        font-size: 0.8rem;
        color: #737277;
        position: static; }

/* ////drop-list//// */
/* ----------------------------------Medi querys---------------------------------- */
@media screen and (max-width: 992px) {
  header .header_content .search_box form input[type="text"] {
    width: 400px; } }
@media screen and (max-width: 768px) {
  header .block-a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 0px 50px; }
  header .header_content {
    width: 100%;
    display: block; }
    header .header_content .phones {
      margin-top: 15px; }
      header .header_content .phones .g_phones {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        header .header_content .phones .g_phones .header_phone__i {
          margin-right: 14px; }
      header .header_content .phones .out_call {
        background: #0077CF;
        color: #fff;
        border-bottom: none;
        padding: 14px 7px;
        display: flex;
        align-items: center;
        justify-content: center; }
    header .header_content .search_box {
      width: 100%;
      display: block; }
      header .header_content .search_box form {
        margin-top: 11px; }
        header .header_content .search_box form input[type="text"] {
          width: 100%; }
  header .header_content_user {
    width: 100%;
    margin-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; } }
@media screen and (max-width: 576px) {
  .header .phones {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    font-size: 14px; }
    .header .phones .g {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
      .header .phones .g .header_phone__i {
        font-size: 14px;
        margin: 0px !important; } }
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-button {
  background: none;
  height: 0px; }

::-webkit-scrollbar-track {
  background: #F5F5F5;
  box-shadow: inset 0px 0px 6px #ccc; }

::-webkit-scrollbar-thumb {
  background: #E4601E; }

/*modal basket */
.modal {
  z-index: 999999; }
  .modal .modal-dialog .modal-header {
    background: #f5f5f5;
    font-family: "Roboto Condensed", sans-serif; }
  .modal .modal-dialog .modal-body {
    background: #fff; }
  .modal .modal-dialog .modal-footer button {
    font-size: 16px;
    width: 44%;
    margin: 0px;
    margin-top: 4px;
    border-radius: 100px; }
  .modal .modal-dialog .modal-footer .btn-primary {
    color: #0078D3;
    outline: none;
    outline: none;
    background: #E4601E;
    border: none;
    margin-top: 5px; }
    .modal .modal-dialog .modal-footer .btn-primary a {
      color: #fff; }
  .modal .modal-dialog .modal-footer .amount {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    font-size: 20px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #E4601E;
    border-radius: 100px;
    padding: 0px 0px 0px 12px;
    background: #E4601E;
    color: #fff; }
    .modal .modal-dialog .modal-footer .amount span:nth-child(1) {
      margin-right: 4px;
      font-size: 17px; }
    .modal .modal-dialog .modal-footer .amount span:nth-child(2) {
      padding: 1px 3px;
      border-radius: 100px;
      color: #fff;
      background: #E48F65;
      font-size: 1rem;
      box-shadow: -4px 0px 8px -2px rgba(0, 0, 0, 0.7); }
  .modal .modal-dialog .popup_precard {
    font-family: "Roboto Condensed", sans-serif;
    overflow-y: scroll;
    height: inherit;
    height: 25em; }
    .modal .modal-dialog .popup_precard .card-items-header {
      position: relative;
      border-bottom: 1px solid #ccc;
      font-weight: 500;
      filter: blur(0px); }
      .modal .modal-dialog .popup_precard .card-items-header .name-header {
        width: 45%;
        text-align: left; }
      .modal .modal-dialog .popup_precard .card-items-header .price-header {
        width: 18%;
        text-align: center; }
      .modal .modal-dialog .popup_precard .card-items-header .quontity-header {
        width: 18%;
        text-align: center; }
      .modal .modal-dialog .popup_precard .card-items-header .sum-header {
        width: 18%;
        text-align: center; }
    .modal .modal-dialog .popup_precard .card-item {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc;
      position: relative; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f {
        width: 60%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column {
          align-items: center;
          width: 20%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          align-items: center; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img {
            height: 120px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a {
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              align-items: center;
              height: inherit;
              width: 100%; }
              .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a img {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
            font-size: 1.2em;
            vertical-align: middle;
            width: 60%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
            width: 25%;
            font-weight: 500;
            font-size: 23px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price span {
              font-size: 23px; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s {
        width: 40%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
          width: 60%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity {
            width: 100%;
            text-align: center;
            position: relative; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu {
              background: red;
              border: 1px soli #ccc; }
              .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
                cursor: pointer;
                content: "";
                position: absolute;
                top: 12px;
                left: 40px;
                background: #E4601E;
                width: 12px;
                height: 2px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity input {
              width: 40px;
              border: 1px solid #ccc;
              text-align: center; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
              cursor: pointer;
              content: "";
              position: absolute;
              top: 12px;
              right: 40px;
              background: #E4601E;
              width: 12px;
              height: 2px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
              cursor: pointer;
              content: "";
              position: absolute;
              top: 7px;
              right: 45px;
              background: #E4601E;
              width: 2px;
              height: 12px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
          width: 38%;
          font-size: 23px;
          font-weight: 600; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .icon-remove img {
          position: absolute;
          right: 0px;
          top: 6px;
          width: 20px;
          cursor: pointer; }

/* media style SASS */
@media screen and (max-width: 992px) {
  .modal {
    z-index: 999999; }
    .modal .modal-dialog .modal-body {
      background: #fff; }
    .modal .modal-dialog .popup_precard .card-items-header {
      display: none !important; }
    .modal .modal-dialog .popup_precard .card-item {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc;
      position: relative;
      flex-direction: column; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100% !important; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column {
          align-items: center;
          width: 20%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          align-items: center; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
            vertical-align: middle;
            width: 64%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
            width: 25%;
            padding-right: 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-end; }
            .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price span {
              display: inline;
              font-size: 23px; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        width: 100% !important; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
          width: 60%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
            left: 47px !important; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
            right: 49px; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
            right: 44px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
          width: 100%;
          justify-content: flex-end;
          padding-right: 10px; } }
@media screen and (max-width: 768px) {
  .block-c {
    padding: 0px; }
    .block-c .f-screen {
      display: block; }
      .block-c .f-screen .category {
        width: 100%;
        margin-bottom: 1%;
        position: relative; }
        .block-c .f-screen .category .category_header {
          width: 100%; }
          .block-c .f-screen .category .category_header:before {
            font-size: 24px;
            content: "";
            font-family: "FontAwesome"; }
        .block-c .f-screen .category .c-menu {
          background: #fff;
          display: none;
          z-index: 10000;
          position: absolute;
          top: 43px;
          left: 0px;
          width: inherit; }
      .block-c .f-screen .main {
        margin: 0px auto; } }
@media screen and (max-width: 576px) {
  /*modal basket */
  .modal {
    z-index: 999999; }
    .modal .modal-dialog .modal-body {
      background: #fff; }
    .modal .modal-dialog .popup_precard .card-item .adapt-f {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      width: 100% !important;
      border-bottom: 1px solid #ccc; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img {
        height: 120px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a {
          height: inherit;
          width: 100%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) {
        align-items: center;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
          vertical-align: middle;
          width: 100%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches a {
            width: inherit; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: fex-end; }
    .modal .modal-dialog .popup_precard .card-item .adapt-s {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      padding-top: 17px;
      width: 100% !important; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
        width: 50% !important;
        justify-content: flex-start;
        margin: 0px;
        margin-left: 23px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity {
          width: auto !important; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
            left: 40px !important; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity input {
            width: 35px;
            text-align: center; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
            right: 40px; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
            right: 45px; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
        width: 50% !important;
        justify-content: flex-end !important;
        padding-right: 10px; }
    .modal .modal-dialog .modal-footer {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .modal .modal-dialog .modal-footer button {
        margin: 0px;
        width: 100%;
        margin-top: 5px; } }
/**Modal out call* */
#outcall .modal-body {
  height: auto !important; }
  #outcall .modal-body form {
    font-family: "Roboto", sans-serif; }
    #outcall .modal-body form .auth-in {
      width: 100%;
      display: inline-block;
      margin: 5px 0px;
      text-align: center; }
      #outcall .modal-body form .auth-in .description {
        font-size: 18px;
        margin: 8px; }
      #outcall .modal-body form .auth-in .kostyl {
        display: inline;
        position: relative;
        width: inherit;
        text-align: center; }
        #outcall .modal-body form .auth-in .kostyl input {
          width: 55%;
          padding-left: 20px;
          padding: 17px;
          height: 30px;
          margin: 0px;
          text-align: center;
          font-size: 14px; }
        #outcall .modal-body form .auth-in .kostyl i {
          position: absolute;
          font-size: 13px;
          top: 5px;
          left: 6px;
          color: rgba(0, 0, 0, 0.4); }
#outcall .modal-footer button {
  color: #fff;
  width: 100%;
  margin: 0px 40px; }

/*--modal registration and enter-- */
.modal-body {
  overflow: hidden;
  padding: 19px 28px 0px;
  border-radius: 0.3rem; }
  .modal-body .group-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .modal-body .group-btn button {
      outline: none;
      text-transform: none;
      background: transparent;
      border: none;
      width: 50% !important;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s; }
      .modal-body .group-btn button:nth-child(1) {
        border-right: 1px solid #ccc; }
      .modal-body .group-btn button:hover {
        background: #E47C48; }
    .modal-body .group-btn .exit_active {
      background: #E47C48;
      border-radius: 100px;
      opacity: 0.8;
      color: #fff; }
    .modal-body .group-btn .enter_active {
      background: #E47C48;
      border-radius: 100px;
      opacity: 0.8;
      color: #fff; }
  .modal-body .modals {
    position: relative; }
    .modal-body .modals #modal-enter, .modal-body .modals #modal-exit {
      display: block;
      width: 100%; }
      .modal-body .modals #modal-enter h1, .modal-body .modals #modal-exit h1 {
        text-align: center;
        font-weight: 400; }
      .modal-body .modals #modal-enter form .auth-in, .modal-body .modals #modal-exit form .auth-in {
        width: 100%;
        display: inline-block;
        margin: 5px 0px; }
        .modal-body .modals #modal-enter form .auth-in:nth-child(5), .modal-body .modals #modal-exit form .auth-in:nth-child(5) {
          margin-bottom: 10px; }
        .modal-body .modals #modal-enter form .auth-in .kostyl, .modal-body .modals #modal-exit form .auth-in .kostyl {
          display: inline;
          position: relative;
          width: inherit; }
          .modal-body .modals #modal-enter form .auth-in .kostyl input, .modal-body .modals #modal-exit form .auth-in .kostyl input {
            width: inherit;
            height: 30px;
            margin: 0px; }
          .modal-body .modals #modal-enter form .auth-in .kostyl i, .modal-body .modals #modal-exit form .auth-in .kostyl i {
            position: absolute;
            font-size: 13px;
            top: 5px;
            left: 6px;
            color: rgba(0, 0, 0, 0.4); }
      .modal-body .modals #modal-enter form input[type="text"], .modal-body .modals #modal-enter form [type="password"], .modal-body .modals #modal-enter form [type="email"], .modal-body .modals #modal-exit form input[type="text"], .modal-body .modals #modal-exit form [type="password"], .modal-body .modals #modal-exit form [type="email"] {
        height: 27px;
        padding-left: 27px;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.09); }
      .modal-body .modals #modal-enter form input[type="submit"], .modal-body .modals #modal-exit form input[type="submit"] {
        cursor: pointer;
        padding: 8px;
        border-radius: 0.3rem; }
      .modal-body .modals #modal-enter form input[type="submit"]:nth-child(1), .modal-body .modals #modal-exit form input[type="submit"]:nth-child(1) {
        background: #E4601E;
        border-radius: 100px;
        border: none;
        color: #fff;
        width: 50%; }
      .modal-body .modals #modal-enter form input[type="submit"]:nth-child(2), .modal-body .modals #modal-exit form input[type="submit"]:nth-child(2) {
        background: transparent;
        border-radius: 100px;
        border: none;
        color: rgba(0, 0, 0, 0.7);
        width: 50%;
        margin-top: 0px; }
    .modal-body .modals #modal-exit {
      position: absolute;
      top: 0;
      transition: all 0.3s ease;
      transform: translateX(115%); }
    .modal-body .modals #modal-enter {
      transition: all 0.3s ease;
      transform: translateX(0%); }

@media screen and (max-width: 768px) {
  /*modal registration and enter */
  .signin .modal-dialog .modal-content .modal-body {
    text-align: center; }
    .signin .modal-dialog .modal-content .modal-body form .auth-in .kostyl input {
      height: 29px !important;
      margin: 0px;
      width: 82%; }
    .signin .modal-dialog .modal-content .modal-body form .modal-footer {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
    .signin .modal-dialog .modal-content .modal-body input[type="submit"] {
      width: 90% !important; }
    .signin .modal-dialog .modal-content .modal-body input[type="submit"]:nth-child(2) {
      margin-top: 17px; }
    .signin .modal-dialog .modal-content .modal-body .modal-footer > :not(:first-child) {
      margin-left: 0rem; } }
footer {
  background: #333; }
  footer .content {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 20px; }
    footer .content .left_hand {
      width: inherit; }
      footer .content .left_hand .description {
        border-bottom: 1px solid #DEDEDE;
        margin-bottom: 10px; }
        footer .content .left_hand .description p {
          color: #fff;
          font-size: 10px; }
      footer .content .left_hand h4 {
        font-size: 18px;
        color: #DEDEDE; }
      footer .content .left_hand ul > li {
        font-size: 12px;
        color: #DEDEDE; }
    footer .content .syka {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
      footer .content .syka img {
        width: 130px; }

@media screen and (max-width: 576px) {
  .content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .content .syka {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: row !important; }
      .content .syka img {
        align-self: center; } }
body {
  background: #fff;
  font-family: "Roboto", sans-serif; }

.box {
  margin: 0 auto;
  max-width: 1274px;
  width: 100%; }

.order_setion h2 {
  text-align: center;
  margin: 15px 0px 31px; }

.ordering {
  padding: 0px 10px 20px; }
  .ordering .ordering_levels {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding: 24px; }
    .ordering .ordering_levels .mod:nth-child(3) {
      margin: 0px; }
    .ordering .ordering_levels .first_level {
      background: #E4601E; }
    .ordering .ordering_levels .mod {
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 19px;
      width: 40px;
      height: 40px;
      margin-right: 50px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px; }
    .ordering .ordering_levels .active {
      background: #E4601E;
      color: #fff; }
    .ordering .ordering_levels .completed {
      background: transparent;
      color: #000; }
  .ordering .content {
    transition: height 0.6s ease; }
    .ordering .content .first_form, .ordering .content .second_form {
      display: block;
      width: 100%;
      padding: 0px 40px; }
      .ordering .content .first_form h3, .ordering .content .second_form h3 {
        text-align: center;
        padding: 7px 0px 13px;
        color: #505050; }
      .ordering .content .first_form .content, .ordering .content .second_form .content {
        text-align: center;
        border-radius: 0.3rem;
        padding: 27px;
        background: #F5F5F5;
        margin-bottom: 16px; }
        .ordering .content .first_form .content .popup_precard .card-items-header, .ordering .content .second_form .content .popup_precard .card-items-header {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          border: 1px solid #EDEEF0;
          color: #888;
          background: #fff;
          border-radius: 0.3rem;
          font-size: 14px; }
          .ordering .content .first_form .content .popup_precard .card-items-header .name-header, .ordering .content .second_form .content .popup_precard .card-items-header .name-header {
            width: 57%; }
          .ordering .content .first_form .content .popup_precard .card-items-header .price-header, .ordering .content .second_form .content .popup_precard .card-items-header .price-header {
            width: 14%; }
          .ordering .content .first_form .content .popup_precard .card-items-header .quontity-header, .ordering .content .second_form .content .popup_precard .card-items-header .quontity-header {
            width: 12%; }
          .ordering .content .first_form .content .popup_precard .card-items-header .sum-header, .ordering .content .second_form .content .popup_precard .card-items-header .sum-header {
            width: 14%; }
        .ordering .content .first_form .content .popup_precard .card-item, .ordering .content .second_form .content .popup_precard .card-item {
          position: relative;
          border: 1px solid #EDEEF0;
          padding: 8px 26px;
          margin: 10px 0px 0px;
          background: #fff;
          border-radius: 0.3rem; }
          .ordering .content .first_form .content .popup_precard .card-item .adapt-f, .ordering .content .second_form .content .popup_precard .card-item .adapt-f {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            width: 74%; }
            .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column, .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column {
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              justify-content: center;
              align-items: center; }
            .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(1), .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) {
              background: #fff; }
              .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) a, .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) a {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100px;
                height: 100px; }
                .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) a img, .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) a img {
                  align-self: center;
                  max-width: 100%;
                  max-height: 100%;
                  width: auto;
                  height: auto; }
            .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2), .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
              width: 100%; }
              .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches, .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
                width: 80%;
                padding-left: 10px;
                text-align: left !important;
                font-size: 16px; }
              .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price, .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
                width: 25%;
                font-size: 18px; }
                .ordering .content .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price span, .ordering .content .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price span {
                  text-align: center; }
          .ordering .content .first_form .content .popup_precard .card-item .adapt-s, .ordering .content .second_form .content .popup_precard .card-item .adapt-s {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 26%; }
            .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1), .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
              width: 50%; }
              .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity {
                display: inline-block;
                position: relative; }
                .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu {
                  background: red;
                  border: 1px soli #ccc; }
                  .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
                    cursor: pointer;
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: 48px;
                    background: #E4601E;
                    width: 12px;
                    height: 2px; }
                .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity input, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity input {
                  width: 40px;
                  border: 1px solid #ccc;
                  text-align: center; }
                .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
                  cursor: pointer;
                  content: "";
                  position: absolute;
                  top: 12px;
                  right: 48px;
                  background: #E4601E;
                  width: 12px;
                  height: 2px; }
                .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
                  cursor: pointer;
                  content: "";
                  position: absolute;
                  top: 7px;
                  right: 53px;
                  background: #E4601E;
                  width: 2px;
                  height: 12px; }
            .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(2), .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
              width: 50%;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              justify-content: center;
              align-items: center; }
              .ordering .content .first_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) .price, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) .price {
                font-size: 18px;
                font-weight: 600; }
            .ordering .content .first_form .content .popup_precard .card-item .adapt-s .icon-remove, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .icon-remove {
              position: absolute;
              top: 9px;
              right: 15px; }
              .ordering .content .first_form .content .popup_precard .card-item .adapt-s .icon-remove img, .ordering .content .second_form .content .popup_precard .card-item .adapt-s .icon-remove img {
                width: 20px;
                cursor: pointer; }
      .ordering .content .first_form .footer_form, .ordering .content .second_form .footer_form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .ordering .content .first_form .footer_form .amount, .ordering .content .second_form .footer_form .amount {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 5px 0px;
          font-size: 20px;
          text-align: center;
          font-size: 1.4rem;
          border: 1px solid #E4601E;
          border-radius: 100px;
          padding: 0px 0px 0px 7px;
          background: #E4601E;
          margin-right: 7px;
          color: #fff; }
          .ordering .content .first_form .footer_form .amount span:nth-child(1), .ordering .content .second_form .footer_form .amount span:nth-child(1) {
            margin-right: 4px;
            font-size: 13px; }
          .ordering .content .first_form .footer_form .amount span:nth-child(2), .ordering .content .second_form .footer_form .amount span:nth-child(2) {
            padding: 6px 6px;
            border-radius: 100px;
            color: #fff;
            background: #E48F65;
            font-size: 1rem;
            box-shadow: -4px 0px 8px -2px rgba(0, 0, 0, 0.7); }
        .ordering .content .first_form .footer_form button, .ordering .content .second_form .footer_form button {
          border: none;
          background: #E4601E;
          color: #fff;
          font-size: 13px;
          border-radius: 2rem;
          padding: 10px 20px; }
    .ordering .content .second_form {
      display: none;
      width: 100%;
      padding: 0px 40px; }
      .ordering .content .second_form .content .popup_precard .card-items-header {
        padding-bottom: 7px; }
        .ordering .content .second_form .content .popup_precard .card-items-header .name-header {
          width: 60%; }
        .ordering .content .second_form .content .popup_precard .card-items-header .quontity-header {
          width: 20%; }
        .ordering .content .second_form .content .popup_precard .card-items-header .sum-header {
          width: 20%; }
      .ordering .content .second_form .content .popup_precard .card-item .adapt-f {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        width: 65%; }
      .ordering .content .second_form .content .popup_precard .card-item .adapt-s {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 40%; }
        .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
          width: 42%; }
        .ordering .content .second_form .content .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: flex-end; }
      .ordering .content .second_form .footer_form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        flex-wrap: wrap; }
        .ordering .content .second_form .footer_form .overlay {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-direction: row;
          align-items: center; }
        .ordering .content .second_form .footer_form button:nth-child(1) {
          border-radius: 2rem;
          background: #6C757D; }
        .ordering .content .second_form .footer_form button:nth-child(2) {
          padding: 10px 20px !important; }
    .ordering .content .third_form {
      display: none;
      margin: 0px auto;
      transition: all 0.6s ease; }
      .ordering .content .third_form h3 {
        text-align: center;
        padding: 7px 0px 13px;
        color: #505050; }
      .ordering .content .third_form .message {
        padding: 10px;
        border-radius: 0.3rem;
        text-align: center;
        background: #EA9457;
        color: #fff;
        margin-bottom: 10px; }
        .ordering .content .third_form .message:empty {
          display: none; }
      .ordering .content .third_form form {
        width: 600px;
        transition: all 0.6s ease; }
        .ordering .content .third_form form input {
          display: inline-block;
          width: 100%;
          border: 1px solid #dfe1f0;
          box-shadow: none;
          border-radius: 0.3rem;
          padding: 10px 15px;
          box-sizing: border-box;
          background: #fff;
          vertical-align: middle;
          line-height: 18px;
          font-size: 13px;
          color: #333;
          outline: none;
          margin-bottom: 10px; }
        .ordering .content .third_form form .overlay {
          background: #EAEDF5;
          border-radius: 0.3rem;
          padding: 15px 20px;
          margin-bottom: 10px; }
          .ordering .content .third_form form .overlay .form_item:nth-child(3) input {
            margin-bottom: 0px; }
        .ordering .content .third_form form .form_item {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex; }
          .ordering .content .third_form form .form_item input:nth-child(3) {
            margin-bottom: 0px; }
          .ordering .content .third_form form .form_item:nth-child(1) label {
            margin-left: 3px;
            position: absolute;
            font-size: 11px;
            color: #888; }
          .ordering .content .third_form form .form_item input.error {
            border: 1px solid #EA9457; }
        .ordering .content .third_form form .overlay:nth-child(2) {
          transition: all 2s ease; }
          .ordering .content .third_form form .overlay:nth-child(2) select {
            display: inline-block;
            width: 100%;
            border: 1px solid #dfe1f0;
            box-shadow: none;
            border-radius: 0.3rem;
            padding: 10px 15px;
            box-sizing: border-box;
            background: #fff;
            vertical-align: middle;
            line-height: 18px;
            font-size: 13px;
            color: #333;
            outline: none;
            margin-top: 20px;
            margin-bottom: 10px; }
        .ordering .content .third_form form .overlay:nth-child(3) {
          padding: 4px 20px 12px; }
          .ordering .content .third_form form .overlay:nth-child(3) label {
            margin-bottom: 3px;
            margin-left: 3px;
            font-size: 11px;
            color: #888; }
          .ordering .content .third_form form .overlay:nth-child(3) textarea {
            resize: none;
            display: inline-block;
            width: 100%;
            border: 1px solid #dfe1f0;
            box-shadow: none;
            border-radius: 0.3rem;
            padding: 10px 15px;
            box-sizing: border-box;
            background: #fff;
            vertical-align: middle;
            line-height: 18px;
            font-size: 13px;
            color: #333;
            outline: none; }
        .ordering .content .third_form form #express {
          display: none;
          border-radius: 0.3rem;
          background: #fff;
          border: 1px solid #dfe1f0;
          padding: 0px 19px 19px; }
          .ordering .content .third_form form #express .main_l {
            width: 100%;
            color: #E4601E;
            font-size: 14px;
            text-align: center;
            border: 1px solid #dfe1f0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            background: #fff;
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
            text-align: center;
            padding: 4px; }
          .ordering .content .third_form form #express .city {
            color: #888;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            padding: 10px 5px 0px;
            justify-content: space-between; }
            .ordering .content .third_form form #express .city .exp_item {
              position: relative;
              width: 97%; }
              .ordering .content .third_form form #express .city .exp_item input {
                border-radius: 0.1rem;
                border: 1px solid #dfe1f0;
                width: inherit;
                margin: 5px;
                color: rgba(0, 0, 0, 0.6);
                padding-left: 5px; }
                .ordering .content .third_form form #express .city .exp_item input.error {
                  border: 1px solid #EA9457; }
              .ordering .content .third_form form #express .city .exp_item label {
                top: -13px;
                font-size: 10px;
                position: absolute; }
          .ordering .content .third_form form #express .address {
            color: #888;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            padding: 10px 5px 0px;
            justify-content: space-between; }
            .ordering .content .third_form form #express .address .exp_item {
              position: relative;
              width: 95%; }
              .ordering .content .third_form form #express .address .exp_item:nth-child(3) {
                margin: 0px; }
              .ordering .content .third_form form #express .address .exp_item input {
                border: none;
                border-radius: 0.1rem;
                border: 1px solid #dfe1f0;
                width: inherit;
                margin: 5px;
                color: rgba(0, 0, 0, 0.6);
                padding-left: 5px; }
                .ordering .content .third_form form #express .address .exp_item input.error {
                  border: 1px solid #EA9457; }
              .ordering .content .third_form form #express .address .exp_item label {
                top: -13px;
                font-size: 10px;
                position: absolute; }
        .ordering .content .third_form form #post {
          display: block;
          padding: 0px 19px 19px;
          background: #fff;
          border-radius: 0.3rem;
          border: 1px solid #dfe1f0; }
          .ordering .content .third_form form #post header {
            border: 1px solid #dfe1f0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            background: #fff;
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
            text-align: center;
            padding: 4px; }
            .ordering .content .third_form form #post header img {
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto; }
          .ordering .content .third_form form #post label {
            width: auto;
            color: #888;
            margin-top: 7px;
            font-size: 12px; }
          .ordering .content .third_form form #post select, .ordering .content .third_form form #post input {
            display: inline-block;
            width: 100%;
            border: 1px solid #dfe1f0;
            box-shadow: none;
            border-radius: 0.3rem;
            padding: 5px 15px;
            box-sizing: border-box;
            background: #fff;
            vertical-align: middle;
            line-height: 15px;
            font-size: 13px;
            color: #333;
            outline: none;
            margin: 0px; }
      .ordering .content .third_form .footer_form button {
        background: #6C757D;
        border: none;
        color: #fff;
        font-size: 13px;
        border-radius: 2rem;
        margin-top: 8px;
        padding: 10px 20px; }
      .ordering .content .third_form .footer_form input[type="submit"] {
        border: none;
        background: #E4601E;
        color: #fff;
        font-size: 13px;
        border-radius: 2rem;
        margin-top: 8px;
        padding: 10px 20px; }
    .ordering .content .completed {
      display: none; }
    .ordering .content .active {
      display: block; }

/*# sourceMappingURL=ordering.css.map */
