@media screen and (max-width: 992px) {
  .popup_precard .card-items-header {
    display: none !important; }
  .popup_precard .card-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    .popup_precard .card-item .adapt-f {
      width: 100% !important; }
      .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
        flex-direction: column;
        align-items: flex-start !important; }
        .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
          width: 90% !important; }
        .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
          width: 100% !important;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: flex-end; }
    .popup_precard .card-item .adapt-s {
      margin-top: 10px;
      width: 100% !important; }
      .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        margin: 0px 27px;
        width: 9% !important; }
      .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100% !important;
        justify-content: flex-end !important; } }
@media screen and (max-width: 768px) {
  .popup_precard .card-items-header .adapt-f .card-item-column:nth-child(1) a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px !important;
    height: 80px !important; }
    .popup_precard .card-items-header .adapt-f .card-item-column:nth-child(1) a img {
      align-self: center;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }

  .ordering .content .third_form form {
    padding: 10px;
    border: none;
    width: auto !important; }
    .ordering .content .third_form form .form_item:nth-child(3) {
      margin-bottom: 10px; } }
@media screen and (max-width: 568px) {
  .order_setion h2 {
    font-size: 1rem !important; }
  .order_setion .first_form, .order_setion .second_form {
    display: block;
    width: 100%;
    padding: 0px !important; }
    .order_setion .first_form h3, .order_setion .second_form h3 {
      text-align: center;
      margin: 10px 0px; }
    .order_setion .first_form .content, .order_setion .second_form .content {
      border: none !important;
      text-align: center;
      padding: 5px !important; }
      .order_setion .first_form .content .popup_precard, .order_setion .second_form .content .popup_precard {
        width: 100%; }
        .order_setion .first_form .content .popup_precard .card-items-header, .order_setion .second_form .content .popup_precard .card-items-header {
          display: none !important; }
        .order_setion .first_form .content .popup_precard .card-item, .order_setion .second_form .content .popup_precard .card-item {
          padding: 2px !important;
          width: 100% !important; }
          .order_setion .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2), .order_setion .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
            flex-direction: column;
            align-items: flex-start !important; }
            .order_setion .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches, .order_setion .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
              font-size: 14px !important; }
            .order_setion .first_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price, .order_setion .second_form .content .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
              width: 100% !important; }
          .order_setion .first_form .content .popup_precard .card-item .adapt-s .icon-remove, .order_setion .second_form .content .popup_precard .card-item .adapt-s .icon-remove {
            top: 0px !important;
            right: 0px !important;
            background: #E4E5E7; }
  .order_setion .second_form .footer_form, .order_setion .first_form .footer_form {
    flex-direction: column; }
    .order_setion .second_form .footer_form button, .order_setion .first_form .footer_form button {
      width: 100%; }
    .order_setion .second_form .footer_form .overlay, .order_setion .first_form .footer_form .overlay {
      width: 100%;
      justify-content: center !important;
      flex-direction: column !important; }
    .order_setion .second_form .footer_form .amount, .order_setion .first_form .footer_form .amount {
      justify-content: center;
      width: 100%; }
  .order_setion .third_form form {
    padding: 8px !important; }
    .order_setion .third_form form .form_item input {
      width: 100% !important; }
    .order_setion .third_form form .form_item select option {
      font-size: 15px; }
  .order_setion .third_form .footer_form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap; }
    .order_setion .third_form .footer_form button {
      margin-top: 10px;
      width: 100% !important; }
    .order_setion .third_form .footer_form input[type="submit"] {
      width: 100% !important; } }

/*# sourceMappingURL=ordering_media.css.map */
