@charset "UTF-8";
.tooltip-inner {
  background: #FFA011; }

.tooltip-arrow .top {
  border: 5px solid #FFA011; }

ul {
  padding: 0px;
  margin: 0px; }

header {
  border-bottom: 1px solid #ccc;
  font-family: "Roboto", Arial, sans-serif;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
  background: palegoldenrod;
  padding: 7px 0px; }
  header .block-a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px; }
    header .block-a .central-info .logo img {
      width: 160px; }
  header .header_content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    header .header_content .phones {
      color: #5b5b5b;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; }
      header .header_content .phones h3 {
        font-size: 20px;
        font-weight: 400; }
      header .header_content .phones .g {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center; }
        header .header_content .phones .g .header_phone__i {
          font-size: 17px;
          margin-right: 2px;
          font-weight: 400;
          font-family: "Roboto";
          color: rgba(0, 0, 0, 0.7); }
          header .header_content .phones .g .header_phone__i:first-child {
            margin-right: 13px; }
      header .header_content .phones .btn {
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
        background: transparent;
        text-decoration: none;
        margin-left: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        padding: 0px;
        border-radius: 0px; }
        header .header_content .phones .btn i {
          margin-left: 3px; }
      header .header_content .phones .btn-primary {
        border: none; }
      header .header_content .phones .btn-primary:not(:disabled):not(.disabled):active {
        border: none;
        background: transparent;
        color: #E4601E;
        margin-top: 1px; }
      header .header_content .phones .btn-primary:not(:disabled):not(.disabled):focus {
        box-shadow: none; }
  header .central-info .logo {
    text-align: center; }
    header .central-info .logo img {
      width: 430px; }
  header .search_box {
    margin-top: 8px; }
    header .search_box form {
      position: relative; }
      header .search_box form img {
        position: absolute;
        left: 9px;
        top: 7px;
        width: 19px; }
      header .search_box form input[type="text"] {
        padding-left: 30px;
        height: 34px;
        border-radius: 2rem;
        width: 520px;
        font-size: 14px;
        outline: none;
        border: none;
        color: #80868B;
        background: #F1F3F4; }
      header .search_box form a {
        position: absolute;
        background: deepskyblue;
        color: #fff;
        right: 0px;
        height: inherit;
        top: 0px;
        padding: 6px 15px;
        font-size: 15px;
        text-decoration: none;
        /* border-radius: 1rem; */
        border-top-right: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem; }
  header .header_content_user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
    header .header_content_user button {
      width: 60px; }
      header .header_content_user button:hover {
        color: #fff; }
        header .header_content_user button:hover i {
          color: #fff; }
      header .header_content_user button .fas {
        font-size: 27px;
        color: #80868B; }
    header .header_content_user img {
      display: block;
      width: 52px;
      text-align: center;
      align-self: center; }
    header .header_content_user .singin button.btn-primary:hover {
      background: deepskyblue; }
    header .header_content_user .singin button.btn-primary:active {
      background: #F6B24D; }
    header .header_content_user button {
      outline: none;
      background: none;
      border: none;
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #5b5b5b;
      cursor: pointer;
      font-size: 13px;
      background: transparent;
      transition: all 0.4s ease;
      border-radius: 0.3rem;
      padding: 6px 5px;
      margin-right: 10px; }
      header .header_content_user button:nth-child(2) {
        margin: 0px; }
      header .header_content_user button .count_purches {
        position: absolute;
        right: 6px;
        top: -3px;
        background: black;
        padding: 2px 4px;
        font-size: 13px;
        color: #fff; }
    header .header_content_user button.btn-primary:not(:disabled):not(.disabled):active {
      background: green ; }
    header .header_content_user button.btn-primary:hover {
      background: deepskyblue; }

/* drop-list */
.search_box form {
  position: relative; }
  .search_box form .drop-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 20px; }
    .search_box form .drop-list li {
      width: 100%;
      border-bottom: 1px solid #ccc; }
      .search_box form .drop-list li:last-child {
        border-bottom: none; }
        .search_box form .drop-list li:last-child:hover {
          background: #E47C48;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px; }
      .search_box form .drop-list li:first-child:hover {
        background: #E47C48;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px; }
      .search_box form .drop-list li:hover {
        background: #E47C48; }
        .search_box form .drop-list li:hover a {
          color: #fff; }
      .search_box form .drop-list li a {
        background: transparent;
        box-shadow: none;
        width: 100%;
        padding: 8px 23px;
        font-size: 0.8rem;
        color: #737277;
        position: static; }

/* ////drop-list//// */
/* ----------------------------------Medi querys---------------------------------- */
@media screen and (max-width: 992px) {
  header .header_content .search_box form input[type="text"] {
    width: 400px; } }
@media screen and (max-width: 768px) {
  header .block-a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 0px 50px; }
  header .header_content {
    width: 100%;
    display: block; }
    header .header_content .phones {
      margin-top: 15px; }
      header .header_content .phones .g_phones {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        header .header_content .phones .g_phones .header_phone__i {
          margin-right: 14px; }
      header .header_content .phones .out_call {
        background: #0077CF;
        color: #fff;
        border-bottom: none;
        padding: 14px 7px;
        display: flex;
        align-items: center;
        justify-content: center; }
    header .header_content .search_box {
      width: 100%;
      display: block; }
      header .header_content .search_box form {
        margin-top: 11px; }
        header .header_content .search_box form input[type="text"] {
          width: 100%; }
  header .header_content_user {
    width: 100%;
    margin-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; } }
@media screen and (max-width: 576px) {
  .header .phones {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    font-size: 14px; }
    .header .phones .g {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
      .header .phones .g .header_phone__i {
        font-size: 14px;
        margin: 0px !important; } }
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-button {
  background: none;
  height: 0px; }

::-webkit-scrollbar-track {
  background: #F5F5F5;
  box-shadow: inset 0px 0px 6px #ccc; }

::-webkit-scrollbar-thumb {
  background: #E4601E; }

/*modal basket */
.modal {
  z-index: 999999; }
  .modal .modal-dialog .modal-header {
    background: #f5f5f5;
    font-family: "Roboto Condensed", sans-serif; }
  .modal .modal-dialog .modal-body {
    background: #fff; }
  .modal .modal-dialog .modal-footer button {
    font-size: 16px;
    width: 44%;
    margin: 0px;
    margin-top: 4px;
    border-radius: 100px; }
  .modal .modal-dialog .modal-footer .btn-primary {
    color: #0078D3;
    outline: none;
    outline: none;
    background: #E4601E;
    border: none;
    margin-top: 5px; }
    .modal .modal-dialog .modal-footer .btn-primary a {
      color: #fff; }
  .modal .modal-dialog .modal-footer .amount {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    font-size: 20px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #E4601E;
    border-radius: 100px;
    padding: 0px 0px 0px 12px;
    background: #E4601E;
    color: #fff; }
    .modal .modal-dialog .modal-footer .amount span:nth-child(1) {
      margin-right: 4px;
      font-size: 17px; }
    .modal .modal-dialog .modal-footer .amount span:nth-child(2) {
      padding: 1px 3px;
      border-radius: 100px;
      color: #fff;
      background: #E48F65;
      font-size: 1rem;
      box-shadow: -4px 0px 8px -2px rgba(0, 0, 0, 0.7); }
  .modal .modal-dialog .popup_precard {
    font-family: "Roboto Condensed", sans-serif;
    overflow-y: scroll;
    height: inherit;
    height: 25em; }
    .modal .modal-dialog .popup_precard .card-items-header {
      position: relative;
      border-bottom: 1px solid #ccc;
      font-weight: 500;
      filter: blur(0px); }
      .modal .modal-dialog .popup_precard .card-items-header .name-header {
        width: 45%;
        text-align: left; }
      .modal .modal-dialog .popup_precard .card-items-header .price-header {
        width: 18%;
        text-align: center; }
      .modal .modal-dialog .popup_precard .card-items-header .quontity-header {
        width: 18%;
        text-align: center; }
      .modal .modal-dialog .popup_precard .card-items-header .sum-header {
        width: 18%;
        text-align: center; }
    .modal .modal-dialog .popup_precard .card-item {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc;
      position: relative; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f {
        width: 60%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column {
          align-items: center;
          width: 20%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          align-items: center; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img {
            height: 120px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a {
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              align-items: center;
              height: inherit;
              width: 100%; }
              .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a img {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
            font-size: 1.2em;
            vertical-align: middle;
            width: 60%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
            width: 25%;
            font-weight: 500;
            font-size: 23px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price span {
              font-size: 23px; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s {
        width: 40%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
          width: 60%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity {
            width: 100%;
            text-align: center;
            position: relative; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu {
              background: red;
              border: 1px soli #ccc; }
              .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
                cursor: pointer;
                content: "";
                position: absolute;
                top: 12px;
                left: 40px;
                background: #E4601E;
                width: 12px;
                height: 2px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity input {
              width: 40px;
              border: 1px solid #ccc;
              text-align: center; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
              cursor: pointer;
              content: "";
              position: absolute;
              top: 12px;
              right: 40px;
              background: #E4601E;
              width: 12px;
              height: 2px; }
            .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
              cursor: pointer;
              content: "";
              position: absolute;
              top: 7px;
              right: 45px;
              background: #E4601E;
              width: 2px;
              height: 12px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
          width: 38%;
          font-size: 23px;
          font-weight: 600; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .icon-remove img {
          position: absolute;
          right: 0px;
          top: 6px;
          width: 20px;
          cursor: pointer; }

/* media style SASS */
@media screen and (max-width: 992px) {
  .modal {
    z-index: 999999; }
    .modal .modal-dialog .modal-body {
      background: #fff; }
    .modal .modal-dialog .popup_precard .card-items-header {
      display: none !important; }
    .modal .modal-dialog .popup_precard .card-item {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc;
      position: relative;
      flex-direction: column; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100% !important; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column {
          align-items: center;
          width: 20%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          align-items: center; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: space-between; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
            vertical-align: middle;
            width: 64%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
            width: 25%;
            padding-right: 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-end; }
            .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price span {
              display: inline;
              font-size: 23px; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        width: 100% !important; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
          width: 60%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
            left: 47px !important; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
            right: 49px; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
            right: 44px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
          width: 100%;
          justify-content: flex-end;
          padding-right: 10px; } }
@media screen and (max-width: 768px) {
  .block-c {
    padding: 0px; }
    .block-c .f-screen {
      display: block; }
      .block-c .f-screen .category {
        width: 100%;
        margin-bottom: 1%;
        position: relative; }
        .block-c .f-screen .category .category_header {
          width: 100%; }
          .block-c .f-screen .category .category_header:before {
            font-size: 24px;
            content: "";
            font-family: "FontAwesome"; }
        .block-c .f-screen .category .c-menu {
          background: #fff;
          display: none;
          z-index: 10000;
          position: absolute;
          top: 43px;
          left: 0px;
          width: inherit; }
      .block-c .f-screen .main {
        margin: 0px auto; } }
@media screen and (max-width: 576px) {
  /*modal basket */
  .modal {
    z-index: 999999; }
    .modal .modal-dialog .modal-body {
      background: #fff; }
    .modal .modal-dialog .popup_precard .card-item .adapt-f {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      width: 100% !important;
      border-bottom: 1px solid #ccc; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img {
        height: 120px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a {
          height: inherit;
          width: 100%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column .img a img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(1) {
        align-items: center;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center; }
      .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches {
          vertical-align: middle;
          width: 100%; }
          .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .name-purches a {
            width: inherit; }
        .modal .modal-dialog .popup_precard .card-item .adapt-f .card-item-column:nth-child(2) .price {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: fex-end; }
    .modal .modal-dialog .popup_precard .card-item .adapt-s {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      padding-top: 17px;
      width: 100% !important; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) {
        width: 50% !important;
        justify-content: flex-start;
        margin: 0px;
        margin-left: 23px; }
        .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity {
          width: auto !important; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .minu:before {
            left: 40px !important; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity input {
            width: 35px;
            text-align: center; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:before {
            right: 40px; }
          .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(1) .quontity .plus:after {
            right: 45px; }
      .modal .modal-dialog .popup_precard .card-item .adapt-s .card-item-column:nth-child(2) {
        width: 50% !important;
        justify-content: flex-end !important;
        padding-right: 10px; }
    .modal .modal-dialog .modal-footer {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .modal .modal-dialog .modal-footer button {
        margin: 0px;
        width: 100%;
        margin-top: 5px; } }
/**Modal out call* */
#outcall .modal-body {
  height: auto !important; }
  #outcall .modal-body form {
    font-family: "Roboto", sans-serif; }
    #outcall .modal-body form .auth-in {
      width: 100%;
      display: inline-block;
      margin: 5px 0px;
      text-align: center; }
      #outcall .modal-body form .auth-in .description {
        font-size: 18px;
        margin: 8px; }
      #outcall .modal-body form .auth-in .kostyl {
        display: inline;
        position: relative;
        width: inherit;
        text-align: center; }
        #outcall .modal-body form .auth-in .kostyl input {
          width: 55%;
          padding-left: 20px;
          padding: 17px;
          height: 30px;
          margin: 0px;
          text-align: center;
          font-size: 14px; }
        #outcall .modal-body form .auth-in .kostyl i {
          position: absolute;
          font-size: 13px;
          top: 5px;
          left: 6px;
          color: rgba(0, 0, 0, 0.4); }
#outcall .modal-footer button {
  color: #fff;
  width: 100%;
  margin: 0px 40px; }

/*--modal registration and enter-- */
.modal-body {
  overflow: hidden;
  padding: 19px 28px 0px;
  border-radius: 0.3rem; }
  .modal-body .group-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .modal-body .group-btn button {
      outline: none;
      text-transform: none;
      background: transparent;
      border: none;
      width: 50% !important;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s; }
      .modal-body .group-btn button:nth-child(1) {
        border-right: 1px solid #ccc; }
      .modal-body .group-btn button:hover {
        background: #E47C48; }
    .modal-body .group-btn .exit_active {
      background: #E47C48;
      border-radius: 100px;
      opacity: 0.8;
      color: #fff; }
    .modal-body .group-btn .enter_active {
      background: #E47C48;
      border-radius: 100px;
      opacity: 0.8;
      color: #fff; }
  .modal-body .modals {
    position: relative; }
    .modal-body .modals #modal-enter, .modal-body .modals #modal-exit {
      display: block;
      width: 100%; }
      .modal-body .modals #modal-enter h1, .modal-body .modals #modal-exit h1 {
        text-align: center;
        font-weight: 400; }
      .modal-body .modals #modal-enter form .auth-in, .modal-body .modals #modal-exit form .auth-in {
        width: 100%;
        display: inline-block;
        margin: 5px 0px; }
        .modal-body .modals #modal-enter form .auth-in:nth-child(5), .modal-body .modals #modal-exit form .auth-in:nth-child(5) {
          margin-bottom: 10px; }
        .modal-body .modals #modal-enter form .auth-in .kostyl, .modal-body .modals #modal-exit form .auth-in .kostyl {
          display: inline;
          position: relative;
          width: inherit; }
          .modal-body .modals #modal-enter form .auth-in .kostyl input, .modal-body .modals #modal-exit form .auth-in .kostyl input {
            width: inherit;
            height: 30px;
            margin: 0px; }
          .modal-body .modals #modal-enter form .auth-in .kostyl i, .modal-body .modals #modal-exit form .auth-in .kostyl i {
            position: absolute;
            font-size: 13px;
            top: 5px;
            left: 6px;
            color: rgba(0, 0, 0, 0.4); }
      .modal-body .modals #modal-enter form input[type="text"], .modal-body .modals #modal-enter form [type="password"], .modal-body .modals #modal-enter form [type="email"], .modal-body .modals #modal-exit form input[type="text"], .modal-body .modals #modal-exit form [type="password"], .modal-body .modals #modal-exit form [type="email"] {
        height: 27px;
        padding-left: 27px;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.09); }
      .modal-body .modals #modal-enter form input[type="submit"], .modal-body .modals #modal-exit form input[type="submit"] {
        cursor: pointer;
        padding: 8px;
        border-radius: 0.3rem; }
      .modal-body .modals #modal-enter form input[type="submit"]:nth-child(1), .modal-body .modals #modal-exit form input[type="submit"]:nth-child(1) {
        background: #E4601E;
        border-radius: 100px;
        border: none;
        color: #fff;
        width: 50%; }
      .modal-body .modals #modal-enter form input[type="submit"]:nth-child(2), .modal-body .modals #modal-exit form input[type="submit"]:nth-child(2) {
        background: transparent;
        border-radius: 100px;
        border: none;
        color: rgba(0, 0, 0, 0.7);
        width: 50%;
        margin-top: 0px; }
    .modal-body .modals #modal-exit {
      position: absolute;
      top: 0;
      transition: all 0.3s ease;
      transform: translateX(115%); }
    .modal-body .modals #modal-enter {
      transition: all 0.3s ease;
      transform: translateX(0%); }

@media screen and (max-width: 768px) {
  /*modal registration and enter */
  .signin .modal-dialog .modal-content .modal-body {
    text-align: center; }
    .signin .modal-dialog .modal-content .modal-body form .auth-in .kostyl input {
      height: 29px !important;
      margin: 0px;
      width: 82%; }
    .signin .modal-dialog .modal-content .modal-body form .modal-footer {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
    .signin .modal-dialog .modal-content .modal-body input[type="submit"] {
      width: 90% !important; }
    .signin .modal-dialog .modal-content .modal-body input[type="submit"]:nth-child(2) {
      margin-top: 17px; }
    .signin .modal-dialog .modal-content .modal-body .modal-footer > :not(:first-child) {
      margin-left: 0rem; } }
footer {
  background: dimgray; }
  footer .content {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 20px; }
    footer .content .left_hand {
      width: inherit; }
      footer .content .left_hand .description {
        border-bottom: 1px solid #DEDEDE;
        margin-bottom: 10px; }
        footer .content .left_hand .description p {
          color: #fff;
          font-size: 10px; }
      footer .content .left_hand h4 {
        font-size: 18px;
        color: #DEDEDE; }
      footer .content .left_hand ul > li {
        font-size: 12px;
        color: #DEDEDE; }
    footer .content .syka {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
      footer .content .syka img {
        width: 130px; }

@media screen and (max-width: 576px) {
  .content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .content .syka {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: row !important; }
      .content .syka img {
        align-self: center; } }
ul {
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style-type: none; }

.block-c {
  padding: 20px 40px 0px;
  max-width: 1274px;
  margin: 0px auto;
  width: 100%; }
  .block-c .f-screen {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px; }
    .block-c .f-screen .category {
      font-family: "Roboto Condensed", sans-serif;
      flex-basis: 13rem; }
      .block-c .f-screen .category .category_header {
        padding: 2px 25px;
        color: #FFF;
        font-size: 20px;
        background: #E4601E; }
      .block-c .f-screen .category .c-menu {
        display: block;
        overflow-y: scroll;
        height: 440px;
        border: 1px solid #adadad; }
        .block-c .f-screen .category .c-menu li {
          padding: 0px; }
          .block-c .f-screen .category .c-menu li a {
            outline: none;
            display: block;
            font-size: 17px;
            color: #a5a5a5;
            padding: 9px 25px;
            text-decoration: none;
            border-bottom: 1px solid #ccc; }
            .block-c .f-screen .category .c-menu li a:hover {
              background: #E4601E;
              opacity: 0.5;
              color: #fff; }
        .block-c .f-screen .category .c-menu li:last-child a {
          border-bottom: none; }

.wrappererd {
  margin-left: 10px; }
  .wrappererd:nth-child(1) {
    margin: 0px; }
  .wrappererd:nth-child(3) {
    margin: 0px; }
  .wrappererd .main {
    margin-bottom: 30px;
    width: 100%; }
    .wrappererd .main .slick-prev {
      left: 4px;
      z-index: 998 !important; }
      .wrappererd .main .slick-prev:before {
        content: url("../img/next_arrow.png");
        color: #FA7C0B;
        font-size: 30px; }
    .wrappererd .main .slick-next {
      right: 4px;
      z-index: 998 !important; }
      .wrappererd .main .slick-next:before {
        content: url("../img/prev_arrow.png");
        color: #FA7C0B;
        font-size: 30px; }
    .wrappererd .main .slick-dots {
      margin-bottom: 7px; }
      .wrappererd .main .slick-dots li button:before {
        content: "";
        color: #FA7C0B;
        width: 15px;
        height: 15px;
        background: #FA7C0B; }
    .wrappererd .main .slick-list .slick-track {
      padding: 19px 0px; }
    .wrappererd .main .slick-list .slick-slide {
      margin-right: 15px;
      margin-left: 15px; }
      .wrappererd .main .slick-list .slick-slide img.style {
        width: inherit;
        border-bottom: 3px solid #FA7C0B;
        border-top: 3px solid #FA7C0B; }

.section-3 .main, .section-4 .main, .section-5 .main {
  padding: 0px 20px; }
  .section-3 .main .s_header, .section-4 .main .s_header, .section-5 .main .s_header {
    text-align: right;
    margin: 0px 0px 15px; }
    .section-3 .main .s_header h3, .section-4 .main .s_header h3, .section-5 .main .s_header h3 {
      text-align: center;
      background: deepskyblue;
      opacity: 0.8;
      padding: 10px 40px;
      font-size: 17px;
      font-weight: 400;
      color: #fff; }
  .section-3 .main .card-i, .section-4 .main .card-i, .section-5 .main .card-i {
    border-radius: 10px;
    border: 2px solid dimgray;
    display: -webkit-flex;
    display: -moz-flex;
    padding: 5% 5%;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    background: #fff;
    height: 450px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .section-3 .main .card-i:hover, .section-4 .main .card-i:hover, .section-5 .main .card-i:hover {
      box-shadow: 0px 0px 17px 3px #ccc; }
    .section-3 .main .card-i .top-card, .section-4 .main .card-i .top-card, .section-5 .main .card-i .top-card {
      text-align: center;
      position: relative;
      margin-bottom: 15px;
      top-card: 190px; }
      .section-3 .main .card-i .top-card .add-product, .section-4 .main .card-i .top-card .add-product, .section-5 .main .card-i .top-card .add-product {
        height: auto;
        outline: none;
        left: 0px;
        position: absolute;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        top: 0px;
        border-radius: 1rem; }
        .section-3 .main .card-i .top-card .add-product i, .section-4 .main .card-i .top-card .add-product i, .section-5 .main .card-i .top-card .add-product i {
          padding: 6px 14px;
          border-radius: 1rem;
          background: #fff;
          border: 1px solid #E4601E;
          color: #E4601E;
          font-size: 16px;
          transition: all 0.2s ease-in-out; }
          .section-3 .main .card-i .top-card .add-product i:hover, .section-4 .main .card-i .top-card .add-product i:hover, .section-5 .main .card-i .top-card .add-product i:hover {
            box-shadow: 1px 1px #E4601E, 1.5px 1.5px #E4601E;
            -webkit-transform: translateX(-3px);
            -transform: translateX(-3px); }
      .section-3 .main .card-i .top-card a, .section-4 .main .card-i .top-card a, .section-5 .main .card-i .top-card a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 185px; }
        .section-3 .main .card-i .top-card a img, .section-4 .main .card-i .top-card a img, .section-5 .main .card-i .top-card a img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto; }
      .section-3 .main .card-i .top-card .colorfull, .section-4 .main .card-i .top-card .colorfull, .section-5 .main .card-i .top-card .colorfull {
        position: absolute;
        top: 20px;
        right: 0px;
        height: auto; }
        .section-3 .main .card-i .top-card .colorfull li, .section-4 .main .card-i .top-card .colorfull li, .section-5 .main .card-i .top-card .colorfull li {
          margin-bottom: 4px; }
        .section-3 .main .card-i .top-card .colorfull li:nth-child(1), .section-4 .main .card-i .top-card .colorfull li:nth-child(1), .section-5 .main .card-i .top-card .colorfull li:nth-child(1) {
          background: #FF8EFF;
          width: 21px;
          height: 21px; }
        .section-3 .main .card-i .top-card .colorfull li:nth-child(2), .section-4 .main .card-i .top-card .colorfull li:nth-child(2), .section-5 .main .card-i .top-card .colorfull li:nth-child(2) {
          background: #FFF323;
          width: 21px;
          height: 21px; }
    .section-3 .main .card-i .bottom-card, .section-4 .main .card-i .bottom-card, .section-5 .main .card-i .bottom-card {
      font-family: "Roboto", sans-serif; }
      .section-3 .main .card-i .bottom-card .title-phone, .section-4 .main .card-i .bottom-card .title-phone, .section-5 .main .card-i .bottom-card .title-phone {
        font-size: 16px;
        font-weight: 400;
        color: #E4601E; }
        .section-3 .main .card-i .bottom-card .title-phone a, .section-4 .main .card-i .bottom-card .title-phone a, .section-5 .main .card-i .bottom-card .title-phone a {
          color: #E4601E; }
      .section-3 .main .card-i .bottom-card .description, .section-4 .main .card-i .bottom-card .description, .section-5 .main .card-i .bottom-card .description {
        font-size: 13px;
        color: #a9a9a9;
        margin-bottom: 0px; }
      .section-3 .main .card-i .bottom-card .price-rating, .section-4 .main .card-i .bottom-card .price-rating, .section-5 .main .card-i .bottom-card .price-rating {
        margin: 5px 0px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .section-3 .main .card-i .bottom-card .price-rating .price, .section-4 .main .card-i .bottom-card .price-rating .price, .section-5 .main .card-i .bottom-card .price-rating .price {
          color: #D14945;
          font-size: 29px;
          font-weight: 500; }
          .section-3 .main .card-i .bottom-card .price-rating .price .f, .section-4 .main .card-i .bottom-card .price-rating .price .f, .section-5 .main .card-i .bottom-card .price-rating .price .f {
            display: inline-block;
            font-weight: 400;
            font-size: 15px; }
        .section-3 .main .card-i .bottom-card .price-rating .rating, .section-4 .main .card-i .bottom-card .price-rating .rating, .section-5 .main .card-i .bottom-card .price-rating .rating {
          color: #4cabf8;
          text-align: center;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .section-3 .main .card-i .bottom-card .price-rating .rating .rating-mark, .section-4 .main .card-i .bottom-card .price-rating .rating .rating-mark, .section-5 .main .card-i .bottom-card .price-rating .rating .rating-mark {
            color: #B7FF00;
            font-size: 12px; }
          .section-3 .main .card-i .bottom-card .price-rating .rating .rating-count, .section-4 .main .card-i .bottom-card .price-rating .rating .rating-count, .section-5 .main .card-i .bottom-card .price-rating .rating .rating-count {
            font-size: 13px;
            font-weight: 500; }
      .section-3 .main .card-i .bottom-card .btn, .section-4 .main .card-i .bottom-card .btn, .section-5 .main .card-i .bottom-card .btn {
        background: deepskyblue;
        color: #fff;
        font-weight: 500;
        border-radius: 0;
        text-transform: uppercase;
        width: 100%;
        font-size: 14px;
        border: 0;
        border-radius: 100px;
        transition: all 0.2s ease; }
        .section-3 .main .card-i .bottom-card .btn:hover, .section-4 .main .card-i .bottom-card .btn:hover, .section-5 .main .card-i .bottom-card .btn:hover {
          opacity: 0.8; }
        .section-3 .main .card-i .bottom-card .btn:active, .section-4 .main .card-i .bottom-card .btn:active, .section-5 .main .card-i .bottom-card .btn:active {
          background: #E4601E;
          opacity: 0.5; }

.section-4 .main {
  padding: 0px 20px; }
  .section-4 .main .slick-dots li button:before {
    background: deepskyblue; }
  .section-4 .main .s_header {
    text-align: right;
    margin: 0px 0px 15px;
    padding: 0px 20px; }
    .section-4 .main .s_header h3 {
      background: deepskyblue;
      text-align: center;
      padding: 10px 10px;
      font-size: 20px;
      font-weight: 500;
      color: #fff; }
.section-4 .card-i {
  position: relative;
  padding: 28px 25px 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .section-4 .card-i:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .section-4 .card-i .top-card {
    text-align: center;
    position: relative;
    margin-bottom: 15px; }
    .section-4 .card-i .top-card .spekial_offer {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: green;
      padding: 5px 6px;
      font-size: 15px;
      border-radius: 1rem;
      background: #FFD9A0;
      position: absolute;
      text-align: center;
      z-index: 2;
      right: 0px; }
    .section-4 .card-i .top-card .add-product i {
      color: #E4601E; }
      .section-4 .card-i .top-card .add-product i:hover {
        box-shadow: 1px 1px #E4601E, 1.5px 1.5px #E4601E;
        -webkit-transform: translateX(-3px);
        -transform: translateX(-3px); }
  .section-4 .card-i .bottom-card button {
    background: deepskyblue !important;
    color: #fff;
    border: 0; }
  .section-4 .card-i .bottom-card .price-rating {
    margin: 5px 0px; }
    .section-4 .card-i .bottom-card .price-rating .price {
      color: #FF6021; }
    .section-4 .card-i .bottom-card .price-rating .rating {
      color: #FF6021; }

.section-5 .main {
  padding: 0px 20px; }
  .section-5 .main .s_header {
    text-align: right;
    margin: 0px 0px 15px;
    padding: 0px 20px; }
    .section-5 .main .s_header h3 {
      background: deepskyblue;
      text-align: center;
      padding: 10px 10px;
      font-size: 18px;
      font-weight: 500;
      color: #fff; }
.section-5 .card-i {
  padding: 40px 11px 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative; }
  .section-5 .card-i:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .section-5 .card-i .top-card {
    text-align: center; }
    .section-5 .card-i .top-card .category {
      width: 100%;
      text-align: center;
      position: absolute;
      background: #fff;
      top: -5px; }
      .section-5 .card-i .top-card .category a {
        height: 20px;
        color: #64B5F6;
        transition: all 0.2s ease; }
        .section-5 .card-i .top-card .category a:hover {
          color: rgba(0, 0, 0, 0.7); }
        .section-5 .card-i .top-card .category a i {
          font-size: 14px; }
    .section-5 .card-i .top-card .add-product {
      top: 20px !important; }
      .section-5 .card-i .top-card .add-product i {
        padding: 6px 6px;
        background: #FFD9A0;
        border: 1px solid #E4601E;
        color: #E4601E;
        font-size: 16px;
        transition: all 0.2s ease-in-out; }
        .section-5 .card-i .top-card .add-product i:hover {
          box-shadow: 1px 1px #E4601E, 1.5px 1.5px #E4601E;
          -webkit-transform: translateX(-3px);
          -transform: translateX(-3px); }
    .section-5 .card-i .top-card img {
      display: inline-block;
      height: 180px;
      margin-top: 15px; }
  .section-5 .card-i .bottom-card .price-rating {
    margin: 5px 0px; }
    .section-5 .card-i .bottom-card .price-rating .rating {
      color: #4cabf8; }
      .section-5 .card-i .bottom-card .price-rating .rating .rating-mark {
        color: #B7FF00;
        font-size: 10px; }
      .section-5 .card-i .bottom-card .price-rating .rating .rating-count {
        font-size: 11px;
        font-weight: 500; }
  .section-5 .card-i .bottom-card .btn {
    background: #E4601E;
    width: 75%; }

.block-slider {
  padding: 8px 65px 40px; }
  .block-slider .wrapper .slider-for .slick-dots li button:before {
    color: #E4601E;
    font-size: 15px; }
  .block-slider .wrapper .slider-for .slick-list {
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.6); }
  .block-slider .wrapper .slider-for .slick-prev {
    left: 7px;
    height: 70px;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
    .block-slider .wrapper .slider-for .slick-prev:hover {
      background: rgba(255, 255, 255, 0.8); }
    .block-slider .wrapper .slider-for .slick-prev:before {
      content: "";
      background: url(../img/prev.png) no-repeat;
      background-size: 28px 35px;
      height: 32px;
      width: 28px;
      display: block;
      content: ""; }
  .block-slider .wrapper .slider-for .slick-next {
    right: 7px;
    height: 70px;
    background: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
    .block-slider .wrapper .slider-for .slick-next:hover {
      background: rgba(255, 255, 255, 0.8); }
    .block-slider .wrapper .slider-for .slick-next:before {
      content: "";
      background: url(../img/next.png) no-repeat;
      background-size: 28px 35px;
      height: 32px;
      width: 28px;
      display: block;
      content: ""; }
  .block-slider .wrapper .slider-for .item {
    width: 100%;
    height: 4 0px; }
    .block-slider .wrapper .slider-for .item img {
      width: auto;
      height: aut;
      width: 100%;
      height: 100%;
      border-top: 3px solid #FF8D1D;
      border-bottom: 3px solid #FF8D1D; }

/*# sourceMappingURL=styel.css.map */
