/*modal basket*/		

$main_orange: #E4601E 

.modal
	z-index: 999999
	.modal-dialog
		.modal-header
			background: #f5f5f5
			font-family: "Roboto Condensed", sans-serif
		.modal-body
			background: #fff
		.modal-footer
			button
				font-size: 16px
				width: 44%
				margin: 0px
				margin-top: 4px 
				border-radius: 100px
			.btn-primary
				color: #0078D3
				outline: none
				outline: none
				background: $main_orange
				border: none
				margin-top: 5px
				a
					color: #fff	
			.amount
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				align-items: center
				margin: 5px 0px 1px
				font-size: 20px
				text-align: center
				font-size: 1.4rem
				border: 1px solid #E4601E
				border-radius: 100px
				padding: 0px 0px 0px 12px
				background: #E4601E
				color: #fff
				width: 100%
				span:nth-child(1)
					margin-right: 4px
					font-size: 17px
				span:nth-child(2)
					padding: 1px 3px
					border-radius: 100px
					color: #fff
					background: #E48F65
					font-size: 1rem
					box-shadow: -4px 0px 8px -2px rgba(0,0,0,.7)
		.popup_precard
			font-family: "Roboto Condensed", sans-serif
			overflow-y: scroll
			height: inherit
			height: 25em
			.card-items-header
				position: relative
				border-bottom: 1px solid #ccc
				font-weight: 500
				filter: blur(0px)
				.name-header
					width: 45%
					text-align: left
				.price-header
					width: 18%
					text-align: center
				.quontity-header
					width: 18%
					text-align: center
				.sum-header
					width: 18%	
					text-align: center	
			.card-item
				padding: 10px 0px
				border-bottom: 1px solid #ccc
				position: relative
				.adapt-f
					width: 60%
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					.card-item-column	
						align-items: center
						width: 20%
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						.img
							height: 120px
							a
								display: -webkit-flex
								display: -moz-flex
								display: -ms-flex
								display: -o-flex
								display: flex
								align-items: center
								height: inherit
								width: 100%	
								img
									max-height: 100%
									max-width: 100%
									height: auto
									width: auto
					.card-item-column:nth-child(2)
						width: 100%	
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: space-between			
						.name-purches
							font-size: 1.2em
							vertical-align: middle
							width: 60%
						.price
							width: 25%
							font-weight: 500
							font-size: 23px
							span
								font-size: 23px

				.adapt-s				
					width: 40%
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					.card-item-column:nth-child(1)
						width: 60%
						.quontity
							width: 100%
							text-align: center
							position: relative
							.minu
								background: red
								border: 1px soli #ccc
								&:before
									cursor: pointer
									content: ''
									position: absolute
									top: 12px
									left: 40px
									background: #E4601E 
									width: 12px
									height: 2px
							input
								width: 40px	
								border: 1px solid #ccc
								text-align: center
							.plus
								&:before
									cursor: pointer
									content: ''
									position: absolute
									top: 12px
									right: 40px
									background: #E4601E 
									width: 12px
									height: 2px	
								&:after	
									cursor: pointer
									content: ""
									position: absolute
									top: 7px
									right: 45px
									background: #E4601E 
									width: 2px
									height: 12px
					.card-item-column:nth-child(2)
							width: 38%
							font-size: 23px
							font-weight: 600
					.icon-remove
						img
							position: absolute
							right: 0px
							top: 6px
							width: 20px
							cursor: pointer	



/* media style SASS */
@media screen and (max-width: 992px)
	.modal
		z-index: 999999
		.modal-dialog
			.modal-body
				background: #fff
			.popup_precard
				.card-items-header
					display: none!important
				.card-item
					padding: 10px 0px
					border-bottom: 1px solid #ccc
					position: relative
					flex-direction: column				
					.adapt-f
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						width: 100%!important
						.card-item-column	
							align-items: center
							width: 20%
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: center
							align-items: center
							.img
						.card-item-column:nth-child(2)
							width: 100%	
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: space-between			
							.name-purches
								vertical-align: middle
								width: 64%
							.price
								width: 25%
								padding-right: 10px
								display: -webkit-flex
								display: -moz-flex
								display: -ms-flex
								display: -o-flex
								display: flex
								justify-content: flex-end
								span
									display: inline
									font-size: 23px
							
					.adapt-s				
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: space-between
						padding-top: 17px
						width: 100%!important
						.card-item-column:nth-child(1)
							width: 60%
							.quontity
								.minu:before
									left: 47px!important
								.plus
									&:after
										right: 49px
									&:before	
										right: 44px	
						.card-item-column:nth-child(2)
								width: 100%
								justify-content: flex-end
								padding-right: 10px	

@media screen and (max-width: 768px)
	.block-c
		padding: 0px
		.f-screen
			display: block
			.category
				width: 100%
				margin-bottom: 1%
				position: relative
				.category_header		
					width: 100%	
					&:before
						font-size: 24px
						content: '\f0c9'
						font-family: "FontAwesome"
				.c-menu
					background: #fff
					display: none
					z-index: 10000
					position: absolute
					top: 43px
					left: 0px
					width: inherit
			.main
				margin: 0px auto

@media screen and (max-width: 576px)
	/*modal basket*/			
	.modal
		z-index: 999999
		.modal-dialog
			.modal-body
				background: #fff
			.popup_precard
				.card-item
					.adapt-f
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						flex-direction: column
						width: 100%!important
						border-bottom: 1px solid #ccc
						.card-item-column
							.img
								height: 120px
								a
									height: inherit
									width: 100%	
									img
										max-width: 100%
										max-height: 100%
										height: auto
										width: auto
						.card-item-column:nth-child(1)
							align-items: center
							width: 100%
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: center
							align-items: center
							.img
								a
									img
								
						.card-item-column:nth-child(2)
							width: 100%	
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: space-between	
							flex-direction: column		
							.name-purches
								vertical-align: middle
								width: 100%
								a
									width: inherit
							.price	

								width: 100%
								display: -webkit-flex
								display: -moz-flex
								display: -ms-flex
								display: -o-flex
								display: flex
								justify-content: fex-end
								span
					.adapt-s				
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: space-between
						padding-top: 17px
						width: 100%!important
						.card-item-column:nth-child(1)
							width: 50%!important
							justify-content: flex-start
							margin: 0px
							margin-left: 23px
							.quontity
								width: auto!important
								.minu
									&:before
										left: 40px!important
								input
									width: 35px	
									text-align: center
								.plus
									&:before
										right: 40px
									&:after	
										right: 45px
						.card-item-column:nth-child(2)
								width: 50%!important
								justify-content: flex-end!important
								padding-right: 10px													
			.modal-footer 
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center	
				button
					margin: 0px
					width: 100%
					&:nth-child(2)
					margin-top: 5px		
