footer
	background: #333
	.content
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		padding: 20px
		.left_hand
			width: inherit

			.description
				border-bottom: 1px solid #DEDEDE
				margin-bottom: 10px
				p
					color: #fff
					font-size: 10px
			h4
				font-size: 18px
				color: #DEDEDE
			ul>li
				font-size: 12px
				color: #DEDEDE

		.syka
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-around
			flex-direction: column
			img
				width: 130px

@media screen and (max-width: 576px)
	.content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		.syka
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row!important
			img
				align-self: center
