$grey: #5b5b5b
$main_blue: #E4601E
$orange: #E4601E

ul
	padding: 0px 
	margin: 0px

header
	border-bottom: 1px solid #ccc
	font-family: 'Roboto', Arial, sans-serif
	box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5)
	background: #fff
	padding: 7px 0px
	.block-a	
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		margin: 0px auto
		max-width: 1200px
		.central-info
			.logo
				img
					width: 160px	
	.header_content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		.phones
			color: $grey
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
			h3
				font-size: 20px
				font-weight: 400
			.g	
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				.header_phone__i
					font-size: 17px
					margin-right: 2px
					font-weight: 400
					font-family: 'Roboto'
					color: rgba(0,0,0,.7)
					&:first-child
						margin-right: 13px
			.btn
				color: rgba(0,0,0,.7)
				font-size: 13px
				background: transparent
				text-decoration: none
				margin-left: 10px
				border-bottom: 1px solid rgba(0,0,0,.7)
				padding: 0px
				border-radius: 0px
				i
					margin-left: 3px
			.btn-primary
				border: none
			.btn-primary:not(:disabled):not(.disabled):active
				border: none
				background: transparent
				color: $main_blue
				margin-top: 1px
			.btn-primary:not(:disabled):not(.disabled):focus
				box-shadow: none	

						 
	.central-info
		.logo
			text-align: center
			img 
				width: 430px			
				  
	.search_box
		margin-top: 8px
		form
			position: relative
			img
				position: absolute
				left: 9px
				top: 7px
				width: 19px		
			input[type="text"]
				padding-left: 30px	
				height: 34px
				border-radius: 2rem				
				width: 520px
				font-size: 14px
				outline: none
				border: none
				color: #80868B
				background: #F1F3F4
			a
				position: absolute
				background: cornflowerblue
				color: yellow
				right: 0px
				height: inherit
				top: 0px
				padding: 6px 15px
				font-size: 15px
				text-decoration: none
				/* border-radius: 1rem; */
				border-top-right: 2rem
				border-top-right-radius: 2rem
				border-bottom-right-radius: 2rem
	.header_content_user
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		button
			width: 60px
			&:hover
				color: #fff
				i
					color: #fff				
			.fas
				font-size: 27px
				color: #80868B

		img
			display: block
			width: 52px
			text-align: center
			align-self: center	
		.singin
			button.btn-primary
				&:hover
					background: #E4601E
				&:active
					background: #F6B24D
		button
			outline: none
			background: none
			border: none
			position: relative
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			align-items: center
			color: $grey
			cursor: pointer
			font-size: 13px
			background: transparent
			transition: all .4s ease
			border-radius: .3rem
			padding: 6px 5px
			margin-right: 10px
			&:nth-child(2)
				margin: 0px	
			.count_purches
				position: absolute
				right: 6px		
				top: -3px
				background: #E4601E
				padding: 2px 4px
				font-size: 13px
				color: #fff				
		button.btn-primary
			&:not(:disabled):not(.disabled):active
				background: #F6B24D		
			&:hover
				background: #E4601E



/* drop-list */



.search_box
	form
		position: relative
		.drop-list
			display: none
			position: absolute
			width: 100%
			z-index: 99
			top: 40px
			background: #ffffff
			box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3)
			border-bottom-right-radius: 10px
			border-bottom-left-radius: 10px
			border-radius: 20px
			li
				width: 100%
				border-bottom: 1px solid #ccc
				&:last-child
					border-bottom: none
					&:hover
						background: #E47C48
						border-bottom-right-radius: 20px
						border-bottom-left-radius: 20px
				&:first-child
					&:hover		
						background: #E47C48
						border-top-right-radius: 20px
						border-top-left-radius: 20px
						
				&:hover
					background: #E47C48	
					a
						color: #fff

				a
					background: transparent
					box-shadow: none
					width: 100%
					padding: 8px 23px
					font-size: .8rem
					color: #737277
					position: static

/* ////drop-list//// */




/* ----------------------------------Medi querys---------------------------------- */


@media screen and (max-width: 992px)
	header
		.header_content
			.search_box
				form
					input[type="text"]
						width: 400px



@media screen and (max-width: 768px)
	header
		.block-a
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			padding: 0px 50px
		.header_content
			width: 100%
			display: block
			.phones	
				margin-top: 15px
				.g_phones
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					.header_phone__i
						margin-right: 14px

				.out_call
					background: #0077CF
					color: #fff
					border-bottom: none
					padding: 14px 7px
					display: flex
					align-items: center
					justify-content: center		
			.search_box
				width: 100%
				display: block
				form
					margin-top: 11px
					input[type="text"]
						width: 100%
		.header_content_user
			width: 100%
			margin-top: 10px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex	
			justify-content: space-between		

@media screen and (max-width: 576px)
	.header
		.phones	
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			font-size: 14px
			.g
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				.header_phone__i
					font-size: 14px
					margin: 0px!important								