/**Modal out call**/			
#outcall
	.modal-body	
		height: auto!important
		form	
			font-family: "Roboto", sans-serif
			.auth-in
				width: 100%	
				display: inline-block
				margin: 5px 0px
				text-align: center
				.description
					font-size: 18px

					margin: 8px
				.kostyl
					display: inline
					position: relative
					width: inherit
					text-align: center
					input
						width: 55%
						padding-left: 20px
						padding: 17px
						height: 30px
						margin: 0px
						text-align: center
						font-size: 14px
					i
						position: absolute
						font-size: 13px
						top: 5px
						left: 6px
						color: rgba(0, 0, 0, 0.4)
	.modal-footer
		button
			color: #fff	
			width: 100%	
			margin: 0px 40px				

