/*--modal registration and enter--*/	
.modal-body	
	overflow: hidden
	padding: 19px 28px 0px
	border-radius: .3rem 
	.group-btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		button
			outline: none
			text-transform: none
			background: transparent
			border: none
			width: 50%!important
			padding: 10px
			cursor: pointer
			transition: all .3s
			&:nth-child(1)
				border-right: 1px solid #ccc
			&:hover
				background: #E47C48
		.exit_active
			background: #E47C48
			border-radius: 100px
			opacity: .8
			color: #fff
		.enter_active
			background: #E47C48
			border-radius: 100px
			opacity: .8
			color: #fff
	.modals				
		position: relative
		#modal-enter, #modal-exit	
			display: block
			width: 100%
			h1
				text-align: center	
				font-weight: 400
			form	
				.auth-in
					width: 100%	
					display: inline-block
					margin: 5px 0px
					&:nth-child(5)
						margin-bottom: 10px
					.kostyl
						display: inline
						position: relative
						width: inherit
						input
							width: inherit
							height: 30px
							margin: 0px
						i
							position: absolute
							font-size: 13px
							top: 5px
							left: 6px
							color: rgba(0, 0, 0, 0.4)
					
				input[type="text"],[type="password"],[type="email"]
					height: 27px
					padding-left: 27px
					color: rgba(0,0,0,.5)
					border: 1px solid rgba(0,0,0,.09)
				input[type="submit"]
					cursor: pointer 
					padding: 8px	
					border-radius: .3rem					
				input[type="submit"]:nth-child(1)
					background: #E4601E
					border-radius: 100px
					border: none
					color: #fff
					width: 50%
				input[type="submit"]:nth-child(2)
					background: transparent
					border-radius: 100px
					border: none
					color: rgba(0,0,0,.7)
					width: 50%	
					margin-top: 0px		
		#modal-exit
			position: absolute
			top: 0
			transition: all .3s ease
			transform: translateX(115%)

		#modal-enter
			transition: all .3s ease
			transform: translateX(0%)	


@media screen and (max-width: 768px)
	/*modal registration and enter*/		
	.signin
		.modal-dialog
			.modal-content
				.modal-body
					text-align: center
					form
						.auth-in
							.kostyl
								input
									height: 29px!important
									margin: 0px
									width: 82%	
						.modal-footer
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							flex-direction: column
					input[type="submit"]
						width: 90%!important								
					input[type="submit"]:nth-child(2)	
						margin-top: 17px
					.modal-footer>:not(:first-child)
						margin-left: 0rem

