@import "header"
@import "scrollbar"
@import "basket"
@import "out-call"
@import "registration"
@import "footer"

$main_orange: #E4601E

.persona-area
	margin: 0px auto
	padding: 40px

.main-title, .description-area
	color: #4c4c4c
	h4
		font-size: 25px
	button
		background: $main_orange
		border-radius: .3rem
		border: none
		outline: none
		width: 40pxs
		height: 40px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		&:hover
			background: #E47F4D
		&:not(:disabled):not(.disabled):active
			background: $main_orange
		img
			width: 20px	
.description-area
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	h4
		margin-right: 20px	
		margin-bottom: 30px
		font-size: 20px		
.main-title
	text-align: center
	h3
		font-size: 30px	
.table__info_owner
	padding-bottom: 20px	
	.personal-info
		border-right: 1px solid #ccc
		padding-right: 35px
		.owner__header
			font-weight: 500	
			color: #4c4c4c
		.owner__header, .owner__info
			height: 150px	
.table__info_ordering, .table__info_owner
	padding: 0px 
	border-bottom: 1px solid #ccc	
.table__info_ordering
	width: 100%	
	margin-top: 30px
	padding-bottom: 30px

	.ordering__header
		padding: 7px 0px
		color: #4c4c4c	
		font-family: 'Roboto'
		font-weight: 500

	.ordering__info
		color: #4c4c4c	
		font-family: 'Roboto'
		font-weight: 400
		padding: 20px 0px 0px
		font-size: 14px
	.ordering__header, .ordering__info
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flexs
		display: flex
		justify-content: space-between	
		div
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
		.number__order
			width: 30%
		.data__order
			width: 30%
		.type__order
			width: 30%
		.status__order
			width: 30%
		.detail__order
			width: 30%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			button
				background: $main_orange
				color: #fff
				font-size: 12px
				padding: 5px 7px
				border: none
				cursor: pointer
				&.btn-primary:not(:disabled):not(.disabled):active
					background: #E47A45
		span
			text-align: center
			display: block

						
/* /////Styel for detail */
.table__info_owner
	margin-top: 30px
	padding-bottom: 20px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	max-width: 650px
	.owner__header
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		.name__owner
			width: 130px
		.surname__ovner
			width: 130px
		.number__ovner	
			width: 130px
	.owner__info
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		.info__name
			width: 130px
			
		.info__surname
			width: 130px
			
		.phone
			width: 130px


/* info user edit modal */
.info-user
	.title-profile:nth-child(1)
		font-weight: 500
		padding-bottom: 20px
	.title-profile:nth-child(3)
		font-weight: 500
		padding-top: 10px	
		padding-bottom: 20px
	.edit-info, .edit-password
		.area-i
			position: relative
			margin-bottom: 22px
			&:nth-child(3)
				margin-bottom: 0px
			input
				border-radius: .2rem
				border: 1px solid #ccc
				width: 100%
			label
				position: absolute
				top: -15px	
				font-size: 11px	
	.edit-password
		padding-bottom: 0px	
		border: none	
		.area-i:nth-child(2)
			margin-bottom: 0px
			
#edit-prifile				
	.modal-dialog	
		max-width: 400px 
		margin: 0px auto			
		.modal-content
			.modal-footer
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: center
				button
					background: $main_orange
					color: #fff	


/* detail modal */


.detail-77
	.modal-body
		h3
			font-size: 19px
		.table
			font-size: 14px	
			margin-bottom: 0px
	



		



