$grey: #5b5b5b
$main_blue: #E47C48
$orange: #FF4900
$checkbox-width: 18px
$red: #C64945


@import "header"
@import "basket"
@import "scrollbar"
@import "out-call"
@import "registration"
@import "footer"

body
	background: #F5F5F5
	font-family: 'Roboto', Arial, sans-serif
.box
	padding: 0px 25px
.top-row
	.block
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		.crumb
			ul.breadcrumb
				background-color: transparent
				margin-bottom: 0px
				border-radius: 0px
				padding: .75rem .5rem
				li
					color: #2776cb
					text-decoration: none
					padding: 0px 11px
					font-size: 14px	
	#nav-link
		height: 44px
		display: none
		background: #E47C48
		border: none
		color: #fff
		margin-right: 10px
		&:before
			content: '\f0b0'
			font-family: "FontAwesome"
			font-size: 26px

.left-panel
	margin-right: .5rem
	padding: 15px 10px
	width: 250px
	background: #fff
	box-shadow: 0px 0px 4.3px rgba(0,0,0,.2)
	#close-l
		display: none
	.price, .weight
		input[type="text"]
			padding: 2px 0px
			color: rgba(0,0,0,.7)
			outline: none
			width: 40px	
			height: 20px
			border: none
			margin: 0px 12px
			border-bottom: 1px solid #ccc
		input[type="submit"]
			height: 26px
			color: #fff
			width: 63px
			background: #E47C48
			border: none
			margin-left: 10px
			font-size: 12px
			cursor: pointer
	label
		cursor: pointer
		font-size: 14px
		color: #a5a5a5
		height: 25px
		margin: 0px
		font-weight: 300
		input[type="text"]
			width: 50px
			margin-right: 0px 6px
			height: 20px
		input[type="checkbox"] 
			display: none
			+ .label-text:before
				font-size: 14px
				content: '\f0c8'
				font-family: "FontAwesome"
				color: #EBEBEB

			&:checked + .label-text:before
				content: '\f14a'	
				color: 	rgba(0,119,207,.6)
		span
			margin: 9px
			&:before
				color: #fff
				margin-right: 6px	
	.title
		color: #E47C48
		margin: 10px 0px
		border-top: 1px solid #EBEBEB
		h6
			padding-top: 12px
			font-size: 14px
			font-weight: 500	

.right-panel
	padding: 15px 10px
	width: 100%
	background: #fff
	box-shadow: 0px 0px 4.3px rgba(0,0,0,.2)
	.card-i
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		background: #fff
		width: 25%
		padding: .2% 2% 2%
		border-right: 1px solid #ccc
		border-bottom: 1px solid #ccc
		transition: all 0.3s cubic-bezier(.25,.8,.25,1)
		&:hover
			transform: scale(1.02)
			border: none
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25)
		.top-card
			text-align: center
			position: relative
			margin-bottom: 15px
			height: 190px
			.add-product
				outline: none
				left: 0px
				position: absolute
				color: #fff
				padding: 4px 9px 4px 7px
				font-size: 17px
				opacity: .6
				border-radius: 3px
				display: inline-block	
				top: 0px
				i
					background: #fff
					border: 1px solid #ccc
					color: $main_blue
					padding: 5px 13px
					border-radius: 1rem
					transition: all 0.2s ease-in-out
					&:hover
						box-shadow: 1px 1px $main_blue, 1.5px 1.5px $main_blue
						-webkit-transform: translateX(-3px)
						-transform: translateX(-3px)
			a
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: center
				align-items: center
				height: inherit
				img
					max-width: 100%
					max-height: 100%
					width: auto
					height: auto			
			img
				display: inline-block	
				height: 190px
			.colorfull 
				position: absolute
				top: 0px
				right: 0px
				li
					margin-bottom: 4px
				li:nth-child(1)
					background: #FF8EFF
					width: 21px
					height: 21px
				li:nth-child(2)
					background: #FFF323
					width: 21px
					height: 21px	
		.bottom-card
			.title-phone
				font-size: 14px
				font-weight: 400
				color: $grey
				margin-bottom: 8
				a
					color: #E4601E
			.description
				font-size: 11px
				color: #a9a9a9	
				margin-bottom: 0px
			.price-rating
				margin: 5px 0px
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column

				.price
					color: #C64945
					font-size: 25px
					font-weight: 500
					.f
						display: inline-block
						font-weight: 400
						font-size: 15px
				.rating	
					color: #4cabf8
					text-align: center
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					flex-direction: row
					justify-content: space-between
					.rating-mark
						color: #B7FF00
						font-size: 12px
						margin-left: 5px
					.rating-count
						font-size: 13px
						font-weight: 500	
			.btn
				background: $main_blue
				color: #fff
				font-size: 13px
				font-weight: 500
				border-radius: 1rem
				text-transform: uppercase
				width: 100%
				border: 0	
				transition: all .2s ease
				&:hover
					opacity: .8
				&:active
						background: #005EA6	

/*pagination*/	
.list-group-pagination
	font-family: "Roboto Condensed"
	margin-top: 2rem
	.pagination
		.page-item
			.page-link
				padding: 6px 15px
				color: #E47C48
				border: 1px solid #ccc
			.active
				background: #E47C48
				color: #fff

				
				







































