@import "header"
@import "scrollbar"
@import "basket"
@import "out-call"
@import "registration"
@import "footer"

$red: #D14945


body
	font-family: "Roboto", sans-serif


.box
	margin: 0px auto
	max-width: 1274px
	width: 100%
.box-top
	.top-row
		.crumb
			ul.breadcrumb
				background-color: transparent
				margin-bottom: 0px
				border-radius: 0px
				padding: .75rem .5rem
				li
					font-size: 14px
					color: #E47C48
					text-decoration: none
					padding: 0px 11px
		#nav-link
			display: none
			background: #E47C48
			border: none
			color: #fff
			margin-right: 10px
			&:before
				content: '\f0b0'
				font-family: "FontAwesome"
				font-size: 26px
.bottom-box
	.view-photo
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		.main-block
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			box-shadow: 0px 0px 4.3px rgba(0, 0, 0, 0.2)
			.left-photo
				display: block
				width: 50px
				height: 450px
				overflow-y: scroll
				overflow-x: hidden
				direction: rtl
				.active
					border: 1px solid #E47C48
				a
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: center
					align-items: center
					width: 100%
					height: auto
					margin: 2px
					border-bottom: 1px solid #ccc	
					transition: opacity .25s ease
					z-index: 1
				
					&:hover
						opacity: .3
						cursor: pointer
					img		
						padding: 4px
						max-width: 100%
						max-height: 100%		
						display: block
						width: auto
						height: auto 
						align-self: center
			.main-photo		
				width: 670px
				height: 450px
				padding: 10px
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex	
				align-items: center
				justify-content: center

				.gola
					width: 100%
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: center
					align-items: center
					transition: all .30s ease
					span
						text-align: center

						img
							max-width: 100%
							max-height: 430px
							width: auto
							background: #fff
							height: auto
							cursor: pointer

	.info-pay
		margin-left: 10px
		box-shadow: 0px 0px 4.3px rgba(0, 0, 0, 0.2)
		padding: 10px	
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		.top-info
			.code-tovar
				font-size: 16px
				text-align: center
				background: #F9F9F9
				color: #E47C48
				font-weight: 400
				margin-bottom: 10px
				padding: 6px
			.name-tovar
				color: #474a4b
				font-weight: 400
				font-size: 23px	
				padding-bottom: 10px
				border-bottom: 1px solid #ECECEF
		.bottom-info
			.price_tovar
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				span
					font-size: 25px
					color: #b2b2b2
					&.price
						color: $red
						font-weight: 500
						font-size: 2em
						sub
							font-size: 18px
							bottom: 0px
			button
				width: 100%
				background: #E47C48
				border: none
				color: #fff
				height: 40px
				font-weight: 500
				transition: all .40s ease
				border-radius: 100px
				&:hover
					opacity: .6
					cursor: pointer
.box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	.left_block
		.description-product
			width: 100%
			max-width: 721px
			h3
				color: #474A4B
			p
				padding: 10px
				width: inherit
		.viewed-products
			.slider
				height: 100%
				.card-i
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: space-between
					flex-direction: column
					align-items: center
					width: 200px
					height: 100%
					border-right: 1px solid #ccc
					padding: 10px
					.top-card
						a
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: center
							align-items: center
							height: 185px
							img
								max-width: 100%
								max-height: 100%
								height: auto
								width: auto

					.bottom-card
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						flex-direction: column
						align-items: center
						width: inherit
						padding: 10px
						.name_product
							a
								width: inherit
						.price_tovar
							span
								font-size: 27px
								color: #E47C48
								font-weight: 500
						.reviews
							width: inherit
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: center
							align-items: center
							padding: 0px
							.rating-mark
								color: #B7FF00
								font-size: 17px
							.rating-count	
								font-size: 20px
									
					

	.reviews
		max-width: 500px
		width: 100%
		padding: 10px
		margin: 0px auto
		.reviews_header
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
			align-items: center
			.rating
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				.rating-count
					margin-left: 10px
					font-weight: 600
					font-size: 20px
					color: #E47C48
				.rating-mark
					color: #B7FF00	
		.text		
			position: relative	
			margin-bottom: 10px
			textarea
				padding: 6px 32px 6px 13px
				width: 100%
				height: 115px	
				resize: none	
			.reset
				outline: none
				background: transparent
				color: #ccc
				top: 0
				right: 0
				position: absolute
				transition: all .25s ease
				&:hover
					color: #7A7878
					cursor: pointer

			button
				border: none	
				background: #E47C48
				color: #fff
				padding: 6px 13px
				border-radius: 1rem
				cursor: pointer
				transition: all .25s ease
				&:hover
					opacity: .6
		.left_reviews
			height: 310px
			overflow-y: scroll
			overflov-x: hidden
			.commented-i
				border-bottom: 1px solid #ccc
				.left_header
					.name_lefter
						font-size: 21px
						font-weight: 500
					.rating
						.rating-mark
							font-size: 10px	
							color: #B7FF00
						.left_data
							margin-left: 10px		

