@import "header"
@import "scrollbar"
@import "basket"
@import "out-call"
@import "registration"
@import "footer"







.section-slider, .section-goods
	.wrapper, .section-goods
		padding: 20px 0px
		width: 90%
		margin: 0px auto
		.slider, .goods-slider
			.slick-prev
				left: 4px
				z-index: 9999
				&:before
					content: url('../img/next_arrow.png')
					color: #FA7C0B
					font-size: 30px
			.slick-next	
				right: 9px
				z-index: 9999
				&:before
					content: url('../img/prev_arrow.png')
					color: #FA7C0B
					font-size: 30px
			.slick-dots
				li
					button:before
						content: ''
						color: #FA7C0B
						width: 15px
						height: 15px
						background: #FA7C0B			

			.slick-list
				.slick-slide
					margin-right: 15px
					margin-left: 15px
					img.style
						width: inherit
						border-bottom: 3px solid #FA7C0B
						border-top: 3px solid #FA7C0B	


.section-goods
	.goods-header
		text-align: center	
	.wrapper
		margin: 0px auto
		.goods-slider
			.card-i
				border: 2px solid #C8D0CC
				padding: 20px
				height: 500px
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: space-between
				transition: all .8s ease
				&:hover
					border: 2px solid #FF8D1D
				.top-card
					text-align: center
					position: relative
					margin-bottom: 15px
					top-card: 190px
					.add-product
						height: auto
						outline: none
						left: 0px
						position: absolute
						color: #fff
						font-size: 17px
						display: inline-block
						top: 20px
						i
							background: #fff
							order: 1px solid #ccc
							border-radius: .3rem
							color: #ED7206
							padding: 5px
							transition: all .2s ease-in-out
							&:hover
								box-shadow: 1px 1px $main_blue, 1.5px 1.5px $main_blue
								-webkit-transform: translateX(-3px)
								-transform: translateX(-3px)
					a
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						height: 190px
						img
							max-width: 100%
							max-height: 100%
							width: auto
							height: auto
					.colorfull 
						position: absolute
						top: 20px
						right: 0px
						height: auto
						li
							margin-bottom: 4px
						li:nth-child(1)
							background: #FF8EFF
							width: 21px
							height: 21px
						li:nth-child(2)
							background: #FFF323
							width: 21px
							height: 21px	
				.bottom-card
					font-family: "Roboto", sans-serif
					.title-phone
						font-size: 17px
						font-weight: 400
						color: $grey
					.description
						font-size: 13px
						color: #a9a9a9	
						margin-bottom: 0px
					.price-rating
						margin: 5px 0px
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						flex-direction: column
						.price
							color: #ee7306
							font-size: 35px
							font-weight: 500
							.f
								display: inline-block
								font-weight: 400
								font-size: 15px
						.rating	
							color: #4cabf8
							text-align: center
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							flex-direction: column
							justify-content: space-between
							.rating-mark
								color: #ee7306
								font-size: 12px
							.rating-count
								color: #ce6507
								font-size: 13px
								font-weight: 500	

					.btn
						background: $main_blue
						color: #fff
						font-weight: 500
						border-radius: 0
						text-transform: uppercase
						width: 100%
						font-size: 14px
						border: 0	
						transition: all .2s ease
						background: #ee7306 /* Old browsers */
						background: -moz-linear-gradient(top, #ee7306 0%, #f6933b 50%, #ee7306 100%) /* FF3.6-15 */
						background: -webkit-linear-gradient(top, #ee7306 0%,#f6933b 50%,#ee7306 100%)/* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, #ee7306 0%,#f6933b 50%,#ee7306 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7306', endColorstr='#ee7306',GradientType=0 ) /* IE6-9 */
						&:hover
							opacity: .8
						&:active
							background: #005EA6

.f-screen
	.wrappererd
		.slider_landing
			width: 100%
			height: 300px
			border: 1px solid red							








