@media screen and (max-width: 1274px)
	.box
		.reviews
			.reviews_header
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
			.left_reviews
				.rating
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					flex-direction: column
						




@media screen and (max-width: 992px)
	.box
		width: 80%	
	header
		.header_content
			.search_box
				form
					input[type="text"]
						width: 400px
	.box			
	.bottom-box
		.view-photo
			display: block!important
			.main-block			
	.box
		display: block
		.reviews
			.reviews_header
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: row
			.left_reviews
				.rating
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
@media screen and (max-width: 768px)
	header
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		.logo
			text-align: center
			width: 100%
		.header_content
			width: 100%
			display: block
			.phones	
				margin-top: 15px
				.g_phones
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					.header_phone__i
						margin-right: 14px

				.out_call
					background: #0077CF
					color: #fff
					border-bottom: none
					padding: 14px 7px
					display: flex
					align-items: center
					justify-content: center		
			.search_box
				width: 100%
				display: block
				form
					margin-top: 11px
					input[type="text"]
						width: 100%
		.header_content_user
			width: 100%
			margin-top: 10px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex	
			justify-content: space-between	

@media screen and (max-width: 576px)
	.header
		.phones	
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			.g_phones
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column	
	.box-top
		.top-row
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column		
	.bottom-box 
		.view-photo
			.main-block
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				.left-photo
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: flex-end!important
					width: 100%	
					overflow: hidden
					height: inherit
					z-index: 0
					.variable-photo
						width: 80px	
				.main-photo
					width: auto
					height: auto	
			.info-pay
				.top-info
					.code-tovar
						font-size: 15px
					.name-tovar
						font-size: 15px!important
				.bottom-info
					.price_tovar
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex	
						span
							font-size: 1rem
							&.price
								font-size: 1.3rem!important
	.reviews
		.reviews_header
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column!important
		.text
			button:nth-child(3)
				width: 100%	
		.left_reviews		
			.left_comentar
				p
					font-size: 13px	
						
		.left_reviews
			.rating
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex			

					
