@media screen and (max-width: 992px)
	.card-item
		.adapt-f
			width: 100%!important
		.adapt-s
			width: 100%!important
			.card-item-column:nth-child(2)
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: center!important
				width: 40%!important	
	.all-info-for-user
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column	
	.table__info_owner
		max-width: 100%
		.personal-info
			border-right: none
			padding-right: 0px
@media screen and (max-width: 768px)
	.persona-area
		padding: 10px
		.table__info_ordering, .table__info_owner
			padding: 10px
			.ordering__header, .ordering__info
				width: 100%
				.number__order
					width: 200px
				.data__order
					width: 100px
				.type__order
					width: 150px
				.status__order
					width: 250px
				.detail__order
					width: 200px
@media screen and (max-width: 576px)
	.persona-area
		padding: 2px!important
		.main-title
			h3
				font-size: 20px
		.description-area
			h4
				font-size: 17px
				text-align: center		
		.description-area	
		.table__info_ordering, .table__info_owner
			padding: 2px
			.ordering__header
				font-size: 13px
			.ordering__info
				div
					span
						font-size: 12px
				.detail__order
					button
						padding: 2px
						margin: 0px 2px 0px 1px

			.ordering__header, .ordering__info
				width: 100%
	.adapt-s
		.card-item-column:nth-child(2)
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex		
			justify-content: center!important
	.table__info_owner
		.owner__header
			font-size: 13px
		.owner__info
			font-size: 13px
			color: #4C4C4C
			font-family: 'Roboto'
			font-weight: 400			
