@media screen and (max-width: 568px)
	.section-slider
		.wrapper
			width: 100%
	.section-goods
		.wrapper, .section-goods

			width: 100%!important
			.goods-slider
				.card-i
					padding: 10px
					height: 400px
					.top-card
						a
							height: 150px
					.bottom-card	
						.title-phone
							font-size: 14px
						.price-rating
							.price
								font-size: 25px

				.slick-slide
					margin-right: 2.5px!important
					margin-left: 2.5px!important