@media screen and (max-width: 992px)
	header
		.header_content
			.search_box
				form
					input[type="text"]
						width: 400px
						
	.block-c
		.f-screen
			display: block
			.category
				width: 100%
				margin-bottom: 1%
				position: relative
				.category_header		
					width: 100%	
					&:before
						font-size: 24px
						content: '\f0c9'
						font-family: "FontAwesome"
				.c-menu
					display: block
					overflow-y: scroll
					position: absolute
					z-index: 999
					width: 100%
					display: none
					background: #fff
					border: 1px solid #adadad				
			.wrappererd
				margin: 0px	
			.main
				margin: 0px auto	
	.wrappererd .main .slick-list .slick-slide
		margin: 0px 5px	
		.card-i
			height: 415px
			.bottom-card
				.price-rating
					.price
						font-size: 23px
				.title-phone
					font-size: 14px					
	
@media screen and (max-width: 768px)
	header
		.block-a
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			padding: 0px 50px
		.header_content
			width: 100%
			display: block
			.phones	
				margin-top: 15px
				.g_phones
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					.header_phone__i
						margin-right: 14px

				.out_call
					background: #0077CF
					color: #fff
					border-bottom: none
					padding: 14px 7px
					display: flex
					align-items: center
					justify-content: center		
			.search_box
				width: 100%
				display: block
				form
					margin-top: 11px
					input[type="text"]
						width: 100%
		.header_content_user
			width: 100%
			margin-top: 10px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex	
			justify-content: space-between	
	.wrappererd .main .slick-list .slick-slide
		margin: 0px 4px	
		.card-i
			height: 390px
			border: 1px solid #E4601E
			.top-card
				a
					height: 145px
				.category
					a
						height: auto	
			.bottom-card
				.price-rating
					.price
						font-size: 23px
				.title-phone
					font-size: 14px		
				.btn
					font-size: 13px				



	/*modal registration and enter*/		
	.signin
		.modal-dialog
			.modal-content
				.modal-body
					text-align: center
					form
						.auth-in
							.kostyl
								input
									height: 29px!important
									margin: 0px
									width: 82%	
						.modal-footer
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							flex-direction: column
					input[type="submit"]
						width: 90%!important								
					input[type="submit"]:nth-child(2)	
						margin-top: 17px
					.modal-footer>:not(:first-child)
						margin-left: 0rem

@media screen and (max-width: 576px)
	.wrappererd
		margin: 0px	
	.section-3, .section-4, .section-5
		.main
			padding: 0px

	.header
		.phones	
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			font-size: 14px
			.g
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				.header_phone__i
					font-size: 14px
					margin: 0px!important
	.block-c
		padding: 0px		
		






/**********MEDIA CATEGORY PAGE********************************************************************************/

@media screen and (max-width: 1000px)
	.right-panel
		.card-i
			width: 33%



@media screen and (max-width: 768px)
	body
		position: relative
	.top-row
		#nav-link
			display: block
		#main
			width: 100%
		.block		
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column	
			.crumb
				ul.breadcrumb
		nav
			width: 30%	
			.menu	
				li.head
					width: 100%
					a.head
						width: 100%	
	.box
		padding: 0px
		.bottom-row
			.left-panel
				width: 100%
				height: 100%
				z-index: 1
				top: 0
				background: #fff
				position: absolute
				transform: translateX(-100%)
				transition: all .3s ease
				#close-l
					display: block
				&__active
					transition: all .3s ease
					transform: translateX(-0%)		
			.right-panel
				.card-i
					width: 50%
					border: none
					border-bottom: 1px solid #ccc	
					&:nth-child(odd)
						border-right: 1px solid #ccc

@media screen and (max-width: 576px)
	body
		position: relative
	.top-row
		#nav-link
			display: block
		#main
			width: 100%		
		.crumb
			ul.breadcrumb
		nav
			width: 30%	
			.menu	
				li.head
					width: 100%
					a.head
						width: 100%	
	.box
		padding: 0px
		.bottom-row
			.left-panel
				width: 100%
				height: 100%
				z-index: 1
				top: 0
				background: #fff
				position: absolute
				transform: translateX(-100%)
				transition: all .3s ease
				#close-l
					display: block
				&__active
					transition: all .3s ease
					transform: translateX(-0%)		
			.right-panel
				.card-i
					width: 50%
					border: none
					border-bottom: 1px solid #ccc	











	


