@import "header"
@import "scrollbar"
@import "basket"
@import "out-call"
@import "registration"
@import "footer"


$main_orange: #E4601E


body
	background: #fff
	font-family: "Roboto", sans-serif
.box
	margin: 0 auto
	max-width: 1274px
	width: 100%	

.order_setion
	h2
		text-align: center
		margin: 15px 0px 31px
.ordering
	padding: 0px 10px 20px
	.ordering_levels
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		padding: 24px
		.mod:nth-child(3)
			margin: 0px
		.first_level
			background: $main_orange
		.mod
			border: 1px solid #ccc
			padding: 10px
			font-size: 19px
			width: 40px
			height: 40px
			margin-right: 50px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			align-items: center
			border-radius: 100px
		.active
			background: $main_orange 
			color: #fff
		.completed
			background: transparent	
			color: #000
	.content
		transition: height .6s ease
		.first_form, .second_form
			display: block
			width: 100%
			padding: 0px 40px
			h3
				text-align: center
				padding: 7px 0px 13px
				color: #505050
			.content		
				text-align: center
				border-radius: .3rem
				padding: 27px
				background: #F5F5F5
				margin-bottom: 16px
				.popup_precard
					.card-items-header
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						padding: 8px
						border: 1px solid #EDEEF0
						color: #888
						background: #fff
						border-radius: .3rem	
						font-size: 14px				
						.name-header
							width: 57%	
						.price-header
							width: 14%								
						.quontity-header
							width: 12%									
						.sum-header	
							width: 14%			
					.card-item
						position: relative
						border: 1px solid #EDEEF0
						padding: 8px 26px
						margin: 10px 0px 0px
						background: #fff
						border-radius: .3rem
						.adapt-f
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: space-between
							width: 74%
							.card-item-column
								display: -webkit-flex
								display: -moz-flex
								display: -ms-flex
								display: -o-flex
								display: flex
								justify-content: center
								align-items: center
							.card-item-column:nth-child(1)
								background: #fff
								a
									display: -webkit-flex
									display: -moz-flex
									display: -ms-flex
									display: -o-flex
									display: flex
									justify-content: center
									align-items: center
									flex-direction: column
									width: 100px
									height: 100px 
									img
										align-self: center
										max-width: 100%
										max-height: 100%
										width: auto
										height: auto
							.card-item-column:nth-child(2)
								width: 100%
								.name-purches
									width: 80%
									padding-left: 10px
									text-align: left!important
									font-size: 16px
								.price		
									width: 25%
									font-size: 18px
									span
										text-align: center
						.adapt-s				
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex	
							width: 26%	
							.card-item-column:nth-child(1)
								width: 50%
								.quontity
									display: inline-block
									position: relative
									.minu
										background: red
										border: 1px soli #ccc
										&:before
											cursor: pointer
											content: ''
											position: absolute
											top: 12px
											left: 48px
											background: $main_orange
											width: 12px
											height: 2px
									input
										width: 40px	
										border: 1px solid #ccc
										text-align: center
									.plus
										&:before
											cursor: pointer
											content: ''
											position: absolute
											top: 12px
											right: 48px
											background: $main_orange
											width: 12px
											height: 2px	
										&:after	
											cursor: pointer
											content: ""
											position: absolute
											top: 7px
											right: 53px
											background: $main_orange
											width: 2px
											height: 12px
							.card-item-column:nth-child(2)
								width: 50%	
								display: -webkit-flex
								display: -moz-flex
								display: -ms-flex
								display: -o-flex
								display: flex
								justify-content: center
								align-items: center
								.price
									font-size: 18px
									font-weight: 600
							.icon-remove
								position: absolute
								top: 9px
								right: 15px
								img
									width: 20px
									cursor: pointer
			.footer_form	
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: flex-end
				align-items: center		
				.amount
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: space-between
					align-items: center
					margin: 5px 0px
					font-size: 20px
					text-align: center
					font-size: 1.4rem
					border: 1px solid #E4601E
					border-radius: 100px
					padding: 0px 0px 0px 7px
					background: #E4601E
					margin-right: 7px
					color: #fff
					span:nth-child(1)
						margin-right: 4px
						font-size: 13px
					span:nth-child(2)
						padding: 6px 6px
						border-radius: 100px
						color: #fff
						background: #E48F65
						font-size: 1rem
						box-shadow: -4px 0px 8px -2px rgba(0,0,0,.7)
				button
					border: none
					background: $main_orange
					color: #fff
					font-size: 13px
					border-radius: 2rem
					padding: 10px 20px

		.second_form
			display: none
			width: 100%
			padding: 0px 40px
			.content		
				.popup_precard
					.card-items-header
						padding-bottom: 7px						
						.name-header
							width: 60%								
						.quontity-header
							width: 20%
						.sum-header	
							width: 20%
					.card-item
						.adapt-f
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex
							justify-content: space-between
							width: 65%
						.adapt-s				
							display: -webkit-flex
							display: -moz-flex
							display: -ms-flex
							display: -o-flex
							display: flex	
							width: 40%	
							.card-item-column:nth-child(1)
								width: 42%
							.card-item-column:nth-child(2)
								display: -webkit-flex
								display: -moz-flex
								display: -ms-flex
								display: -o-flex
								display: flex
								justify-content: flex-end	
								
			.footer_form	
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				align-items: center!important
				flex-wrap: wrap
				.overlay
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					flex-direction: row
					align-items: center
				button:nth-child(1)
					border-radius: 2rem
					background: #6C757D	
				button:nth-child(2)
					padding: 10px 20px!important	
				
		.third_form
			display: none
			margin: 0px auto
			transition: all .6s ease
			h3
				text-align: center
				padding: 7px 0px 13px
				color: #505050
			.message
				padding: 10px
				border-radius: .3rem
				text-align: center
				background: #EA9457
				color: #fff
				margin-bottom: 10px	
				&:empty
					display: none
			form
				width: 600px
				transition: all .6s ease
				input
					display: inline-block
					width: 100%
					border: 1px solid #dfe1f0
					box-shadow: none
					border-radius: .3rem
					padding: 10px 15px
					box-sizing: border-box
					background: #fff
					vertical-align: middle
					line-height: 18px
					font-size: 13px
					color: #333
					outline: none
					margin-bottom: 10px
				.overlay
					background: #EAEDF5
					border-radius: .3rem
					padding: 15px 20px
					margin-bottom: 10px
					.form_item:nth-child(3)
						input
							margin-bottom: 0px 	
				.form_item	
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					input:nth-child(3)
						margin-bottom: 0px
					&:nth-child(1)
						label
							margin-left: 3px
							position: absolute
							font-size: 11px
							color: #888
					input.error
						border: 1px solid #EA9457	
				.overlay:nth-child(2)
					transition: all 2s ease 
					select
						display: inline-block
						width: 100%
						border: 1px solid #dfe1f0
						box-shadow: none
						border-radius: .3rem
						padding: 10px 15px
						box-sizing: border-box
						background: #fff
						vertical-align: middle
						line-height: 18px
						font-size: 13px
						color: #333
						outline: none
						margin-top: 20px
						margin-bottom: 10px
				.overlay:nth-child(3)		
					padding: 4px 20px 12px
					label
						margin-bottom: 3px
						margin-left: 3px
						font-size: 11px
						color: #888
					textarea
						resize: none
						display: inline-block
						width: 100%
						border: 1px solid #dfe1f0
						box-shadow: none
						border-radius: 0.3rem
						padding: 10px 15px
						box-sizing: border-box
						background: #fff
						vertical-align: middle
						line-height: 18px
						font-size: 13px
						color: #333
						outline: none		
				#express
					display: none
					border-radius: .3rem
					background: #fff
					border: 1px solid #dfe1f0
					padding: 0px 19px 19px
					.main_l
						width: 100%
						color: $main_orange
						font-size: 14px
						text-align: center
						border: 1px solid #dfe1f0
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						height: 25px
						background: #fff
						border-bottom-right-radius: 2rem
						border-bottom-left-radius: 2rem
						text-align: center
						padding: 4px			
					.city
						color: #888
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						padding: 10px 5px 0px
						justify-content: space-between
						.exp_item
							position: relative
							width: 97%
							input
								border-radius: .1rem
								border: 1px solid #dfe1f0
								width: inherit
								margin: 5px
								color: rgba(0,0,0,.6)
								padding-left: 5px
								&.error
									border: 1px solid #EA9457
							label
								top: -13px
								font-size: 10px
								position: absolute
					.address
						color: #888
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						padding: 10px 5px 0px
						justify-content: space-between
						.exp_item
							position: relative
							width: 95%
							&:nth-child(3)
								margin: 0px
							input
								border: none
								border-radius: .1rem
								border: 1px solid #dfe1f0
								width: inherit
								margin: 5px
								color: rgba(0,0,0,.6)
								padding-left: 5px
								&.error
									border: 1px solid #EA9457								
							label
								top: -13px
								font-size: 10px
								position: absolute

				#post
					display: block
					padding: 0px 19px 19px
					background: #fff
					border-radius: .3rem
					border: 1px solid #dfe1f0					
					header
						border: 1px solid #dfe1f0
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						height: 25px
						background: #fff
						border-bottom-right-radius: 2rem
						border-bottom-left-radius: 2rem
						text-align: center
						padding: 4px
						img
							max-width: 100%
							max-height: 100%
							width: auto
							height: auto
					label
						width: auto
						color: #888
						margin-top: 7px	
						font-size: 12px
					select, input
						display: inline-block
						width: 100%
						border: 1px solid #dfe1f0
						box-shadow: none
						border-radius: .3rem
						padding: 5px 15px
						box-sizing: border-box
						background: #fff
						vertical-align: middle
						line-height: 15px
						font-size: 13px
						color: #333
						outline: none
						margin: 0px
			.footer_form

				button
					background: #6C757D
					border: none
					color: #fff	
					font-size: 13px
					border-radius: 2rem
					margin-top: 8px	
					padding: 10px 20px
				input[type="submit"]
					border: none
					background: $main_orange
					color: #fff	
					font-size: 13px
					border-radius: 2rem
					margin-top: 8px	
					padding: 10px 20px
		.completed
			display: none
		.active
			display: block

