@media screen and (max-width: 992px)
	.popup_precard
		.card-items-header
			display: none!important
		.card-item
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column	
			.adapt-f
				width: 100%!important
				.card-item-column:nth-child(2)
					flex-direction: column
					align-items: flex-start!important
					.name-purches
						width: 90%!important
					.price
						width: 100%!important	
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex	
						justify-content: flex-end
			.adapt-s
				margin-top: 10px
				width: 100%	!important
				.card-item-column:nth-child(1)
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: flex-end
					margin: 0px 27px
					width: 9%!important
				.card-item-column:nth-child(2)
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					width: 100%!important
					justify-content: flex-end !important
@media screen and (max-width: 768px)				
	.popup_precard
		.card-items-header				
			.adapt-f
				.card-item-column:nth-child(1)
					a
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						justify-content: center
						align-items: center
						flex-direction: column
						width: 80px!important
						height: 80px !important
						img
							align-self: center
							max-width: 100%
							max-height: 100%
							width: auto
							height: auto	
	.ordering
		.content
			.third_form
				form
					padding: 10px
					border: none
					width: auto!important
					.form_item:nth-child(3)
						margin-bottom: 10px						
	

@media screen and (max-width: 568px)
	.order_setion
		h2
			font-size: 1rem!important
		.first_form, .second_form
			display: block
			width: 100%
			padding: 0px!important
			h3
				text-align: center
				margin: 10px 0px
			.content		
				border: none!important
				text-align: center
				padding: 5px!important		
				.popup_precard
					width: 100%	
					.card-items-header
						display: none!important
					.card-item
						padding: 2px!important
						width: 100%!important	
						.adapt-f
							.card-item-column:nth-child(2)
								flex-direction: column
								align-items: flex-start!important
								.name-purches
									font-size: 14px!important
								.price
									width: 100%!important	
						.adapt-s
							.icon-remove
								top: 0px !important
								right: 0px!important
								background: #E4E5E7		 	
		.second_form, .first_form
			.footer_form
				flex-direction: column
				button
					width: 100%	
				.overlay
					width: 100%
					justify-content: center!important
					flex-direction: column!important
				.amount
					justify-content: center	
					width: 100%						
		.third_form
			form
				padding: 8px!important
				.form_item
					input
						width: 100%!important
					select
						option
							font-size: 15px								
			.footer_form
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex!important
				justify-content: center!important
				align-items: center!important
				flex-wrap: wrap
				button
					margin-top: 10px
					width: 100%!important
				input[type="submit"]
					width: 100%!important	

