
.tooltip-inner
	background: #FFA011							
.tooltip-arrow
	.top
		border: 5px solid #FFA011	

	

$grey: #5b5b5b
$main_orange: #E4601E
$orange: #FF4900
$red: #D14945

@import "header"
@import "scrollbar"
@import "basket"
@import "out-call"
@import "registration"
@import "footer"


ul
	padding: 0px
	margin: 0px
	li
		list-style-type: none

.block-c
	padding: 20px 40px 0px
	max-width: 1274px 
	margin: 0px auto
	width: 100%
	.f-screen
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		padding: 0px 0px 20px	
		.category
			font-family: 'Roboto Condensed', sans-serif
			flex-basis: 13rem
			.category_header
				padding: 2px 25px
				color: #FFF
				font-size: 20px
				background: $main_orange	
			.c-menu	
				display: block
				overflow-y: scroll
				height: 440px
				border: 1px solid #adadad
				li
					padding: 0px
					a
						outline: none
						display: block
						font-size: 17px 
						color: #a5a5a5
						padding: 9px 25px
						text-decoration: none
						border-bottom: 1px solid #ccc
						&:hover
							background: $main_orange
							opacity: .5
							color: #fff
				li:last-child
					a
						border-bottom: none

.wrappererd
	margin-left: 10px
	&:nth-child(1)
		margin: 0px
	&:nth-child(3)
		margin: 0px		
	.main
		margin-bottom: 30px
		width: 100%
		.slick-prev
			left: 4px
			z-index: 998!important
			&:before
				content: url('../img/next_arrow.png')
				color: #FA7C0B
				font-size: 30px
		.slick-next	
			right: 4px
			z-index: 998!important
			&:before
				content: url('../img/prev_arrow.png')
				color: #FA7C0B
				font-size: 30px
		.slick-dots
			margin-bottom: 7px
			li
				button:before
					content: ''
					color: #FA7C0B
					width: 15px
					height: 15px
					background: #FA7C0B			

		.slick-list
			.slick-track
				padding: 19px 0px
			.slick-slide
				margin-right: 15px
				margin-left: 15px
				img.style
					width: inherit
					border-bottom: 3px solid #FA7C0B
					border-top: 3px solid #FA7C0B


.section-3, .section-4, .section-5
	.main
		padding: 0px 20px
		.s_header
			text-align: right
			margin: 0px 0px 15px
			h3
				text-align: center
				background: #D4110C
				opacity: .8
				padding: 10px 40px
				font-size: 17px
				font-weight: 400
				color: #fff
		&:nth-child(5)
		.card-i
			border: 2px solid $main_orange
			display: -webkit-flex
			display: -moz-flex
			padding: 5% 5%	
			display: -ms-flex
			display: -o-flex
			display: flex!important
			flex-direction: column
			justify-content: space-between!important
			background: #fff
			height: 450px
			transition: all 0.3s cubic-bezier(.25,.8,.25,1)
			&:hover
				box-shadow: 0px 0px 17px 3px #ccc 
			.top-card
				text-align: center
				position: relative
				margin-bottom: 15px
				top-card: 190px
				.add-product
					height: auto
					outline: none
					left: 0px
					position: absolute
					color: #fff
					font-size: 20px
					display: inline-block
					top: 0px
					border-radius: 1rem


					i
						padding: 6px 14px
						border-radius: 1rem
						background: #fff
						border: 1px solid #E4601E
						color: #E4601E
						font-size: 16px
						transition: all 0.2s ease-in-out
						&:hover
							box-shadow: 1px 1px $main_orange, 1.5px 1.5px $main_orange
							-webkit-transform: translateX(-3px)
							-transform: translateX(-3px)
				a
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					justify-content: center
					align-items: center
					height: 185px
					img
						max-width: 100%
						max-height: 100%
						width: auto
						height: auto
				.colorfull 
					position: absolute
					top: 20px
					right: 0px
					height: auto
					li
						margin-bottom: 4px
					li:nth-child(1)
						background: #FF8EFF
						width: 21px
						height: 21px
					li:nth-child(2)
						background: #FFF323
						width: 21px
						height: 21px	
			.bottom-card
				font-family: "Roboto", sans-serif
				.title-phone
					font-size: 16px
					font-weight: 400
					color: #E4601E
					a
						color: #E4601E
				.description
					font-size: 13px
					color: #a9a9a9	
					margin-bottom: 0px
				.price-rating
					margin: 5px 0px
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					flex-direction: column
					align-items: center
					.price
						color: $red
						font-size: 29px
						font-weight: 500
						.f
							display: inline-block
							font-weight: 400
							font-size: 15px
					.rating	
						color: #4cabf8
						text-align: center
						display: -webkit-flex
						display: -moz-flex
						display: -ms-flex
						display: -o-flex
						display: flex
						flex-direction: row
						justify-content: space-between
						.rating-mark
							color: #B7FF00
							font-size: 12px
						.rating-count
							font-size: 13px
							font-weight: 500	

				.btn
					background: $main_orange
					color: #fff
					font-weight: 500
					border-radius: 0
					text-transform: uppercase
					width: 100%
					font-size: 14px
					border: 0	
					border-radius: 100px
					transition: all .2s ease
					&:hover
						opacity: .8
					&:active
						background: $main_orange
						opacity: .5
.section-4
	.main	
		padding: 0px 20px
		.slick-dots
			li
				button:before
					background: #FF6021
		.s_header
			text-align: right
			margin: 0px 0px 15px
			padding: 0px 20px
			h3
				background: #FF6021
				text-align: center
				padding: 10px 10px
				font-size: 20px	
				font-weight: 500
				color: #fff
	.card-i
		position: relative
		padding: 28px 25px 17px	
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		transition: all 0.3s cubic-bezier(.25,.8,.25,1)
		&:hover
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		.top-card
			text-align: center
			position: relative
			margin-bottom: 15px
			.spekial_offer
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				align-items: center
				color: #F27612
				padding: 5px 6px
				font-size: 15px
				border-radius: 1rem
				background: #FFD9A0
				position: absolute
				text-align: center
				z-index: 2
				right: 0px

			.add-product
				i
					color: $orange
					&:hover
						box-shadow: 1px 1px $orange, 1.5px 1.5px $orange
						-webkit-transform: translateX(-3px)
						-transform: translateX(-3px)	
		.bottom-card
			button
				background: #FF6021!important
				color: #fff
				border: 0	
			.price-rating
				margin: 5px 0px
				.price
					color: #FF6021
				.rating	
					color: #FF6021

.section-5
	.main
		padding: 0px 20px
		.s_header
			text-align: right
			margin: 0px 0px 15px
			padding: 0px 20px
			h3
				background: $main_orange
				text-align: center
				padding: 10px 10px
				font-size: 18px	
				font-weight: 500
				color: #fff
	.slick-slide
		&:nth-child(5)
	.card-i
		padding: 40px 11px 17px	
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		transition: all 0.3s cubic-bezier(.25,.8,.25,1)
		position: relative
		&:hover
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		.top-card
			text-align: center
			.category
				width: 100%
				text-align: center
				position: absolute
				background: #fff
				top: -5px
				a
					height: 20px
					color: #64B5F6
					transition: all .2s ease
					&:hover
						color: rgba(0,0,0,.7)
					i
						font-size: 14px
					
			.add-product
				top: 20px!important 
				i
					padding: 6px 6px
					background: #FFD9A0
					border: 1px solid #E4601E
					color: #E4601E
					font-size: 16px
					transition: all 0.2s ease-in-out
					&:hover
						box-shadow: 1px 1px $main_orange, 1.5px 1.5px $main_orange
						-webkit-transform: translateX(-3px)
						-transform: translateX(-3px)
			img
				display: inline-block	
				height: 180px
				margin-top: 15px	
		.bottom-card
			.price-rating
				margin: 5px 0px
				.rating	
					color: #4cabf8
					.rating-mark
						color: #B7FF00
						font-size: 10px
					.rating-count
						font-size: 11px
						font-weight: 500	

			.btn
				background: $main_orange
				width: 75%
				top-card


.block-slider
	padding: 8px 65px 40px
	.wrapper
		.slider-for			
			.slick-dots
				li
					button
						&:before
							color: #E4601E
							font-size: 15px
			.slick-list
				box-shadow: 0px 0px 17px -5px rgba(0,0,0,.6)

			.slick-prev
				left: 7px
				height: 70px
				background: rgba(255, 255, 255, 0.5)
				transition: all 0.4s ease
				border-top-left-radius: 0.5rem
				border-bottom-left-radius: .5rem
				&:hover
					background: rgba(255,255,255,.8) 
				&:before
					content: ''
					background: url(../img/prev.png) no-repeat
					background-size: 28px 35px
					height: 32px
					width: 28px
					display: block
					content: ""

			.slick-next
				right: 7px
				height: 70px
				background: rgba(255, 255, 255, 0.5)
				border-top-right-radius: 0.5rem
				border-bottom-right-radius: .5rem
				&:hover
					background: rgba(255,255,255,.8)				
				&:before
					content: ''
					background: url(../img/next.png) no-repeat
					background-size: 28px 35px
					height: 32px
					width: 28px
					display: block
					content: ""
		.slider-for
			.item
				width: 100%
				height: 4 00px
				img
					width: auto
					height: aut
					width: 100%
					height: 100%
					border-top: 3px solid #FF8D1D
					border-bottom: 3px solid #FF8D1D

