@import "header"
@import "scrollbar"
@import "basket"
@import "out-call"
@import "registration"
@import "footer"


$main_orange: #E4601E


.main-section
	height: 100vh
	font-family: "Roboto"
	background: url(../img/crow.png) center
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	.thanks
		padding: 40px 0px
		text-align: center
		height: 100%
		font-family: "Roboto"
		background: url(../img/crow.png) center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: center
		.thanks-box
			margin-top: -35px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content-center
			flex-direction: column
			align-items: center
			p
				text-align: center
				font-size: 24px
				margin: 0px
				margin-bottom: 6px	
				strong
					font-size: 35px	
					color: $main_orange
		button
			width: 250px	
			margin: 0px auto
			background: $main_orange
			border: none
			border-radius: .4rem
			padding: 12px 33px
			color: #fff		
			cursor: pointer
