{% extends "user/account.html" %}
{% load static %}
{% block order %}
    {% for item in order %}
        <div class="ordering__info">
            <div class="number__order">
                <span>№{{ item.id }}</span>
            </div>
            <div class="data__order">
                <span>{{ item.date }}</span>
            </div>
            <div class="type__order">
                <span>{{ item.status }}</span>
            </div>
            <div class="status__order">
                <span class="item-total"> {{ item.total|floatformat }} грн</span>
            </div>
            <div class="detail__order">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".detail-{{ item.id }}">
                    Детали
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock order %}
{% block order-modal %}
    {% for item in order %}
	<div class="modal detail-{{ item.id }} fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Детали заказа</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
                        <h3>Товар</h3>
                        <table class='table'>

                            {% for order_item in item.items.items.all %}
                                <tr>
                                    <td>{{ order_item.product.title }}</td>
                                    <td>{{ order_item.qty }} шт.</td>
                                    <td>{{ order_item.item_total|floatformat }} грн.</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td>Итого</td>
                                <td><strong>{{ item.items.cart_total|floatformat }} грн.</strong></td>
                            </tr>
                        </table>
                        <h3>Заказчик</h3>
                        <p>Имя: {{ item.first_name }}</p>
                        <p>Фамилия: {{ item.last_name }}</p>
                        <p>Телефон: {{ item.phone }}</p>
                        <h3>Адрес доставки</h3>
                        {{ item.address }}

                        {% if item.comments != "" %}
                        <h3>Комментарии к заказу</h3>
                        <p>{{ item.comments }}</p>
                        {% endif %}
                    </div>
				<div class="modal-footer d-flex justify-content-between flex-wrap">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
    {% endfor %}

{% endblock order-modal %}