{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="SHORTCUT ICON" type="image/x-icon" href="{% static 'libs/favicon.ico' %}">
    <meta name="robots" content="index,follow">
    <title>Интернет-магазин Kings Shop™: Личный кабинет пользователя</title>
    <meta name="description" content="Интернет-магазин Kings Shop™: Личный кабинет пользователя" >
    <meta name="keywords" content="поменять пароль, пароль, логин, адреса, кабинет, личный кабинет">

	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_400_500_700_900.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_Condensed.css' %}">
    <!--icons-->
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free-5.4.2-web/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media_account.css' %}">
    <!--icons-->
   <!--slick slider-->
	<script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
	{% include 'startpage/modal-cart.html' %}
	{% include 'startpage/modal-feedback.html' %}
	{% include 'startpage/modal-login.html' %}
	{% include "startpage/header.html" %}







	<!-- Modal -->
	<div class="modal fade" id="edit-prifile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Редактирование профиля</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form action="">
						<div class="info-user">
							<div class="title-profile">
								Общая информация
							</div>
							<div class="edit-info">
								<div class="area-i">
									<label for="" class="name">Имя</label>
									<input type="" class="account_name" name="" value="{{ user.name }}">
								</div>
								<div class="area-i">
									<label for="" class="surname">Фамилия</label>
									<input type="" class="account_surname" name="" value="{{ user.surname }}">
								</div>
                                <!--<div class="area-i">
									<label for="" class="email">Email</label>
									<input type="" class="account_email" name="" value="{{ user.email }}">
								</div>-->
								<div class="area-i">
									<label for="" class="phone">Номер телефона</label>
									<input class="account_phone" name="" value="{{ user.phone }}">
								</div>
                                <br>
							</div>
                            <br>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" id="update-personal-data" class="btn">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
    <script>$("#update-personal-data").on("click",function(e){e.preventDefault();$.ajax({type:"GET",url:'{% url "chande_personal_data" %}',data:{'name':$(".account_name").val(),'surname':$('.account_surname').val(),'phone':$('.account_phone').val(),'change':'true',},success:function(data){if($(".info__name").text().trim()!=data.name){$(".info__name").text(data.name);$(".info__name").css({'color':'#53da5396','font-weight':700,});$(".account_name").css({'border-color':'#53da5396','border-width':'2px',})}if($('.info__surname').text().trim()!=data.surname){$('.info__surname').text(data.surname);$(".info__surname").css({'color':'#53da5396','font-weight':700,});$(".account_surname").css({'border-color':'#53da5396','border-width':'2px',})}if($('.info__phone').text().trim()!=data.phone){$('.info__phone').text(data.phone);$(".info__phone").css({'color':'#53da5396','font-weight':700,});$(".account_phone").css({'border-color':'#53da5396','border-width':'2px',})}console.log(data)}})})</script>
	<section class="persona-area">

		<div class="main-title">
			<h3>Личный кабинет</h3>
		</div>	


		<div class="all-info-for-user d-flex">
			<div class="table__info_owner">
				<div class="description-area">
					<h4>Общая информация</h4>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-prifile">
						<img src="{% static 'img/edit.png' %}" alt="">
					</button>
				</div>

				<div class="personal-info d-flex">
					<div class="owner__header">
						<div class="name__owner">
							<span>Имя:</span>
						</div>
						<div class="surname__ovner">
							<span>Фамилия:</span>
						</div>
						<div class="number__ovner">
							<span>Номер тел:</span>
						</div>
						<div class="mail__ovner">
							<span>E-mail:</span>
						</div>
					</div>
					<div class="owner__info">
						<div class="info__name">
							{{ user.name }}
						</div>
						<div class="info__surname">
							{{ user.surname }}
						</div>
						<div class="phone info__phone">
							{{ user.phone }}
						</div>
						<div class="mail">
							{{ user.email }}
						</div>
					</div>
				</div>

			</div>
			<div class="table__info_ordering">
				<div class="description-area">
					<h4>Информация о заказе</h4>
				</div>
				<div class="ordering__header">
					<div class="number__order">
						<span>Номер заказа:</span>
					</div>
					<div class="data__order">
						<span>Дата заказа:</span>
					</div>
					<div class="type__order">
						<span>Статус заказа:</span>
					</div>
					<div class="status__order">
						<span>Статус заказа:</span>
					</div>
					<div class="detail__order">
						<span>Детали заказа</span>
					</div>		
				</div>
				<!--#################################################################################################################-->
				{% block order %}{% endblock order %}
				{% block order-modal %}{% endblock order-modal %}
			</div>
		</div>

	</section>
    <br><br>
	{% include "startpage/footer.html" %}
	{% include 'startpage/ajax-cart-modal-js.html' %}
	<script src="{% static 'js/poper1.14.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap4.1.1.min.js' %}"></script>

	<script src="{% static 'js/account.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script>$(function () {
    $("#phone").mask("+38(999) 999-9999");
});</script>
</body>
</html>