<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зміна вигляду сайту</title>
</head>
<body style="background: #211b1b">
    <center>
        <p  style="font-weight: 700;
    color: #87b73e;
    font-size: 2em;
    margin-top: 20%;
    border: 1px solid black;
    width: 42%;
    padding: 18px;
    border-radius: 4rem;
    border-color: green;">
            Зараз включено режим {{ format_store }}
        </p>
    </center>
</body>
</html>