{% load static %}
{% for item in cart.items.all %}
						<!-- one of the all card in a basket -->
						<div class="card-item d-flex justify-content-between align-items-center" id="field-id-{{ item.product.id }}">
							<!-- 	first column, *photo* -->
							<div class="adapt-f">
								<div class="card-item-column">
									<div class="img">
										<a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image.url }}" alt=""></a>
									</div>
								</div>
								<!-- second column, *description and price* -->
								<div class="card-item-column">
									<div class="name-purches">
										<a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
									</div>
									<div class="price">
										<span class="d-flex">{{ item.product.price|floatformat }}<small> <sub>грн</sub> </small></span>

									</div>
								</div>
							</div>

							<!-- third column, *add or minus tovar from the basket* -->
							<div class="adapt-s">
								<div class="card-item-column d-flex align-items-centerd justify-content-center">
									<div class="quontity">
                                        <form action='' method='GET'>
			<input type='number' name='qty' class='cart-item-qty' data-id='{{ item.id }}' value='{{ item.qty }}' min='1' style='width: 50px;'>
		</form>
									</div>
								</div>
								<!-- forth column, *total sum of one tovar* -->
								<div class="card-item-column d-flex align-items-center">
									<div class="price summ d-flex justify-content-center" id='cart-item-total-{{ item.id }}'>
										{{ item.item_total|floatformat }}<small> <sub>грн</sub> </small>
									</div>
								</div>
								<span class="icon-remove remove_from_cart" data-slug='{{ item.product.slug }}' data-id='{{ item.product.id }}'><img src="{% static 'img/delete-tovar.png' %}" alt=""></span>
							</div>
						</div>
                        {% endfor %}