<script>
    $(document).ready(function () {
        $("#np-name-city").on('input', function () {
            var timer;
            clearTimeout(timer);
            timer = setTimeout(function() {
                getInfoCity($("#np-name-city").val());
            }, 1777);
        });
        $("#np-search-city-list").on('change', function () {
            setTimeout(function() {
                getAddress($("#np-search-city-list :selected").data('ref'));
            }, 777);
        });

        function getInfoCity(name) {
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: 'https://api.novaposhta.ua/v2.0/json/',
                type: "POST",
                "headers": {
                    "content-type": "application/json",
                },
                contentType: "application/json; charset=utf-8",
                "processData": false,
                dataType: "json",
                data: JSON.stringify({
                    "modelName": "AddressGeneral",
                    "calledMethod": "getSettlements",
                    "methodProperties": {
                        "FindByString": name,
                        "Warehouse": "1",
                        "Page": "1",
                    },
                    "apiKey": "c95e607226aa4c7e581e75c2e2267039"
                }),
                success: function (result) {
                    var count = result.data.length;
                    var str = String();
                    if (count > 15)
                        getInfoCity($("#np-name-city").val());

                    var Area, Ref, Region, SettlementType, Description, SettlementTypeDescription, AreaDescription;
                    for (var i = 0; i < count; i++) {
                        Area = result.data[i].Area;
                        Ref = result.data[i].Ref;
                        Region = result.data[i].Region;
                        SettlementType = result.data[i].SettlementType;
                        Description = result.data[i].Description;
                        SettlementTypeDescription = result.data[i].SettlementTypeDescription;
                        AreaDescription = result.data[i].AreaDescription;
                        str += "<option data-ref='" + Ref + "'>"
                            + AreaDescription + ", " + Description + " (" + SettlementTypeDescription + ")</option>"
                    }
                    $("#np-search-city-list").html(str);
                    setTimeout(function() {
                        getAddress($("#np-search-city-list :selected").data('ref'));
                    }, 777);
                }
            });
        }

        function getAddress(Ref) {
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: 'https://api.novaposhta.ua/v2.0/json/',
                type: "POST",
                "headers": {
                    "content-type": "application/json",
                },
                contentType: "application/json; charset=utf-8",
                "processData": false,
                dataType: "json",
                data: JSON.stringify({
                    "modelName": "AddressGeneral",
                    "calledMethod": "getWarehouses",
                    "methodProperties": {
                        "SettlementRef": Ref,
                    },
                    "apiKey": "c95e607226aa4c7e581e75c2e2267039" // API-KEY
                }),
                success: function (result) {
                    var  count =  result.data.length;
                    str = "";
                    for(var i = 0; i < count; i++){
                        str += '<option value="'+result.data[i]['Description']+'">'+result.data[i]['Description']+'</option>';
                    }
                    $("#np-address").html(str);
                }
            });
        }
    });
</script>