{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

            <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="SHORTCUT ICON" type="image/x-icon" href="{% static 'libs/favicon.ico' %}">
    <meta name="robots" content="index,follow">
    <title>Интернет-магазин Kings Shop™: Оформление заказа в три шага</title>
    <meta name="description" content="Интернет-магазин Kings Shop™: Оформление заказа в три шага" >
    <meta name="keywords" content="купить, в три шага, додавать товар, отнимать товар, купить быстро, новая пошта, имя, фамилия,">

	<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/ordering.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_400_500_700_900.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_Condensed.css' %}">
    <!--icons-->
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free-5.4.2-web/css/all.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/ordering_media.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
    {% include 'startpage/modal-cart.html' %}
    {% include 'startpage/modal-feedback.html' %}
    {% include 'startpage/modal-login.html' %}
    {% include 'startpage/header.html' %}


	<section class="order_setion box">

		<div class="ordering">
			<div class="content d-flex">

				<!-- first form -->

				<div class="first_form">
					<h3>Товари в кошику</h3>
					<div class="content">
						<div class="popup_precard">
							<!-- just a header -->
							<div class="card-items-header d-flex">
								<div class="name-header">Название</div>
								<div class="price-header">Цена</div>
								<div class="quontity-header">Кол-во</div>
								<div class="sum-header">Сумма</div>
							</div>
    {% for item in cart.items.all %}
                            <!-- one of the all card in a basket -->
                            <div class="card-item d-flex justify-content-between align-items-center"
                                 id="field-id-{{ item.product.id }}">
                                <!-- 	first column, *photo* -->
                                <div class="adapt-f">
                                    <div class="card-item-column">
                                        <div class="img">
                                            <a href="{{ item.product.get_absolute_url }}"><img
                                                    src="{{ item.product.image.url }}" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- second column, *description and price* -->
                                    <div class="card-item-column">
                                        <div class="name-purches">
                                            <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
                                        </div>
                                        <div class="price">
                                            <span class="d-flex">{{ item.product.price }}
                                                <small> <sub>грн</sub> </small></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- third column, *add or minus tovar from the basket* -->
                                <div class="adapt-s">
                                    <div class="card-item-column d-flex align-items-centerd justify-content-center">
                                        <div class="quontity">
                                            <form action='' method='GET'>
                                                <input type='number' name='qty' class='cart-item-qty'
                                                       data-id='{{ item.id }}' value='{{ item.qty }}' min='1'
                                                       style='width: 50px;'>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- forth column, *total sum of one tovar* -->
                                    <div class="card-item-column d-flex align-items-center">
                                        <div class="price summ d-flex justify-content-center"
                                             id='item-total-{{ item.id }}'>
                                            {{ item.item_total }}
                                            <small><sub>грн</sub></small>
                                        </div>
                                    </div>
                                    <span class="icon-remove remove_from_cart" data-slug='{{ item.product.slug }}'
                                          data-id='{{ item.product.id }}'><img src="{% static 'img/delete-tovar.png' %}"
                                                                               alt=""></span>
                                </div>
                            </div>
                        {% endfor %}
						</div>
					</div>
					<div class="footer_form">
						<div class="amount d-flex flex-row " style="background: deepskyblue;">
							<span>Загальна вартість:</span><span style="background: deepskyblue;" id="total-price">{{ cart.cart_total }}<small> <sub>грн</sub> </small></span>
						</div>
					</div>
				</div>
				<!--/ first/ form -->

				<!-- second form -->

				<div class="second_form">
					<h3>Предварительный просмотр</h3>
					<div class="content">
						<div class="popup_precard">
							<!-- just a header -->
							<div class="card-items-header d-flex">
								<div class="name-header">Название</div>
								<div class="quontity-header">Кол-во</div>
								<div class="sum-header">Сумма</div>
							</div>
                            {% for item in cart.items.all %}
                            <div class="card-item d-flex justify-content-between align-items-center"  id="field-id-{{ item.product.id }}">
								<!-- 	first column, *photo* -->
								<div class="adapt-f">
									<div class="card-item-column">
										<div class="img">
                                            <a href="{{ item.product.get_absolute_url }}"><img
                                                    src="{{ item.product.image.url }}" alt=""></a>
                                        </div>
									</div>
									<!-- second column, *description and price* -->
									<div class="card-item-column">
										<div class="name-purches">
                                             <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
										</div>
									</div>
								</div>

								<!-- third column, *add or minus tovar from the basket* -->
								<div class="adapt-s">
									<div class="card-item-column">
										<div class="quontity">
                                            <input type="text" value='{{ item.qty }}'  id="qty-second-{{ item.product.id }}" maxlength="3" readonly="">
										</div>
									</div>
									<!-- forth column, *total sum of one tovar* -->
									<div class="card-item-column">
                                        <div class="price summ d-flex justify-content-center" id='second-item-total-{{ item.id }}'>
                                            {{ item.item_total }}
                                            <small><sub>грн</sub></small>
                                        </div>
									</div>
									<span class="icon-remove"><img src="{% static 'img/delete-tovar.png'%}" alt=""></span>
								</div>
							</div>
                            {% endfor %}
						</div>
					</div>
					<!-- footer second form -->
					<div class="footer_form">
						<button class="btn">
							Назад
						</button>
						<div class="overlay">
							<div class="amount d-flex flex-row">
								<span>Итоги:</span><span id="total-price-second">{{ cart.cart_total }}<small> <sub>грн</sub> </small></span>
							</div>
							<button class="btn">
								Перейти к оформлению
							</button>
						</div>

					</div>
					<!--/ footer second form /-->
				</div>






				<!-- third form -->
				<div class="third_form">
					<h3>Оформелення</h3>

					<!-- message about error -->
					<div class="message js-form-message"></div>
					<!--/ message about error/ -->

					<form action=""  id="person">
						<!-- ******************** -->
						<div class="overlay">
							<div class="form_item">
								<input type="text" id="name" name="name" class="d" autocomplete="off" placeholder="Имя"
                                value="{% if request.user.is_authenticated %}{{ user.name }}{% endif %}">
							</div> 
							<!-- ******************** -->
							<div class="form_item">
								<input type="text" id="surname" name="surname" autocomplete="off" placeholder="Фамилия"
                                value="{% if request.user.is_authenticated %}{{ user.surname }}{% endif %}">
							</div> 
							<!-- ******************** -->
							<div class="form_item">
								<input type="text" id="phone_user" name="phone" autocomplete="off" placeholder="Телефон"
                                value="{% if request.user.is_authenticated %}{{ user.phone }}{% endif %}">
							</div>
						</div>

						<!-- ******************** -->
						<div class="overlay">
							<div class="form_item">
								<label for="">Спосіб Доставки</label>
								<select name="variable_dostava" id="delivery_check">
									<option value="1">Нова пошта</option>
									<option value="2">Самовивоз</option>
								</select>
							</div>
							<!-- ***********NEW post********* -->
							<div id="post" class="post">
								<header>
									<img src="{% static 'img/posy.png' %}" alt="">
								</header>
								<label for="">Введіть назву вашого міста</label>
								<input type="text"  autocomplete="off" placeholder="Київ" name="np-name-city" id="np-name-city">
								<label for="">Виберіть ваш населений пункт</label>
								<select id="np-search-city-list"  name="np-search-city-list" >
								</select>
								<label for="">Виберіть відділення Нової Пошти</label>
								<select id="np-address" name="np-address">
								</select>
							</div>
							<!-- /***********NEW post*********/ -->

							<!-- ***********Express********* -->
							<div id="express" class="express">
								<label class="main_l">Ваша адреса</label>
								<!-- top block with region and city -->
								<div class="city d-flex">
									<div class="exp_item">
										<label for="">Область</label>
										<input type="text" autocomplete="off" id="oblast" name="adress">
									</div>
									<div class="exp_item">
										<label>Місто</label>
										<input type="text" autocomplete="off" id="city" name="city">
									</div>
								</div>
								<!--/ top block with region and city/ -->

								<!-- bottom block with address (street, number) -->
								<div class="address d-flex">
									<div class="exp_item">
										<label>Вулиця</label>
										<input type="text" id="street" autocomplete="off" name="street">
									</div>
									<div class="exp_item">
										<label>Дім</label>
										<input type="text" id="home" autocomplete="off" name="home">
									</div>
									<div class="exp_item">
										<label>Квартира</label>
										<input type="text" id="flat" autocomplete="off" name="flat">
									</div>
								</div>
								<!-- /bottom block with address (street, number)/ -->
							</div>
							<!-- ***********Express********* -->
						</div>
						<div class="overlay">

							<label for="">Коментар</label>
							<textarea  name="comment" id="comment" placeholder="Додати"></textarea>
						</div>
                        {% csrf_token %}
                    </form>
					<!-- footer third form -->
					<div class="footer_form d-flex justify-content-between">

						<input style="background: deepskyblue;" type="submit" autocomplete="off" id="make-order-js" name="" value="Замовити">
					</div>

					<!-- /footer third form/ -->
				</div>
				<!-- third form -->
			</div>
		</div>
	</section>

<!-- FOTER -->
	<footer class="main-footer ">
		<div class="content box">
			<div class="left_hand">
				<div class="description">
					<p><i class="far fa-copyright"></i> Интернет-магазин "TechnoSKY"</p>
				</div>
				<h4>График работы</h4>
				<ul>
					<li>В будние дни  8-21</li>
					<li>Суббота 9-20</li>
					<li>Воскресенье 10-19</li>
				</ul>
			</div>

			<!--<div class="syka">
				<img src="/theme/img/mastercard-securecode2.png" alt="">
				<img src="/theme/img/Visa_Logo.png" alt="">
			</div>-->
		</div>
</footer>
{% include 'order/nova-poshta-js.html' %}
<script>
$("#make-order-js").on('click',function(){var name=$('#name');var phone=$('#phone_user');var error=!1;var csrf=$("[name=csrfmiddlewaretoken]").val();if(name.val().trim()==""||name.val()==undefined){name.val("");name.attr("placeholder","Введите ваше имя");error=!0;name.css('background','rgba(255,0,0,0.16)')}else{name.css('background','#fff')}
if(/^[0-9]{9,12}$/.test(phone.val())===!1){phone.val("");phone.attr("placeholder","Введите корректный телефон");error=!0;phone.css('background','rgba(255,0,0,0.16)')}else{phone.css('background','#fff')}
if($("#delivery_check").val()==1){var np_name_city=$('#np-search-city-list');var np_search_city_list=$('#np-address');if(np_name_city.val()==""||np_name_city.val()==undefined){np_name_city.css('background','rgba(255,0,0,0.16)');error=!0}else{np_name_city.css('background','#fff')}
if(np_search_city_list.val()==""||np_search_city_list.val()==undefined){np_search_city_list.css('background','rgba(255,0,0,0.16)');np_search_city_list.attr("placeholder","Введите ваш город");error=!0}else{np_search_city_list.css('background','#fff')}
var name_city=$("#np-name-city");if(name_city.val()==""||name_city.val()==undefined){name_city.attr("placeholder","Введите ваш город");name_city.css('background','rgba(255,0,0,0.16)');error=!0}else{name_city.css('background','#fff')}}else{var oblast=$("#oblast");if(oblast.val().trim()==""||oblast.val()==undefined){oblast.val("");oblast.attr("placeholder","Введите вашу область");error=!0;oblast.css('background','rgba(255,0,0,0.16)')}else{oblast.css('background','#fff')}
var city=$("#city");if(city.val().trim()==""||city.val()==undefined){city.val("");city.attr("placeholder","Введите ваш город");error=!0;city.css('background','rgba(255,0,0,0.16)')}else{city.css('background','#fff')}}
if(error==!1){if($("#delivery_check").val()==1){var np_name_city=$('#np-search-city-list').val();var np_search_city_list=$('#np-address').val()}else{var np_name_city=$("#oblast").val();var np_search_city_list=$("#city").val()+","+$("#street").val()+","+$("#home").val()+","+$("#flat").val()}
$.ajax({type:"POST",url:'{% url 'make_order' %}',data:{'name':name.val(),'surname':$('#surname').val(),'phone':phone.val(),'np-name-city':np_name_city,'np-address':np_search_city_list,'comment':$("#comment").val(),'csrfmiddlewaretoken':csrf,},success:function(data){location="{% url 'thanks_you' %}"}})}})
</script>
</body>
<!-------------------------AJAX----------------------------->
<script>
    // Redirect to cart
    $('.redirect-cart').on('click', function () {
        window.location.href = '{% url 'cart' %}';
    });
</script>
<script type="text/javascript">$(document).ready(function(){$('body').on('click','.cart-item-qty',function(){var qty=$(this).val();item_id=$(this).attr('data-id');data={'qty':qty,'item_id':item_id};$.ajax({type:"GET",url:'{% url "change_item_qty" %}',data:data,success:function(data){$("#cart_count").html(data.cart_total);$('#cart-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#second-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#cart-total-price').html('<span class="d-flex" id="cart-total-price">'+parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small></span>');$('#total-price').html(parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#total-price-second').html(parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small>');console.log(data.item_id);$('#qty-second-'+data.item_id).val(data.item_qty)}})});$('.cart-empty').css('display','none');$('body').on('click','.remove_from_cart',function(e){e.preventDefault();product_slug=$(this).attr('data-slug');item_product_id=$(this).attr('data-id');data={product_slug:product_slug};$.ajax({type:"GET",url:'{% url "remove_from_cart" %}',data:data,success:function(data){if(data.cart_total==0){location.href="/"}
$("#cart_count").html(data.cart_total);$('#field-id-'+item_product_id).detach();$('#field-id-'+item_product_id).detach();$('#field-id-'+item_product_id).detach();$('.cart-item-'+item_product_id).css('display','none');$('#cart-total-price').html(parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#total-price').html(parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small>');$('#total-price-second').html(parseFloat(data.cart_total_price).toFixed(2)+'<small> <sub>грн</sub> </small>')}})})})
</script>
<!-------------------------/AJAX---------------------------->
<script src="https://use.fontawesome.com/c3d5357500.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){$('select[name="variable_dostava"]').change(function(){var el=$(this).val();if(el==1){$('#post').css('display','block');$('#express').css('display','none')}
else if(el==2){$('#express').css('display','block');$('#post').css('display','none')}})})
</script>
<script src="{% static 'js/ordering.js' %}"></script>
</html>