{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="SHORTCUT ICON" type="image/x-icon" href="/static/libs/favicon.ico">
    <meta name="robots" content="index,follow">
    <title>Интернет-магазин Kings Shop™: Спасибо за покупку</title>
    <meta name="description" content="Интернет-магазин Kings Shop™: Ваш заказ успешно оформлен,
наш оператор свяжется с вами в ближайшее время " >
    <meta name="keywords" content="спасибо, за, покупку, покупка, покупать, розетка, купить">


    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/thanks-page.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_400_500_700_900.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_Condensed.css' %}">
    <!--icons-->
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free-5.4.2-web/css/all.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
    {% include 'startpage/modal-cart.html' %}
    {% include 'startpage/modal-feedback.html' %}
    {% include 'startpage/modal-login.html' %}
    {% include 'startpage/header.html' %}


    <section class="main-section">
        
        <section class="thanks">
            <div class="thanks-box">
                <p>Ваш заказ успешно оформлен, <br> наш оператор свяжется с вами в ближайшее время <br> <strong>Спасибо за
                покупку!</strong> <br></p>
                <p></p>
                <img src="{% static 'img/check.png' %}" alt="">
            </div>
            <button onclick="location='/'">Продолжить покупки</button>
        </section>

        {% include 'startpage/footer.html' %}

    </section>




    {% include 'startpage/ajax-cart-modal-js.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/script-thanks.js' %}"></script>
</body>
</html>