<script>$('.redirect-cart').on('click', function () {
    window.location.href = '{% url "cart" %}';
});
$(document).ready(function () {
    $('body').on('click', '.add_to_cart-hot', function (e) {
        e.preventDefault();
        $(this).html('<i class="far fa-check-circle"></i>' + '<small>Товар в корзине</small>').css({
            'color': '#ffffff',
            'background': 'rgba(223, 208, 239, 0.46)',
        });
        var icons = $(this).parent().parent().parent().find('.add_to_cart_icon');
        icons.css('color', '#06b206');
        product_slug = $(this).attr('data-slug');
        data = {'product_slug': product_slug};
        $.ajax({
            type: "GET", url: '{% url "add_to_cart" %}', data: data, success: function (data) {
                $("#cart_count").html(data.cart_total);
                $('#cart-total-price').html(data.cart_total_price + '<small> <sub>грн</sub> </small>');
                $.ajax({
                    type: "GET", url: '{% url "format_html_for_cart" %}', data: {}, success: function (data) {
                        $('.card-item').detach();
                        $('.card-items-header').after(data)
                    }
                })
            }
        })
    });
    $('body').on('click', '.add_to_cart', function (e) {
        e.preventDefault();
        $(this).css('background', 'rgba(223, 208, 239, 0.46)');
        $(this).html('<i class="far fa-check-circle"></i>' + '<small>Товар в корзине</small>').css('color', '#06d906');
        var icons = $(this).parent().parent().parent().find('.add_to_cart_icon');
        icons.css('color', '#06b206');
        product_slug = $(this).attr('data-slug');
        data = {'product_slug': product_slug};
        $.ajax({
            type: "GET", url: '{% url "add_to_cart" %}', data: data, success: function (data) {
                $("#cart_count").html(data.cart_total);
                $('#cart-total-price').html(data.cart_total_price + '<small> <sub>грн</sub> </small>');
                $.ajax({
                    type: "GET", url: '{% url "format_html_for_cart" %}', data: {}, success: function (data) {
                        $('.card-item').detach();
                        $('.card-items-header').after(data)
                    }
                })
            }
        })
    });
    $('body').on('click', '.add_to_cart_icon', function (e) {
        e.preventDefault();
        product_slug = $(this).attr('data-slug');
        $(this).css({'color': '#06b206', 'border-color': 'green',});
        var button = $(this).parent().parent().parent().find('.add_to_cart');
        button.css('color', '#06d906');
        if (button.length == 0) {
            button = $(this).parent().parent().parent().find('.add_to_cart-hot');
            button.css('color', '#fff')
        }
        button.css('background', 'rgba(223, 208, 239, 0.46)');
        button.html('<i class="far fa-check-circle"></i>' + '<small>Товар в корзине</small>');
        data = {'product_slug': product_slug};
        $.ajax({
            type: "GET", url: '{% url "add_to_cart" %}', data: data, success: function (data) {
                $("#cart_count").html(data.cart_total);
                $.ajax({
                    type: "GET", url: '{% url "format_html_for_cart" %}', data: {}, success: function (data) {
                        $('.card-item').detach();
                        $('.card-items-header').after(data)
                    }
                })
            }
        })
    });
    $('body').on('click', '.cart-item-qty', function () {
        qty = $(this).val();
        item_id = $(this).attr('data-id');
        data = {'qty': qty, 'item_id': item_id};
        $.ajax({
            type: "GET", url: '{% url "change_item_qty" %}', data: data, success: function (data) {
                $("#cart_count").html(data.cart_total);
                $('#cart-item-total-' + item_id).html(parseFloat(data.item_total).toFixed(2) + '<small> <sub>грн</sub> </small>');
                $('#cart-total-price').html('<span class="d-flex" id="cart-total-price">' + parseFloat(data.cart_total_price).toFixed(2) + '<small> <sub>грн</sub> </small></span>')
            }
        })
    });
    $('.cart-empty').css('display', 'none');
    $('body').on('click', '.remove_from_cart', function (e) {
        e.preventDefault();
        product_slug = $(this).attr('data-slug');
        item_product_id = $(this).attr('data-id');
        data = {product_slug: product_slug};
        $.ajax({
            type: "GET", url: '{% url "remove_from_cart" %}', data: data, success: function (data) {
                $("#cart_count").html(data.cart_total);
                $('#field-id-' + item_product_id).detach();
                $('.cart-item-' + item_product_id).css('display', 'none');
                $('#cart-total-price').html(parseFloat(data.cart_total_price).toFixed(2) + '<small> <sub>грн</sub> </small>');
                $("#product-" + data.product_id).find(".add_to_cart").text('КУПИТЬ');
                $("#product-" + data.product_id).find(".add_to_cart").css('background', '#E4601E');
                $("#product-" + data.product_id).find(".add_to_cart").css('color', '#fff');
                $(".add_to_cart_icon").css('color', '#E4601E')
            }
        })
    })
});</script>