{% load cache %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="SHORTCUT ICON" type="image/x-icon" href="{% static 'libs/favicon.ico' %}">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ seo.title }}</title>
    <meta name="description" content="{{ seo.description }}" data-react-helmet="true">
    <meta name="keywords" content="{{ seo.keywords }}" data-react-helmet="true">
    {% cache 500000 head %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_400_500_700_900.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto_Condensed.css' %}">
    <!--icons-->
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free-5.4.2-web/css/all.min.css' %}">
    <!--slick slider-->
    <link rel="stylesheet" type="text/css" href="{% static  'js/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}">
    <!--OWL carouser-->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bxslider-4-4.2.12/dist/jquery.bxslider.css' %}">
    <!--to top-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui.totop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styel.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'css/media_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_media.css' %}">
    <!--Jqurey-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
{% endcache %}
</head>
<body style="
    background: #5555bf2b;
">
{% include 'startpage/modal-cart.html' %}
{% include 'startpage/modal-feedback.html' %}
{% include 'startpage/modal-login.html' %}
{% include 'startpage/header.html' %}


{% block content %}{% endblock content %}
{% block ajax %}{% endblock ajax %}

{% include 'startpage/footer.html' %}

{% cache 500000 footer1 %}
<script src="{% static 'js/slick/slick.js' %}"></script>
<script src="{% static 'libs/bxslider-4-4.2.12/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static  'js/fontawesome.js'%}"></script>
<!--Button, to top-->
<script src="{% static 'js/btn-to-top/easing.js' %}"></script>
<script src="{% static 'js/btn-to-top/jquery.ui.totop.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<!--Modal window-->
<script src="{% static 'js/poper1.14.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap4.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>$(function () {
    $("#phone").mask("+38(999) 999-9999");
});</script>
{% endcache %}
</body>
</html>