{% load static %}
<footer class="main-footer ">
		<div class="content box">
			<div class="left_hand">
				<div class="description">
					<p style="color: yellow"><i class="far fa-copyright"></i> Интернет-магазин "смеШАРИКИ"</p>
				</div>
				<h4 style="color: yellow">График работы</h4>
				<ul>
					<li style="color: yellow">В будние дни  8-21</li>
					<li style="color: yellow">Суббота 9-20</li>
					<li style="color: yellow">Воскресенье 10-19</li>
				</ul>
			</div>

			<!--<div class="syka">
				<img src="/theme/img/mastercard-securecode2.png" alt="">
				<img src="/theme/img/Visa_Logo.png" alt="">
			</div>-->
		</div>
</footer>