<div class="content-i">
<div class="wrappererd">
            <div class="main block-c">
                <div class="s_header">
                    <h3 style="font-weight: 500; border-radius: 40px">{{ first_title }}</h3>
                </div>
                <div class="content-i">
                    <div class="sl_12">
                        {% for f_product in first_content %}
                            <div class="card-i d-flex flex-column justify-content-between"
                                 id="product-{{ f_product.product.id }}">
                                <div class="top-card">
                                    <a href="" class="add-product">
                                        {% if f_product.product.id in cart_id_items %}
                                            <i class="fas fa-cart-plus add_to_cart_icon"
                                               data-slug='{{ f_product.product.slug }}'
                                               style="color: rgb(6, 178, 6)">
                                            </i>
                                        {% else %}
                                            <i class="fas fa-cart-plus add_to_cart_icon"
                                               data-slug='{{ f_product.product.slug }}'></i>
                                        {% endif %}
                                    </a>
                                    <a href="{{ f_product.product.get_absolute_url }}" class="img"><img
                                            src="{{ f_product.product.image.url }}" alt="{{ f_product.product.title }}"
                                            title="{{ f_product.product.title }}"></a>
<!--                                     <ul class="colorfull">
    <li class="variable-color-i"></li>
    <li class="variable-color-i"></li>
</ul> -->
                                </div>
                                <div class="bottom-card">
                                    <h2 class="title-phone">
                                        <a href="{{ f_product.product.get_absolute_url }}">{{ f_product.product.title }}
                                            <br>Код - {{ f_product.product.code_product }}</a>
                                    </h2>
                                    <p class="description">
                                        {%  if f_product.product.short_desc == None or  f_product.product.short_desc == ""%}
                                        <br>
                                         {% else %}
                                            {{ f_product.product.short_desc }}
                                        {% endif %}
                                    </p>
                                    <div class="price-rating">
                                        <div class="price">
                                            <span class="price">{{ f_product.product.price|floatformat }} </span><span
                                                class="f">грн</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-mark first-rating-star" data-star="{{ f_product.product.stars }}">

                                            </div>
                                        </div>
                                    </div>
                                    {% if f_product.product.id in cart_id_items %}
                                        <button class="btn add_to_cart" data-slug="{{ f_product.product.slug }}"
                                                style="background: rgba(223, 208, 239, 0.46); color: rgb(6, 217, 6);">
                                            <i class="far fa-check-circle"></i>
                                            <small>Товар в корзине</small>
                                        </button>
                                    {% else %}
                                        <button class="btn add_to_cart" data-slug='{{ f_product.product.slug }}'>
                                            Купить
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>
