
        <div class="content-i">
            <div class="wrappererd">
                <div class="main block-c">
                    <div class="s_header">
                        <h3 style="border-radius: 40px"><i class="fas fa-list-ul"></i> {{ third_title }} </h3>
                    </div>
                    <div class="sl_5" >
                        {% for t_product in third_content %}
                            <div class="card-i" id="product-{{ t_product.product.id }}">
                                <div class="top-card">
                                    <div class="category">
                                        <a href="{{ t_product.product.category.get_absolute_url }}">{{ t_product.product.category.name }}</a>
                                    </div>
                                    <a href="" class="add-product">
                                        {% if t_product.product.id in cart_id_items %}
                                            <i class="fas fa-cart-plus add_to_cart_icon"
                                               data-slug='{{ t_product.product.slug }}'
                                               style="color: rgb(6, 178, 6)"></i>
                                        {% else %}
                                            <i class="fas fa-cart-plus add_to_cart_icon"
                                               data-slug='{{ t_product.product.slug }}'></i>
                                        {% endif %}
                                    </a>
                                    <a href="{{ t_product.product.get_absolute_url }}"><img style="margin-top: 60px"
                                            src="{{ t_product.product.image.url }}" alt="{{ t_product.product.title }}"
                                            title="{{ t_product.product.title }}"></a>
<!--                                     <ul class="colorfull">
    <li class="variable-color"></li>
    <li class="variable-color"></li>
</ul> -->
                                </div>
                                <div class="bottom-card">
                                    <h2 class="title-phone">
                                        <a href="{{ t_product.product.get_absolute_url }}">
                                            {{ t_product.product.title }} <br> Код
                                            - {{ t_product.product.code_product }}
                                        </a>
                                    </h2>
                                    <p class="description">
                                         {%  if t_product.product.short_desc == None or  t_product.product.short_desc == ""%}
                                        <br>
                                         {% else %}
                                            {{ t_product.product.short_desc }}
                                        {% endif %}
                                        <!--3-32 / Exinos 921 / 5.5-->
                                    </p>
                                    <!--Price and rationg of product-->
                                    <div class="price-rating d-flex justify-content-between align-items-center">
                                        <!--just price-->
                                        <div class="price">
                                            <span class="price">{{ t_product.product.price|floatformat }} </span><span
                                                class="f">грн</span>
                                        </div>
                                        <!--just rationg-->
                                        <div class="rating">
                                            <div class="rating-mark third-rating-star" data-star="{{ t_product.product.stars }}">

                                            </div>
                                        </div>
                                    </div>

                                    <!--Btn make a sale-->
                                    <div class="kostyl d-flex justify-content-center">
                                        {% if t_product.product.id in cart_id_items %}
                                            <button class="btn add_to_cart" data-slug="{{ t_product.product.slug }}"
                                                    style="background: rgba(223, 208, 239, 0.46); color: rgb(6, 217, 6);">
                                                <i class="far fa-check-circle"></i>
                                                <small>Товар в корзине</small>
                                            </button>
                                        {% else %}
                                            <button class="btn add_to_cart" data-slug='{{ t_product.product.slug }}'>
                                                Купить
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
