<div class="content-i" >
            <div class="wrappererd">
                <div class="main block-c" >
                    <div class="s_header">
                        <h3 style="border-radius: 40px">{{ second_title }} <i class="fas fa-burn"></i></h3>
                    </div>
                    <div class="sl_2" >
                        {% for s_product in second_content %}
                            <div class="card-i" id="product-{{ s_product.product.id }}">
                                <div class="top-card">
                                    <div class="spekial_offer">
                                        <i class="fas fa-gift"></i> <div class="percent">-10%</div>
                                    </div>
                                    <a href="" class="add-product">
                                        {% if s_product.product.id in cart_id_items %}
                                            <i class="fas fa-cart-plus add_to_cart_icon"
                                               data-slug='{{ s_product.product.slug }}'
                                               style="color: rgb(6, 178, 6);margin-top: 6px"></i>
                                        {% else %}
                                            <i class="fas fa-cart-plus add_to_cart_icon"
                                               data-slug='{{ s_product.product.slug }}'></i>
                                        {% endif %}
                                    </a>
                                    <a href="{{ s_product.product.get_absolute_url }}" style="margin-top: 22px">
                                        <img src="{{ s_product.product.image.url }}" alt="{{ s_product.product.title }}"
                                             title="{{ s_product.product.title }}">
                                    </a>
<!--                                     <ul class="colorfull">
    <li class="variable-color"></li>
    <li class="variable-color"></li>
</ul> -->
                                </div>
                                <div class="bottom-card">
                                    <h2 class="title-phone">
                                        <a href="{{ s_product.product.get_absolute_url }}">{{ s_product.product.title }}
                                            <br> Код - {{ s_product.product.code_product }}</a>
                                    </h2>
                                    <p class="description">
                                       {%  if s_product.product.short_desc == None or  s_product.product.short_desc == ""%}
                                        <br>
                                         {% else %}
                                            {{ s_product.product.short_desc }}
                                        {% endif %}
                                    </p>
                                    <div class="price-rating d-flex justify-content-between align-items-center">
                                        <div class="price">
                                            <span class="price">{{ s_product.product.price|floatformat }} </span><span
                                                class="f">грн</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-mark second-rating-star" data-star="{{ s_product.product.stars }}">

                                            </div>
                                        </div>
                                    </div>
                                    {% if s_product.product.id in cart_id_items %}
                                        <button class="btn add_to_cart" data-slug="{{ s_product.product.slug }}"
                                                style="background: rgba(223, 208, 239, 0.46); color: rgb(255,255,255);">
                                            <i class="far fa-check-circle"></i>
                                            <small>Товар в корзине</small>
                                        </button>
                                    {% else %}
                                        <button class="btn add_to_cart-hot" data-slug='{{ s_product.product.slug }}'>
                                            Купить
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>