{% load static %}
<!--Header-->
<header id="header" class="header" style="background: palegoldenrod;">
    <div class="block-a">
        <div class="central-info">
            <div class="logo">
                <a href="/">
                    <img style="max-width: 100px;
                                        border-radius: 25px"
                         src="{% static 'img/IMG_1134.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="header_content ">
            <!--phones-->
            <div class="phones d-flex justify-content-between align-items-center">
                <div class="g">

                </div>
            </div>

            <div class="search_box">
                <form action="">
                    <img src="{% static 'img/search.png' %}" alt="">
                    <input type="text" placeholder="Пошук ..." name="" id="validat" autocomplete="off">
                    <ul class="drop-list ul-list-search"></ul>
                    <a href="" style="background: deepskyblue;">Пошук</a>
                </form>
            </div>
        </div>


        <!--basket and login-->

        <div class="header_content_user d-flex">
            {# ------------ Accoun user -----------------  #}
            {% if request.user.is_authenticated %}
                <div class="singin d-flex flex-column">
                    <div class="goroup-btn d-flex flex-column align-items-center">
                        <button id="logout" class="btn btn-primary">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="enter">Выход</span>
                        </button>
                    </div>
                </div>
                <div class="singin d-flex flex-column">
                    <div class="goroup-btn d-flex flex-column align-items-center">
                        <button id="personal_room" class="btn btn-primary">
                            <i class="fas fa-address-book"></i>
                            <span class="enter">Кабинет</span>
                        </button>
                    </div>
                </div>
            {% else %}
                {# ---------- Entrance user --------------  #}
                <div class="singin d-flex flex-column">
                    <div class="goroup-btn d-flex flex-column align-items-center">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#Open">
                            <i class="fas fa-user"></i>
                            <span class="enter">Вход</span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <!--**********package**********-->
            <button class="user_package btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fas fa-shopping-basket"></i>
                <span class="purches">Корзина</span>
                <span class="count_purches" id="cart_count" style="border-radius: 0  0 8px 8px">
            {% if not request.session.total %} 0 {% else %} {{ count_product }} {% endif %}
        </span>
            </button>
        </div>
    </div>
</header>


<script type="application/javascript">
    $("body").on("click", "#logout", function (e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: '{% url 'logout' %}',
            data: {},
            success: function (data) {
                if (window.location.href.split('/')[3] == "account") {
                    location = '/'
                } else {
                    location = window.location.href
                }
            }
        })
    });
    $("body").on("click", "#personal_room", function (e) {
        e.preventDefault();
        location = "{% url "account" %}";
    });
</script>


<script>

    $('#validat').on('keyup', function (e) {
        e.preventDefault();
        clearTimeout(timer);
        var serch = $(this).val();
        if (serch.length >= 1) {
            $('.drop-list').show(100);
            var timer;
            timer = setTimeout(function () {
                $.ajax({
                    type: "GET",
                    url: '{% url 'query_serch' %}',
                    data: {
                        "query": $("#validat").val(),
                    },
                    success: function (data) {
                        $(".serch-f").detach();
                        $(".ul-list-search").append(data);
                    }
                });
                clearTimeout(timer);
            }, 777);
        } else {
            $('.drop-list').hide(100);
        }
    });

</script>
