{% extends 'startpage/base_index.html' %}
{% load static %}
{% block content %}
    <!--  top-area -->
    <section>
        <div class="block-c">
            <div class="f-screen">
                <div class="category">
                    <div class="category_header" style="background: deepskyblue;">
                        Категории
                    </div>
                    <ul class="c-menu" style="height: 415px">
                        {% for category in categories %}
                            <li class="c-menu-i">
                                <a href="{{ category.get_absolute_url }}" class="c-menu-link">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--slider-->
                <div class="wrappererd">
                    <div class="slider">
                        {% for slider in sliders %}
                            <a href="{{ slider.product.get_absolute_url }}"
                             {% if not forloop.first %} style="visibility: hidden;" {% endif %} class="slider-list-activity-ksh">
                                <img style="width: 100% " src="{{ slider.image.url }}" alt="{{ slider.title }}" title="{{ slider.title }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!--/slider-->
            </div>
        </div>
    </section>

    <section class="section-4"></section>
    <section class="section-5"></section>
    <div id="just-some-space">
        <br><br><br>
    </div>
{# JS for hidden all photo photo except first  #}
<script type="text/javascript">$(document).ready(function () {$(".slider-list-activity-ksh").css("visibility","initial");});</script>
{% endblock content %}

{% block ajax %}
    {% include "startpage/ajax-cart-modal-js.html" %}
{% endblock ajax %}
