{% extends 'startpage/base_index_landing.html' %}
{% load cache %}
{% load static %}
{% block content %}

   {% comment %} {% cache 5000 landing_sliders %}

<!--  top-area -->
    <section>
        <div class="block-slider">
            <div class="wrapper">
                <div class="slider-for">

                    {% for slider in sliders %}
                        <div class="item">
                            <a href="{{ slider.product.get_absolute_url }}"
                                    {% if not forloop.first %} style="visibility: hidden;" {% endif %}
                               class="slider-list-activity-ksh">
                                <img src="{{ slider.image.url }}" alt="{{ slider.title }}" title="{{ slider.title }}">
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    {# JS for hidden all photo photo except first  #}
<script type="text/javascript">$(document).ready(function () {$(".slider-list-activity-ksh").css("visibility","initial");});</script>
{% endcache %}
<!-- /top-area -->{% endcomment %}
  <br><br><br>
<section class="section-3"></section>
<section class="section-4"></section>
<section class="section-5"></section>
<div id="just-some-space">
    <br><br><br>
</div>

{% endblock content %}
{% block ajax %}
{% include "startpage/ajax-cart-modal-js.html" %}
{% endblock ajax %}