{% load static %}
<!-- Modal basket -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Корзина</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="popup_precard">
						<!-- just a header -->
						<div class="card-items-header d-flex">
							<div class="name-header">Название</div>
							<div class="price-header">Цена</div>
							<div class="quontity-header">Кол-во</div>
							<div class="sum-header">Сумма</div>
						</div>
                        {% for item in cart.items.all %}
						<!-- one of the all card in a basket -->
						<div class="card-item d-flex justify-content-between align-items-center" id="field-id-{{ item.product.id }}">
							<!-- 	first column, *photo* -->
							<div class="adapt-f">
								<div class="card-item-column">
									<div class="img">
										 <a href="{{ item.product.get_absolute_url }}"><img
                                                src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
									</div>
								</div>
								<!-- second column, *description and price* -->
								<div class="card-item-column">
									<div class="name-purches">
									 <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
									</div>
									<div class="price">
										  <span class="d-flex">{{ item.product.price }}
                                            <small> <sub>грн</sub> </small></span>
									</div>
								</div>
							</div>

							<!-- third column, *add or minus tovar from the basket* -->
							<div class="adapt-s">
								<div class="card-item-column d-flex align-items-centerd justify-content-center">
									<div class="quontity">
										<form action='' method='GET'>
                                            <input type='number' name='qty' class='cart-item-qty'
                                                   data-id='{{ item.id }}' value='{{ item.qty }}' min='1'
                                                   style='width: 50px;'>
                                        </form>
									</div>
								</div>
								<!-- forth column, *total sum of one tovar* -->
								<div class="card-item-column d-flex align-items-center">
									<div class="price summ d-flex justify-content-center"
                                         id='cart-item-total-{{ item.id }}'>
                                        {{ item.item_total|floatformat }}
                                        <small><sub>грн</sub></small>
                                    </div>
								</div>
								<span class="icon-remove remove_from_cart" data-slug='{{ item.product.slug }}'
                                      data-id='{{ item.product.id }}'><img src="{% static 'img/delete-tovar.png' %}"
                                                                           alt=""></span>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between flex-wrap">

					<button type="button" class="btn btn-secondary" data-dismiss="modal">Продолжить покупки</button>

					 <div class="amount d-flex flex-row">
                    <span>Итоги:</span><span class="d-flex" id="cart-total-price">{{ cart.cart_total|floatformat }}
                    <small> <sub>грн</sub> </small></span>
                    </div>

					<button type="button" class="btn btn-primary redirect-cart"><a href="{% url 'cart' %}">Оформить
                    заказ</a></button>
				</div>
			</div>
		</div>
	</div>