{% load static %}
<!-- Modal window login -->
	<div class="modal fade signin" id="Open" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div  class="group-btn w-100 justify-content-center">
						<button id="modal-action-enter">Вход</button>
						<button id="modal-action-exit">Регистрация</button>
					</div>

					<!-- Enter window -->
					<div class="modals">
						<div id="modal-enter">
							<h1>Вход</h1>
							<div class="enter">
								<form action="" class="d-flex flex-column" id="auth">
                                    {% csrf_token %}
									<div class="auth-in">
										<div class="kostyl">
											<input type="text" name="post" id="ent_email" placeholder="Почта" autocomplete="off"><i class="fas fa-at"></i></i>
										</div>
									</div>
									<div class="auth-in">
										<div class="kostyl">
											<input type="password" placeholder="Пароль" id="ent_pass" name="password" autocomplete="off"><i class="fas fa-unlock"></i>
										</div>
									</div>
                                    <center id="msg_error" style="display: none"></center>
									<div class="modal-footer d-flex">
										<input type="submit" id="entr_send" value="Вход">
									</div>
								</form>
                                <br>
							</div>
						</div>
						<!-- /Enter -->

						<!-- Exit window -->
						<div id="modal-exit">
							<h1>Регистрация</h1>
							<div class="exit">
								<form action="" class="d-flex flex-column" id="registration">
									<div class="auth-in">
										<div class="kostyl">
											<input type="text" id="r_name" name="name" placeholder="Имя" autocomplete="off"><i class="fas fa-user"></i>
										</div>
									</div>
									<div class="auth-in">
										<div class="kostyl">
											<input placeholder="Фамилия" id="r_surname" type="text" name="surname" placeholder="Имя" autocomplete="off"><i class="fas fa-user"></i>
										</div>
									</div>
									<div class="auth-in">
										<div class="kostyl d-inline">
											<input type="email" name="" id="r_email" placeholder="Почта" autocomplete="off"><i class="fas fa-at"></i></i>
										</div>

									</div>
									<div class="auth-in">
										<div class="kostyl">
											<input type="text" name="" id="r_phone" placeholder="Номер телефона" autocomplete="off"><i class="fas fa-phone"></i>
										</div>

									</div>
									<div class="auth-in">
										<div class="kostyl">
											<input placeholder="Пароль" id="r_password" name="password" type="password" data-toggle="tooltip" autocomplete="off" data-placement="top" title="Пароль должен быть не менее 6 символов, содержать цифры и заглавные буквы и не должен совпадать с именем и эл.почтой"><i class="fas fa-unlock"></i>
										</div>
									</div>
									<div class="modal-footer d-flex">
										<input type="submit" id="r_send" value="Зарегестрироваться">

									</div>
								</form>
							</div>
						</div>
						<!-- /Exit -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Modal wondow login -->
<script>
$("body").on("click","#entr_send",function(e){e.preventDefault();var error=!1;if(validateEmail($("#ent_email").val())===!1){error=!0;$("#ent_email").val("");$("#ent_email").css("background","rgba(255,0,0,0.16)");$("#ent_email").attr("placeholder","Введите корректный e-mail")}else{$("#ent_email").css("background","none")}
if($("#ent_pass").val().trim()==""){error=!0;$("#ent_pass").css('background','rgba(255,0,0,0.16)')}else{$("#ent_pass").css('background','none')}
if(error===!1){$.ajax({type:"POST",url:'{% url 'login' %}',data:{'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val(),'login':$("#ent_email").val(),'password':$("#ent_pass").val(),},success:function(data){console.log(data);if(data.success===!0){location=window.location.href}else{console.log("---");$("#msg_error").css("display","block");$("#msg_error").css("color","rgba(255, 16, 14, 0.8)");$("#msg_error").html("<h6>Неправильный логин или пароль<h6>")}}})}});function validateEmail(email){var re=/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;return re.test(String(email).toLowerCase())}
$("body").on("click","#r_send",function(e){e.preventDefault();var error=!1;if(validateEmail($("#r_email").val())===!1){error=!0;$("#r_email").val("");$("#r_email").css("background","rgba(255,0,0,0.16)");$("#r_email").attr("placeholder","Введите корректный e-mail")}else{$("#r_email").css("background","none")}
if(/^[0-9]{9,12}$/.test($("#r_phone").val())===!1){error=!0;$("#r_phone").val("");$("#r_phone").attr("placeholder","Введите корректный телефон");$("#r_phone").css('background','rgba(255,0,0,0.16)')}else{$("#r_phone").css('background','none')}
if($("#r_password").val().trim()==""){error=!0;$("#r_password").css('background','rgba(255,0,0,0.16)')}else{$("#r_password").css('background','none')}
if($("#r_name").val().trim()==""){error=!0;$("#r_name").val("");$("#r_name").attr("placeholder","Введите ваше имя");$("#r_name").css('background','rgba(255,0,0,0.16)')}else{$("#r_name").css('background','none')}
if($("#r_surname").val().trim()==""){error=!0;$("#r_surname").val("");$("#r_surname").attr("placeholder","Введите вашу фамилию");$("#r_surname").css('background','rgba(255,0,0,0.16)')}else{$("#r_surname").css('background','none')}
if(error===!1){$.ajax({type:"POST",url:'{% url 'registration' %}',data:{'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val(),'name':$("#r_name").val(),'surname':$("#r_surname").val(),'phone':$("#r_phone").val(),'email':$("#r_email").val(),'password':$("#r_password").val(),},success:function(data){if(data.email==!1){$("#r_email").val("");$("#r_email").attr("placeholder",data.msg_email);$("#r_email").css('background','rgba(255,0,0,0.16)')}else{$("#r_email").css('background','none')}
if(data.password==!1){$("#r_password").css('background','rgba(255,0,0,0.16)')}else{$("#r_password").css('background','none')}
if(data.success===!0){location="{% url "account" %}"}}})}})
</script>
