{% load static %}
<!-- Modal OUTCALL -->
	<div class="modal fade" id="outcall" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Обратный звонок</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="" id="out-c">
						<div class="auth-in">
							<div class="description text-feedback">Введите ваш номер телефона</div>
							<div class="kostyl block-phone-feedback">
								<input type="phone" class="feedback_phone" name="phone" id="phone" placeholder="+38(00)-00-00-000">
							</div>
						</div>
					</form>
                    <br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="send-feedback" name="phone">Отправить</button>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
    $(document).ready(function(e){$("#send-feedback").on("click",function(e){e.preventDefault();var phone=$(".feedback_phone").val();$.ajax({type:"GET",url:'{% url "feedback" %}',data:{"phone":phone,},success:function(data){if(data.success==!0){$(".block-phone-feedback").detach();$(".text-feedback").html('Спасибо. В ближайшее время наши менеджеры обязательно свяжутся с Вами');$(".text-feedback").css({'color':'#1d921d','font-weight':'600',});$("#send-feedback").detach()}}})})})
</script>
